/*
Template Name: WRZCNET Default
Template URI: http://www.wrzc.net/
Description: 默认升级绿色版.
Version: 2.7.2
Author: WRZCNET TEAM
Author URI: http://www.wrzc.net/
Logo filename: logo.gif
Template Type: typegreen_0
*/


/* ====================
     公共样式
==================== */
a {
	text-decoration:none;
	color:#333
}
a:hover {
	color:#f60!important;
	text-decoration:underline
}
a:hover img {
	text-decoration:none
}
.Right { float:right}

.article_block {margin-top:10px ;width:1210px;
	margin-left:auto;
	margin-right:auto}

.clearfix:after {
	content:'.';
	display:block;
	height:0;
	clear:both;
	overflow:hidden
}
.clearfix {
*zoom:1
}
.clear {
	clear:both
}



#focus {
	width:354px;
	height:auto;
	float:left;
	overflow:hidden;
	height:454px;
	padding:3px;
	border:solid 1px #d4d4d4;
	background:#fafafa;
	position:relative
}
#focus .stageBox {
	height:454px;
	width:354px;
	overflow:hidden;
	position:absolute;
	left:3px;
	top:3px
}
#focus .stageBox div {
	height:454px;
	width:354px
}
#focus .stageBox div a {
	display:block
}
#focus .panel {
	height:20px;
	padding:2px 0;
	position:absolute;
	bottom:20px;
	right:10px
}
#focus .panel .nav {
	height:20px;
	float:right;
	background:none!important
}
#focus .panel .nav a {
	display:inline-block;
	background:#4f4f4f;
	color:#fff!important;
	text-align:center;
	text-decoration:none;
	margin-right:10px;
	width:26px;
	height:26px;
	float:left;
	border-radius:13px;
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	line-height:26px;
	font-weight:bold;
	font-size:14px
}
#focus .panel .nav a:hover, #focus .panel .nav a.current {
	background:#af0100!important
}


.articleList {
	float:left;
	margin:0 15px;
	height:460px;
	width:530px;
	overflow:hidden
}
.articleList h3 {
	background:url(images/article_list/bbs_1.png) left top no-repeat;
	width:520px;
	height:24px;
	text-indent:-999em;
	overflow:hidden;
	margin-bottom:15px
}
.articleList .focus_news {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px dotted #bbb
}
.articleList h4 {
	font-size:16px;
	margin-bottom:10px;
	text-align:center;
	color:#c00;
	font-family:'微软雅黑', '黑体'
}
.articleList h4 a {
	font-weight:bold;
	background:0;
	padding:0;
	color:#c00
}
.articleList p {
	line-height:22px;
	color:#999
}

.pic {
	margin-top:10px;
	padding:3px;
	background:#f5f5f5;
	border:solid 1px #d4d4d4;
	width:272px;
	overflow:hidden
}
.learn_news { padding-bottom:10px; margin-bottom:10px;}
.learn_news h4 {
	text-align:left
}


.pageSide {
	width:280px; float:right
}
.sideCom {
	height:auto;
}
.sideCom .title {
	height:31px;
	line-height:31px;
	padding:0 10px;
	background:url(images/article_list/index.png) 0 -34px repeat-x;
	font-size:15px;
	font-weight:bold;
	overflow:hidden;
	 position:relative;
}
.sideCom .title span, .sideCom .title a {
	display:inline-block;
	height:20px;
	line-height:20px;
}
.sideCom .title a.ico {
	display:inline-block;
	width:32px;
	height:31px;
	background:url(images/article_list/index_ico.png) no-repeat;
	overflow:hidden;
	position:absolute;
	right:5px;
	top:0
}
.sideCom .title .ico1 {
	background-position:0 0
}
.sideCom .title .ico2 {
	background-position:0 -31px
}
.sideCom .title a.ico3 {
	background-position:0 -62px
}
.sideCom .title .more {
	float:right;
	line-height:31px;
	color:#858585;
	font-size:12px;
	font-weight:normal
}
.sideCom .body {
	height:auto;
	padding:5px 15px 15px;
	*padding:10px 15px 15px
}
.sideCom .body li {
	height:20px;
	margin-top:8px;
	color:#474747; overflow:hidden;
}

.sideCom .body li .subject {
	overflow:hidden;
}
.sideCom .body li .subject span, .sideCom .body li .subject a {
	display:inline-block;
	float:left
}
.sideCom .body li .subject a {
	line-height:20px
}

.sideCom .body li .ico {
	display:inline-block;
	width:15px;
	height:15px;
	line-height:15px;
	overflow:hidden;
	background:url(images/article_list/index.png) no-repeat;
	color:#fff;
	text-align:center;
	vertical-align:top;
	margin:3px 5px 0 0
}
.sideCom .body li .ico1 {
	background-position:-80px -163px
}
.sideCom .body li .ico2 {
	background-position:-95px -163px
}
.sideCom .body .th {
	border-bottom:dashed 1px #cfcfcf;
	margin-top:0!important;
	padding-bottom:2px
}

.homeAd {
	margin-top:10px;
	clear:both;
	height:80px;
	overflow:hidden;
	position:relative
}
.homeAd img { width:1210px; height:80px;}


.mainCom {
	width:915px;
	float:left; 
}

.mainCom .title,.title, .tabs .tab_nav {
	height:30px;
	border:solid 1px #d4d4d4;
	background:#f3f3f3 url(images/article_list/index.png) repeat-x 0 -34px;
	padding-right:15px;
	overflow:hidden
}
.mainCom .title b, .mainCom .title span,.title b,  .title .span {
	display:inline-block
}
.mainCom .title .tName,  .title .tName {
	color:#fff;
	height:30px;
	line-height:30px;
	padding:0 10px;
	text-align:center;
	font-size:16px;
	overflow:hidden;
	background:url(images/article_list/index.png) 0 -67px repeat-x;
	float:left; 
}
.mainCom .title .icon_l { height:30px; background:url(images/article_list/index_03.gif) no-repeat; float:left; width:8px;}
.mainCom .title .keyWords, .mainCom .title .more,  .title .keyWords,  .title .more {
	height:22px;
	line-height:22px;
	margin-top:5px;
	float:right;
	color:#cfcfcf
}
.mainCom .title .more,  .title .more {
	margin-top:5px
}
.mainCom .title .share,  .title .share {
	padding-top:3px
}
.mainCom .body {
	height:298px;
	padding:0 15px;
	border:solid 1px #d5d5d5;
	border-top:0
	}
.body {
	height:auto;
	padding:0 15px;
	border:solid 1px #d5d5d5;
	border-top:0
}
.mainCom .first {
	border-top:0
}


.first {
	padding:15px 0;
	height:200px; width:440px; float:left; 
}
.first .head {
	background:url(images/article_list/index.png) 0 -320px repeat-x;
	height:30px;
}
.first .head b {
	float:left;
	padding:0 15px;
	border:1px solid #d4d4d4;
	border-bottom:0;
	height:29px;
	background:#f6f6f6;
	line-height:30px
}
.first .head .Right {
	margin:5px 10px 0 0
}
.first .head .Right a {
	margin-right:10px;
	color:#C30; cursor:pointer
}


/*图片列表1*/
.artimg_box {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid;HEIGHT: 360px; OVERFLOW: hidden
}
.sec-title-1 {	
	height:31px;
	line-height:31px;
	padding:0 0px;
	background:url(images/article_list/index.png) 0 -34px repeat-x;
	font-size:15px;
	font-weight:bold;
	overflow:hidden;
	position:relative; padding:0 10px;
	border-bottom:1px solid #d4d4d4; 
	margin-bottom:10px
}
.artimg_box .sec-title-1 H3 {
	float:left; background:none; font-weight:bold; font-size:14px
}
.artimg_box .sec-title-1 H3 {
	COLOR: #000
}
.artimg_box .sec-title-1 .more { float:right; font-size:12px; font-weight:lighter; position:relative; top:7px;}
.artimg_box .focus {
	MARGIN: 0px 20px 0px -308px; WIDTH: 340px;
}
.artimg_box .focus .view {
	WIDTH: 337px; HEIGHT: 265px
}

.artimg_box UL {
	PADDING-LEFT: 323px; OVERFLOW: hidden
}
.artimg_box LI {
	TEXT-ALIGN: center; MARGIN: 0px 12px 21px; WIDTH: 140px; DISPLAY: inline; FLOAT: left
}
.artimg_box IMG {
	WIDTH: 140px; DISPLAY: block; MARGIN-BOTTOM: 10px; HEIGHT: 110px
}

/*图片列表2*/
.artimg_box1 {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid;HEIGHT: 200px; OVERFLOW: hidden
}
.artimg_box1 .sec-title-1 H3 {
	float:left; background:none; font-weight:bold; font-size:14px
}
.artimg_box1 .sec-title-1 H3 {
	COLOR: #000
}
.artimg_box1 .sec-title-1 .more { float:right; font-size:12px; font-weight:lighter; position:relative; top:7px;}


.artimg_box1 UL {
	 OVERFLOW: hidden
}
.artimg_box1 LI {
	TEXT-ALIGN: center; MARGIN: 5px 16px 21px; WIDTH: 140px; DISPLAY: inline; FLOAT: left
}
.artimg_box1 IMG {
	WIDTH: 140px; DISPLAY: block; MARGIN-BOTTOM: 10px; HEIGHT: 110px
}

.artimg_box1 .focus {
	MARGIN: 0px 10px 0px -308px; WIDTH: 300px
}
.artimg_box1 .focus .view {
	WIDTH: 300px; HEIGHT: 265px
}


/*文章列表*/

ul.allList {
	padding-top:10px; padding-bottom:10px
}
ul.allList.bodertop {
	border-top:dotted 1px #d9d9d9;
}
ul.allList li {
	height:26px;
	line-height:26px; overflow:hidden
}
ul.allList li a {
	font-size:14px;
	color:#494949;
}
ul.allList li a.kind {
	display:inline-block;
	padding-left:5px;
	color:#f64f5f;
}
ul.allList li span {
	display:inline-block;
	color:#dfdfdf;
	padding:0 10px;
}

/*头部导航*/
#PLATENAV {
	padding:10px 0 0;
	border:1px solid #ddd;
	width:1208px; overflow:hidden; 
}
#PLATENAV .first {
	margin-left:0!important
}
#PLATENAV .menuList {
	width:387px;
	height:70px;
	float:left;
	margin-left:12px;
	_margin-left:6px; margin-bottom:5px; 
}
#PLATENAV .menuList .plate {
	width:100px;
	height:70px;
	float:left;
	border:1px solid #F7F7F7;
}
#PLATENAV .menuList .plate span {
	background:url(images/article_list/h_ico.png) no-repeat right center;
	height:40px;
	width:90px;
	display:inline-block;
	padding-top:30px;
	text-align:center;
	font-size:14px;
	font-weight:bold; padding-right:10px;
}
#PLATENAV .menuList .plate .jc {
	cursor:pointer
}
#PLATENAV .menuList .subPlate {
	width:280px;
	height:60px;
	padding:6px 0;
	float:left; 
	line-height:20px;
}
#PLATENAV .menuList .subPlate a { display:inline-block;  margin-right:5px;}
#PLATENAV .sLine {
	width:8px;
	height:64px;
	overflow:hidden;
	float:left;
	margin:4px 0;
	background:url(images/article_list/header.png) 0 -139px no-repeat
}

.block5 { height:5px; line-height:5px; visibility:hidden; clear:both;}