/*
Template Name: 广州网软志成
Template URI: http://www.wrzc.net/
Description: (wrzc.net) <br/> 官方网站:http://www.wrzc.net.
Version: 2030
Author: wrzcnet Team
Author URI: http://www.wrzc.net/
Logo filename: logo.gif
Template Type: type_0
*/
/* ====================
     公共样式
==================== */
body {
	font: 12px, '宋体', Arial, Helvetica, sans-serif;
	line-height: 150%;
	margin: 0px 0 7px;
	padding: 0;
	color: #404040;
	font-size: 12px
}
div {
	margin: 0 auto;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p {
	margin: 0;
	padding: 0;
	border: none;
	list-style-type: none;
}
.servers {
	margin: 5px 0 12px 0
}
.block {
	width: 1210px;
	padding: 0px;
	background: #fff;
	height: auto;
	margin: 0 auto;
}
em, strong, th {
	font-style: normal;
	font-weight: normal;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tc font {
	height: 30px;
	line-height: 30px;
}
.tr {
	text-align: right;
}
.dis {
	display: block;
}
.inline {
	display: inline;
}
.none {
	display: none;
}
.dashed {
	background: url(images/lineBg.gif) repeat-x left top;
	color: #3f3f3f;
	padding: 2px 0 3px 12px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*html .clearfix {
	height: 1%;
}
*+html .clearfix {
	height: 1%;
}
.clear {
	clear: both;
}
/*英文强制换行*/
A {
	COLOR: #5f6565;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #5f6565;
	TEXT-DECORATION: none
}
A:focus {
	outline: none
}
.red {
	COLOR: #980300
}
/*边框*/
.B_blue {
	border: 1px solid #e2e2e2;
}
.inputBg {
	border: 1px solid #DDDDDD;
	height: 30px;
	width: 200px;
	line-height: 30px;
	padding: 0px 5px;
}
.inputBgb {
	border: 1px solid #DDDDDD;
	background: #fff;
	height: 26px;
	width: 200px;
	line-height: 26px;
	vertical-align: middle;
	padding: 0px 5px;
}
.f1 {
	color: #df0032;
	font-weight: bold
}
.f2 {
	color: #009821;
	font-weight: bold;
	margin-right: 15px;
}
.f3 {
	color: #9e9e9e;
}
.shop_s {
	color: #CD0000;
	font-weight: bold;
}
.red2, a.red2 {
	color: #F52648;
}
/*按钮部分*/
.bnt_blue {
	background: #ED5854;
	width: 52px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border: none;
	cursor: pointer;
	overflow: hidden
}
.bnt_blue_1 {
	background: #ED5854;
	width: 77px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.bnt_blue_2 {
	background: #ED5854;
	width: 139px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border: none;
	cursor: pointer;
	overflow: hidden
}
.bnt_bonus {
	background: #ED5854;
	width: 52px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #333;
	border: none;
	cursor: pointer;
	overflow: hidden
}
.white {
	color: #ffffff;
	font-weight: bold;
}
.bnt_blue_b {
	background: #ED5854;
	width: 67px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	border: none;
	cursor: pointer;
	overflow: hidden;
	vertical-align: middle
}
.f1 {
	color: #AC1832;
}
.f2 {
	color: #F1143B;
	font-weight: normal;
	margin-right: 5px;
}
.f3 {
	color: #9e9e9e;
}
.f4 {
	color: #CF0F02;
}
.f7 {
	color: #000;
	font-size: 18px;
	font-weight: 400;
}
.f4_b {
	color: #000;
}
.f5 {
	font-size: 14px;
	font-weight: 400;
}
.f6 {
	color: #F52648;
}
.market {
	font-size: 12px;
	text-decoration: line-through;
	color: #999;
	font-weight: bold;
}
.shop {
	color: #CD0000;
	font-size: 18px;
	font-weight: 600;
}
.shop_s {
	color: #fe596a;
}
.f_l {
	float: left
}
/*模块容器*/
.box {
	padding-bottom: 2px;
	overflow: hidden;
}
.box_1 {
	background-color: #fff;
}
/*页面留白*/
.blank {
	height: 10px;
	line-height: 10px;
	clear: both;
	visibility: hidden;
}
.blank5 {
	height: 5px;
	line-height: 5px;
	clear: both;
	visibility: hidden;
}
h5 {
	height: 26px;
	line-height: 26px;
	text-align: right;
	background-color: #e4e4e4;
	font-size: 12px;
	color: #900;
	padding: 0 10px 0 0;
}
h5 span {
	float: left;
	font-weight: bold;
	padding-left: 15px;
	color: #333
}
h6 {
	height: 23px;
	line-height: 23px;
	text-align: right;
	font-size: 12px;
	background: #f6f6f6;
	color: #3f3f3f;
	border: 1px solid #fff;
	padding-right: 10px;
}
h6 span {
	float: left;
	padding-left: 15px;
}
/*商品分类*/
#category_tree {
	border: 1px solid #e1e1e1;
	background-color: #fff;
}
#category_tree .title_cate {
	height: 30px;
	color: #fe5507;
	font: bold 14px/30px "宋体";
	padding-left: 10px;
}
#category_tree dl {
	margin: 0px;
}
#category_tree dt {
	color: #3f3f3f;
	padding: 0 0 5px 0px;
}
#category_tree dt a {
	color: #555;
	padding-left: 15px;
	text-decoration: none;
	font-size: 12px;
	font-weight: 700;
	background: url(img/tree_dt.jpg) 0 0;
	height: 26px;
	display: block;
	line-height: 26px;
}
#category_tree dd {
	padding: 0px 0 5px 15px;
	width: 40%;
	overflow: hidden;
	float: left;
	white-space: nowrap;
	word-break: keep-all;
	display: inline;
}
#category_tree dd a {
	color: #333;
	text-decoration: none;
	font-weight: normal;
}
#category_tree dd a:hover {
	color: #ac1832;
	text-decoration: none;
}
.centerPadd {
	padding: 5px 0;
	overflow: hidden;
}
.centerPadd .goodsBox {
	background: #fff;
	padding: 12px 0px 0px 0px;
}
.centerPadd .goodsBox .more {
	text-align: right;
	clear: both;
	margin: 0 8px 8px 0;
}
/*单个商品*/
.goodsItem {
	width: 165px;
	float: left;
	overflow: hidden;
	margin: 0 37px 10px 0;
	height: 225px;
}
.goodsItem a.goodsimg {
	width: 150px;
	height: 150px;
	border: 1px solid #E4E4E4;
	display: block;
	margin-bottom: 5px;
}
.goodsItem a.goodsimg:hover {
	border: 1px solid #CD0000;
	display: block;
}
.goodsItem p {
	text-align: left;
	color: #3f3f3f;
}
.goodsItem p a {
	color: #3f3f3f;
	text-decoration: none;
}
.goodsItem p a:hover {
	color: #CD0000;
	text-decoration: none;
}
.goodsItem span, .goodsList ul span {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.AreaR .boxCenterList {
	overflow: hidden;
	zoom: 1;
}
.boxCenterList {
	background: #FFF;
}
.boxCenterList ul {
	min-height: 1%;
	display: inline-block;
	height: auto;
	margin-bottom: 5px;
}
.boxCenterList li {
	margin-bottom: 10px;
	overflow: hidden;
}
.boxCenterList li b {
	color: #c00;
	font: bold 12px/1.5 tahoma, verdana, arial, helvetica, sans-serif;
}
.boxCenterList li img.goodsimg {
	width: 72px;
	height: 72px;
	display: block;
	border: none;
	float: left;
	margin: 0 5px;
}
.group .f_l {
	width: 220px;
	text-align: center;
}
.group .f_l {
	width: 220px;
	text-align: center;
}
.group li {
	float: left;
	background: #fff;
	padding: 8px;
}
.boxCenterList li {
	float: left;
	width: auto;
}
.clear {
	CLEAR: both
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.blank10 {
	CLEAR: both;
	FONT-SIZE: 0px;
	OVERFLOW: hidden;
	LINE-HEIGHT: 10px;
	HEIGHT: 10px
}
.search {
	FLOAT: left;
	MARGIN-LEFT: 0px
}
#key {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 24px;
	BORDER-LEFT-WIDTH: 0px;
	FONT-SIZE: 14px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-BOTTOM-WIDTH: 0px;
	PADDING-BOTTOM: 6px;
	WIDTH: 330px;
	COLOR: #999;
	LINE-HEIGHT: 15px;
	PADDING-TOP: 8px;
	HEIGHT: 15px;
	BORDER-RIGHT-WIDTH: 0px
}
#head {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px auto;
	OVERFLOW: hidden;
	WIDTH: 1000px;
	HEIGHT: 75px;
	z-index: 1000
}
.logo {
	FLOAT: left;
	WIDTH: 200px;
	background: url(images/logo.gif) no-repeat left center;
	display: block;
	height: 75px;
}
/*----  导航栏  ----*/
.container {
	MARGIN: 0px auto;
	WIDTH: 1000px;
	background: #1D1D1D;
}
.hot {
	BACKGROUND-POSITION: -6px -676px;
	LEFT: 600px;
	WIDTH: 33px;
	POSITION: absolute;
	TOP: -42px;
	HEIGHT: 17px
}
.w1 {
	LEFT: 12px;
	WIDTH: 360px
}
/*布局*/
.AreaL {
	width: 210px;
	float: left;
}
.AreaR {
	width: 1000px;
	float: right;
	overflow: hidden
}
/*公告*/   
.box_r {
	BORDER-BOTTOM: #e4e4e4 1px solid;
	BORDER-LEFT: #e4e4e4 1px solid;
	BORDER-TOP: #e4e4e4 1px solid;
	BORDER-RIGHT: #e4e4e4 1px solid;
	BACKGROUND: url(images/index_bg.gif) no-repeat -9999px 0px
}
/*团购*/
.group_buy {
	BACKGROUND: url(images/index_bg.gif) no-repeat;
	BACKGROUND-POSITION: 0px -800px;
	height: 150px;
	padding: 20px 8px 0px 8px;
}
.boxCenterList li {
	line-height: 2em
}
.group_buy .item {
	text-align: center;
	line-height: 23px;
}
.group_buy .pic {
	margin-top: 20px;
}
.group_buy a.name {
	color: #000;
	font-weight: bold;
	font-size: 12px;
}
.group_buy .price {
	font-size: 12px;
}
/*精品推荐，新品上市，热卖商品*/
.centerPadd {
	padding: 5px 8px 8px 8px;
	overflow: hidden;
}
.centerPadd .goodsBox {
	border: 1px solid #d6ecff;
	background: #fff;
	padding: 12px 0px 0px 17px;
*padding:12px 0px 0px 17px;
	_padding: 12px 0px 0px 0px;
}
.centerPadd .goodsBox .more {
	text-align: right;
	clear: both;
	margin: 0 8px 8px 0;
}
.captcha {
	margin-left: 0px;
	position: relative;
	top: -1px;
*margin-left:8px;
*position:relative;
	top: 3px;
	cursor: pointer;
}
/* ====================
     用户中心
==================== */
/*欢迎界面*/
.m3 {
	BORDER-BOTTOM: #edd28b 1px solid;
	BORDER-LEFT: #edd28b 1px solid;
	BACKGROUND: #fffdee;
	BORDER-TOP: #edd28b 1px solid;
	BORDER-RIGHT: #edd28b 1px solid
}
.user {
	TEXT-ALIGN: center;
	FLOAT: left;
	width: 120px;
}
.m5 .mt .extra {
	COLOR: #666666
}
.username {
	LINE-HEIGHT: 25px;
	MARGIN-BOTTOM: 3px;
	HEIGHT: 30px;
	OVERFLOW: hidden
}
.username .extra {
	FLOAT: right
}
.username STRONG {
	COLOR: #333333;
	FONT-SIZE: 20px;
	FONT-WEIGHT: normal
}
.account {
	LINE-HEIGHT: 23px;
	ZOOM: 1;
	MARGIN-BOTTOM: 5px;
	OVERFLOW: hidden
}
.account .fl S {
	LINE-HEIGHT: 100px;
	WIDTH: 16px;
	DISPLAY: inline-block;
	BACKGROUND: url(i/icon-veri.png) no-repeat;
	HEIGHT: 16px;
	FONT-SIZE: 0px;
	VERTICAL-ALIGN: middle;
	OVERFLOW: hidden;
	MARGIN-RIGHT: 3px;
	WIDTH: 22px;
	BACKGROUND-POSITION: -51px 0px;
	HEIGHT: 20px
}
.ftx-03 {
	COLOR: #999999
}
/*注册*/
.msgBottomBorder {
	clear: both;
	background: url(images/lineBg.gif) repeat-x left bottom;
	padding-bottom: 8px;
	margin-bottom: 8px;
}
/* ====================
     购物流程
==================== */
.flowBox {
	padding: 10px;
	background: none;
	margin-bottom: 8px;
	border: #DDDDDD 1px solid;
	border-top: #999 2px solid;
}
.flowBox h6 {
	background: none;
	color: #5f65656;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}
.flowBox table {
	margin: 5px 0;
}
/* ====================
    打印报价单
==================== */
.quotation {
	margin: 20px auto 20px auto;
	text-align: center;
}
/*翻页*/
.pagebar {
	FLOAT: right;
	HEIGHT: 25px
}
.pagebar IMG {
	POSITION: relative;
	TOP: 2px
}
.pagebar A {
	FLOAT: left;
	MARGIN: 0px 5px;
	TEXT-DECORATION: none;
	padding-left: 7px;
	padding-right: 7px;
	color: #ff6400;
	border: #ff9600 1px solid;
	background: url(images/pagebg.jpg) repeat-x;
}
.pagebar .page_now {
	DISPLAY: block;
	FONT-WEIGHT: bold;
	FLOAT: left;
	MARGIN: 0px 5px;
	background: #ffbe94;
	padding-left: 7px;
	padding-right: 7px;
	border: #ff6501 1px solid;
	color: #ff673b;
}
/*  积分兑换样式修改 */
.point li {
	float: left;
	width: 300px;
}
/*********************放大镜配置文件*******************************************************************************************/

/* CSS style for loading animation box */
.MagicZoomLoading {
	text-align: center;
	background: #ffffff;
	color: #444;
	border: 1px solid #ccc;
	opacity: 0.8;
	padding: 3px 3px 3px 3px !important;
	display: none; /* do not edit this line please */
}
/* CSS style for gif image in the loading animation box */
.MagicZoomLoading img {
	padding-top: 3px !important;
}
/* ?2008 MagicToolbox.com. To use this code on your own site, visit http://www.magictoolbox.com */

/* CSS class for thumbnail link <a> */
.MagicThumb {
	cursor: url(images/zoomin.cur), pointer;
	outline: none;
}
/* CSS class for the thumbnail link <a> when the big image is zoomed mo ban tang ban quan suo you */
.MagicThumb-zoomed {
	cursor: default;
}
/* CSS class for span inside the thumbnail <a> */
.MagicThumb span {
	display: none;
}
/* CSS class for the thumbnail image */
.MagicThumb img {
	border: 1px solid #e5e5e5;
	outline: none;
}
/* CSS class for the big image while zooming */
.MagicThumb-image {
	border: 1px solid #e5e5e5;
	outline: none;
}
/* CSS class for the zoomed big image */
.MagicThumb-image-zoomed {
	cursor: url(images/zoomout.cur), pointer;
}
/* CSS class for the caption under the big zoomed image */
.MagicThumb-caption {
	color: #333333;
	background-color: #F0F0F0;
	border: 1px solid #E4E4E4;
	border-top: none;
	font-family: Verdana, Helvetica;
	font-size: 11px;
	padding: 8px 16px;
}
/* CSS class for the control bar  */
.MagicThumb-controlbar {
	display: block;
	height: 18px;
}
.MagicThumb-controlbar a {
	display: block;
	width: 18px;
	height: 18px;
	margin: 0px 1px;
	outline: none;
	float: left;
	overflow: hidden;
}
.MagicThumb-controlbar a span {
	display: block;
	width: 1000px;
	height: 1000px;
	background: transparent url(images/controlbar.png) no-repeat 0 0;
	outline: none;
	position: absolute;
	left: 0px;
	top: 0px;
}
/* CSS class for the loading message box */
.MagicThumb-loading {
	border: 1px solid #000000;
	background: #ffffff url(images/loader.gif) no-repeat 2px 50%;
	padding: 2px 2px 2px 22px;
	margin: 0;
	text-decoration: none;
	text-align: left;
	font-size: 8pt;
	font-family: sans-serif;
}
.picture {
	margin-top: 10px;
	text-align: left;
}
.picture img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin: 0 3px;
}
.picture img.onbg {
	border: 2px solid #ff9900;
}
.picture img.autobg {
	border: 2px solid #fff;
}
/*===========================*/
.fl {
	FLOAT: left;
	_display: inline
}
.fr {
	FLOAT: right;
	_display: inline
}
.mt10 {
	MARGIN-TOP: 10px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.pt10 {
	PADDING-TOP: 10px
}
.pl5 {
	PADDING-LEFT: 5px
}
.pl10 {
	PADDING-LEFT: 10px
}
.inline {
	DISPLAY: inline
}
.inblock {
	DISPLAY: inline
}
.none {
	DISPLAY: none
}
.hidden {
	VISIBILITY: hidden
}
.relative {
	POSITION: relative
}
.absolute {
	POSITION: absolute
}
.zoom {
	ZOOM: 1
}
.blod {
	FONT-WEIGHT: bold
}
.bloder {
	FONT-WEIGHT: bolder
}
.pointer {
	CURSOR: pointer
}
/*=========================*/
.width {
	WIDTH: 172px
}
.produce {
	FLOAT: left;
	margin-right: 35px;
	WIDTH: 163px;
	HEIGHT: 197px;
	TEXT-ALIGN: left;
}
.price {
	FONT-WEIGHT: bold;
	COLOR: #F52648
}
.market_price {
	FONT-WEIGHT: bold;
	COLOR: #757575;
	TEXT-DECORATION: line-through
}
#more {
	WIDTH: 70px;
	COLOR: #000;
	MARGIN-RIGHT: 15px
}
#more A {
	COLOR: #000;
	TEXT-DECORATION: none
}
#more A:hover {
	COLOR: #f60;
	TEXT-DECORATION: underline
}
.copyright {
	MARGIN-TOP: 5px;
	WIDTH: 1000px;
	HEIGHT: 25px;
	TEXT-ALIGN: center
}
.info {
	width: 245px;
	height: 313px;
	margin-left: 9px;
	line-height: 20px;
	position: relative;
}
.info .title {
	width: 252px;
	height: 45px;
}
.info ul {
	margin-top: 50px;
}
.info li {
	padding-left: 18px;
}
.info a {
	color: #3b4e4a;
}
.info a:hover {
	text-decoration: underline;
}
/*------商品筛选------*/
.goods_sxtitle {
	BORDER-BOTTOM: #000 1px solid;
	BACKGROUND: url(images/bm_titwrzcnet_bg.gif) repeat-x 1px top;
	HEIGHT: 33px;
	BORDER-TOP: #e4e4e4 1px solid;
	BORDER-RIGHT: #e4e4e4 1px solid;
	BORDER-left: #e4e4e4 1px solid;
	line-height: 33px;
	text-align: left;
	text-indent: 5px;
	position: relative;
}
.goods_sxtitle span {
	font-size: 14px;
	font-weight: lighter
}
.goods_sxtitle img {
	position: absolute;
	top: 10px;
	left: 5px;
}
.sort {
	font-size: 12px;
	font-weight: 100;
	line-height: 30px;
	position: relative;
}
.sort img {
	position: relative;
	top: 4px;
}
.sort select {
	_position: relative;
	top: 4px;
}
.sort .input_sub {
	position: relative;
	top: 4px;
	_top: 6px;
}
.mod2con {
	padding: 5px 8px;
}
.mod2con h1 {
}
/*属性相关的商品*/
ul.attribute {
	margin-bottom: 6px;
	float: left;
}
ul.attribute li {
	padding-bottom: 5px;
	margin-bottom: 5px;
	min-height: 62px;
	border-bottom: 1px solid #ececec;
	float: left;
	width: 350px;
}
ul.attribute li img {
	width: 60px;
	height: 60px;
	border: 1px solid #ccc;
	margin-right: 8px;
}
.fl1_ad ul li {
	width: 372px;
	height: 140px;
	border: 1px solid #e5e5e5
}
.mod1tit {
	font-weight: normal;
	font-size: 14px;
	height: 30px;
	line-height: 30px; /*margin-bottom:10px;*/
	position: relative;
	text-indent: 15px;
	font-family: "微软雅黑";
	border: #E4E4E4 1px solid;
	border-bottom: none;
	border-top: 2px solid #aaaaaa;
	background: #F7F7F7;
}
.mod1tit .more {
	position: absolute;
	top: 0px;
	right: 10px;
	font-weight: 100;
	font-size: 12px;
}
#product-track .box h3 {
	font-weight: normal;
	font-size: 14px;
	height: 28px;
	line-height: 28px; /*margin-bottom:10px;*/
	position: relative;
	text-indent: 12px;
	font-family: "微软雅黑";
	border: #E4E4E4 1px solid;
	border-bottom: none;
	font-weight: bold;
}
.InputBorder {
	border: 1px solid #ccc;
}
.bnt_number2, .bnt_number4, .bnt_number6, .bnt_number8, .bnt_number10 {
	border: none;
	text-align: center;
	font-weight: 100;
	font-size: 12px;
	color: #000000;
	height: 21px;
	vertical-align: middle;
	cursor: pointer;
}
.bnt_number4 {
	width: 81px;
	background: none
}
.input {
	BORDER-BOTTOM-STYLE: none;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 26px;
	BORDER-RIGHT-STYLE: none;
	PADDING-LEFT: 2px;
	WIDTH: 238px;
	PADDING-RIGHT: 2px;
	BORDER-TOP-STYLE: none;
	BACKGROUND: url(images/searinput.jpg) no-repeat left top;
	HEIGHT: 26px;
	COLOR: #000;
	BORDER-LEFT-STYLE: none;
	PADDING-TOP: 0px;
	float: left;
	margin-top: 0px;
*margin-top:6px;
}
.msgBottomBorder {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	MARGIN: 0px 0px 10px;
	PADDING-TOP: 10px
}
.captcha {
	MARGIN-LEFT: 8px;
	CURSOR: pointer;
	POSITION: relative;
	TOP: 3px
}
.p_name {
	OVERFLOW: hidden;
	WIDTH: 100%;
	LINE-HEIGHT: 20px;
	HEIGHT: 62px
}
.p_price {
	OVERFLOW: hidden;
	WIDTH: 100%;
	COLOR: #999999;
	HEIGHT: 24px
}
#brands {
	CLEAR: both;
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 20px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px
}
#brands .bradnsLogo {
	DISPLAY: inline;
	FLOAT: left;
	OVERFLOW: hidden;
	WIDTH: 111px;
	HEIGHT: 40px;
	TEXT-ALIGN: center
}
.clear {
	CLEAR: both;
}
.line {
	CLEAR: both;
	FONT-SIZE: 0px;
	OVERFLOW: hidden;
	LINE-HEIGHT: 0px;
	BORDER-BOTTOM: #ebd7c4 1px solid;
	HEIGHT: 0px
}
.right-extra .top IMG {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN-RIGHT: 10px
}
.blank5 {
	height: 5px;
	line-height: 5px;
	clear: both;
}
/* 购物车弹出效果*/
.blank5 {
	height: 5px;
	line-height: 5px;
	clear: both;
}
span.goods_cut {
	background: url("images/number_input_01.gif") no-repeat scroll 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0;
	height: 24px;
	line-height: 0;
	margin: 8px 5px 0;
	width: 14px;
	position: inherit
}
span.goods_add {
	background: url(images/number_input_04.gif) no-repeat scroll 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0;
	height: 24px;
	line-height: 0;
	margin: 8px 5px 0;
	width: 14px;
	position: inherit;
}
/*sortlist*/
#sortlist {
	border: 1px solid #ddd;
	border-top: none
}
#sortlist .mt {
	display: none;
	height: 24px;
	padding: 3px 8px;
	line-height: 24px;
}
#sortlist h2 {
	color: #fff;
}
#sortlist .mc {
	width: 208px;
	margin-top: -1px;
	background: #FFF;
}
#sortlist h3 {
	height: 30px;
	background-color: #F7F7F7;
	padding: 0 7px 0 10px;
	border-top: 1px solid #ddd;
	cursor: pointer;
	font: normal 14px/30px \5fae\8f6f\96c5\9ed1;
}
#sortlist .fore h3 {
	border: none;
}
#sortlist b {
	float: left;
	width: 16px;
	height: 16px;
	margin: 7px 8px 0 0;
	background: url(images/20130603A.png) no-repeat -20px 0;
	overflow: hidden;
	cursor: pointer;
}
#sortlist ul {
	overflow: hidden;
	display: none;
	padding: 6px 0;
	border-top: 1px solid #ddd;
	zoom: 1;
}
#sortlist li {
	width: 159px;
	height: 18px;
	padding: 3px 15px 3px 35px;
	overflow: hidden;
}
#sortlist .curr a {
	font-weight: bold;
	color: #E4393C;
}
#sortlist .current b {
	background: url(images/20130603A.png) no-repeat -37px 0;
}
#sortlist .current ul {
	display: block;
}
.block {
	width: 1210px;
	padding: 0px;
	background: #fff;
	height: auto;
	margin: 0 auto;
}
.right-extra {
	float: right;
	width: 990px;
}
.right-extra {
	width: 990px;
}
.left-extra {
	float: left;
	width: 210px;
}
.right-extra .box_1 h3 {
	font-weight: normal;
	font-size: 14px;
	height: 30px;
	line-height: 30px; /*margin-bottom:10px;*/
	position: relative;
	text-indent: 15px;
	font-family: "微软雅黑";
	border: #E4E4E4 1px solid;
	border-bottom: none;
	background: #F7F7F7;
}
.td-address {
	margin-left: 15px;
}
.pay-tr td {
	border-bottom: 1px dotted #ccc;
}
/*用户信息*/
.myInfo .info_op ul li i,.money li .pic i,.account .middle i.user_bg,#safe05 .fore1 s{
	background: url(images/shengji_ad/user_center.png) no-repeat
}
.myInfo .info_op {
	width: 80px;
	height: 80px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
}
.myInfo .info_op ul {
	width: 80px;
	height: 80px;
}
.myInfo .info_op ul li {
	float: left;
	width: 80px;
	height: 25px;
	line-height: 25px;
margin-top:
}
.myInfo .info_op ul li i {
	width: 16px;
	height: 16px;
	display: inline-block;
*display:inline;
*zoom:1;
	vertical-align: middle;
}
.myInfo .info_op ul li.info_op1 i {
	background-position:0px 0px
}
.myInfo .info_op ul li.info_op2 i {
	background-position:0px -25px
}
.myInfo .info_op ul li.info_op3 i {
	background-position:0px -200px
}
.myInfo .info_op ul li a {
	padding-left: 5px;
	vertical-align: middle;
}
.myInfo .info_op ul li a:hover {
	color: #C81623
}
/*侧导航列表*/
.func .title {
	height: 22px;
	width: 168px;
	margin: 11px 0;
}
.func .title span {
	font-family: "微软雅黑";
	font-size: 15px;
	color: #333;
	display: inline-block;
*display:inline;
*zoom:1;
	vertical-align: middle
}
.func .title i {
	margin-top: 2px;
	margin-right: 11px;
	background: url(images/shengji_ad/user.png) no-repeat;
	display: inline-block;
*display:inline;
*zoom:1;
	vertical-align: middle
}
.func.func1 .title i {
	width: 21px;
	height: 17px;
	background-position: -129px 0;
}
.func.func2 .title i {
	margin-right: 12px;
	width: 19px;
	height: 17px;
	background-position: -61px 0;
}
.func.func3 .title i {
	margin-right: 9px;
	width: 18px;
	height: 18px;
	background-position: -96px 0;
}
.func .item {
	width: 109px;
	height: 30px;
	display: block;
	padding: 0 28px 0 31px;
	line-height: 30px;
	cursor: pointer;
}
.func .item:hover {
	background: #f0f0f0
}
.func .item.curs {
	color: #C81623;
}
.func .item span:hover {
	text-decoration: underline;
	color: #C81623
}
.func .item i {
	width: 5px;
	height: 9px;
	margin-top: 10px;
	background: url(images/shengji_ad/user.png) no-repeat -200px 0;
	float: right;
	display: inline-block;
}
.func .item.on i {
	background: url(images/shengji_ad/user.png) no-repeat -484px -73px;
}
.func .item span {
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
}
.func .item .pop {
	background-color: #f42f2f;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	padding: 1px 2px;
	position: relative;
	top: -5px;
	left: 0;
	margin-left: 5px;
	font-family: "宋体";
}
.func .item .pop:hover {
	text-decoration: none;
}
.func .item .pop i {
	width: 5px;
	height: 3px;
	background: url(images/shengji_ad/user.png) no-repeat -99px -37px;
	position: absolute;
	bottom: -3px;
	left: 3px;
	margin-right: 0;
	float: none;
	_bottom: -12px;
}
/*中部购买信息begin*/
/*账户余额等4个block*/
.account .notice{
	border-bottom:1px #eee solid;
	border-right:1px #eee solid;
	height:39px;
	line-height:39px;
	padding:0px 15px;
	width:969px;
	overflow:hidden;
	background:#FBFBFB;
}
.account .notice i{
	background:url(images/upgrade_ad1/notice.png) no-repeat;
	width:16px;
	height:15px;
	display:inline-block;
	margin:0px 5px 0px 0px;
	vertical-align:middle
}
.account .money {
	height: 110px;
	padding: 20px 0 18px 0;
	border-bottom: 1px solid #eee;
	float: left
}
.account .money a:hover {
	text-decoration: none;
}
.money li {
	width: 230px;
	height: 110px;
	border-left: 1px dotted #e4e4e4;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	text-align: center
}
.money li:hover {
	cursor: pointer;
}
.money li.first {
	width: 230px;
	border-left: none;
}
.money li .title {
	height: 24px;
	margin-bottom: 8px;
}
.money li .pic {
	height: 32px;
	margin-bottom: 8px;
	display: inline-block;
*display:inline;
*zoom:1;
}
.money li .pic i {
	height: 32px;
	margin-top: 2px;
	display: inline-block;
*display:inline;
*zoom:1;
}
.money li.first .pic i {
	width: 32px;
	height: 32px;
	background-position:0px -45px
}
.money li.first:hover .pic i {
	width: 32px;
	height: 32px;
	background-position:-50px -45px
}
.money li.second .pic i {
	width: 32px;
	height: 32px;
	background-position:0px -145px
}
.money li.second:hover .pic i {
	width: 32px;
	height: 32px;
	background-position:-50px -145px
}
.money li.third, .money li.third:hover {
	text-decoration: none
}
.money li.third .pic i {
	width: 32px;
	height: 32px;
	background-position:0px -98px
}
.money li.third:hover .pic i {
	width: 32px;
	height: 32px;
	background-position:-49px -98px
}
.money li .title span {
	margin-top: 2px;
	font-size: 14px;
	display: inline-block;
*display:inline;
*zoom:1;
}
.money li p {
	text-align: center;
	color: #333;
	font-family: "Microsoft Yahei";
}
.money li p a, .money li p span._goldAccount {
	font-size: 18px;
	margin: 0px 5px;
	color: #FF875C;
}
.money li p a:hover {
	color: #C81623
}
.money li p span {
	font-size: 14px;
	margin-top: 3px;
	display: inline-block;
*display:inline;
*zoom:1;
}
/*账户安全*/
.account .security {
	width: 306px;
	height: 148px;
	float: left;
	border: 1px solid #eee;
	border-top: none
}
.account .clearfix {
	clear: both;
}
/*最近订单*/
.account a:hover {
	color: #C81623;
}
.middle .clearfix {
	clear: both;
}
.middle .line1 {
	height: 35px;
	line-height: 35px;
	overflow: hidden;
}
.middle .line1 .title {
	display: inline-block;
*display:inline;
*zoom:1;
}
.middle .line1 .title i {
	width: 4px;
	height: 18px;
	line-height: 35px;
	display: inline-block;
*display:inline-block;
	background-color: #FD6760;
	margin-left: 13px;
	margin-right: 8px;
	vertical-align: middle;
}
.middle .line1 .title span {
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	font-size: 14px;
	display: inline-block;
*display:inline;
}
.order .title, .collect .title, .shop_store .title, .exchange .title {
	margin-right: 8px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
}
.order .status {
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	margin-left: 100px
}
.order .more, .collect .more, .shop_store .more, .exchange .more {
	margin-right: 20px;
	float: right;
	display: inline-block;
*display:inline;
*zoom:1;
}
.order .status li {
	padding-left: 10px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
}
.order .status i {
	width: 1px;
	height: 12px;
	background-color: #999;
	margin-top: 2px;
	display: inline-block;
*display:inline;
*zoom:1;
	_height: 8px;
}
.order .status li span {
	color: #c41921;
	padding-left: 7px;
	padding-right: 10px;
}
/*判断待付款中没有商品的状态*/
.emptyFrame {
	width: 385px;
	margin: 60px auto 0;
	text-align:center;
}
.account .middle .emptyFrame i {
	width: 50px;
	height: 64px;
	background-position:-100px 0px;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.emptyFrame span {
	width: 385px;
	text-align: center;
	color: #DD997F;
	font-size: 14px;
	float: left;
	display: inline-block;
*display: inline;
*zoom: 1;
	margin-top: 20px;
}
/*判断待付款中有商品的状态*/
.proListUc {
	height: 270px;
	padding: 0px 15px
}
.proListUc>ul {
	padding: 10px 0px;
	height: 50px;
}
.proListUc li {
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
}
.proListUc ul.img {
	margin-left: 30px;
	width: 110px;
	height: 50px;
	overflow: hidden;
}
.proListUc ul.img li, .proListUc ul.img img {
	width: 50px;
	height: 50px;
}
.proListUc ul.img li {
	margin-right: 5px;
}
.proListUc .name {
	width: 240px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	margin-top: 12px;
	margin-right: 5px;
}
.proListUc .attr, .proListUc .time, .proListUc .type {
	width: 90px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 12px;
	margin-right: 5px;
}
.proListUc .attr {
	width: 115px;
}
.proListUc .check {
	margin-top: 12px;
	height: 25px;
	line-height: 25px;
	width: 54px;
	overflow: hidden;
}
.proListUc .check a {
	display: block;
	text-align: center;
	color: #FF875C
}
.proListUc .check .commentShow {
	color: #0066cc;
}
/*判断购物车中没有商品的状态*/
.emptyFrame_cart {
	width: 185px;
	margin: 60px auto 0;
	text-align:center
}
.account .middle .emptyFrame_cart i {
	width: 65px;
	height: 64px;
	background-position:-175px -75px;
	display: inline-block;
*display: inline;
*zoom: 1;
}
.emptyFrame_cart span {
	width: 185px;
	text-align: center;
	color: #DD997F;
	font-size: 14px;
	float: left;
	display: inline-block;
*display: inline;
*zoom: 1;
	margin-top: 20px;
}
/*判断购物车中有商品的状态*/
.proListUc_cart {
	width: 295px;
	height: auto;
	margin-left: 12px;
	float: left;
}
.proListUc_cart .div_scroll {
	width: 100%;
	height: 215px;
	overflow: auto;
	float: left;
}
.proListUc_cart .listLine_cart {
	width: 275px;
	height: 215px;
	display: inline-block
}
.proListUc_cart .listLine_cart li {
	width: 275px;
	height: 60px;
	padding: 5px 0px;
	display: inline-block;
}
.proListUc_cart .listLine_cart li a:hover {
	color: #C81623
}
.proListUc_cart .listLine_cart li a.pic {
	width: 60px;
	height: 60px;
	display: inline-block;
	float: left
}
.proListUc_cart .listLine_cart li a img {
	width: 60px;
	height: 60px;
}
.proListUc_cart .listLine_cart li a.name {
	float: left;
	margin-left: 10px;
	width: 195px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	display: inline-block
}
.proListUc_cart .listLine_cart li p {
	float: left;
	margin-left: 10px;
	width: 195px;
	height: 15px;
	line-height: 15px;
}
.proListUc_cart p.more {
	width: 275px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-top: 1px #e4e4e4 dotted;
	display: inline-block;
	margin-top: 20px
}
.proListUc_cart p.more a:hover {
	color: #C81623
}
/*积分兑换*/
.account .exchange {
	float: left;
	width: 692px;
	height: 225px;
	padding: 10px 0px;
	border-bottom: 1px solid #e4e4e4;
}
/*判断没有积分兑换的状态*/
.emptyFrame_exchange {
	width: 385px;
	margin: 40px auto 0;
	text-align:center
}
.account .middle .emptyFrame_exchange i {
	width: 65px;
	height: 64px;
	background-position:-100px -75px;
	float: left;
	display: inline-block;
*display: inline;
*zoom: 1;
}
.emptyFrame_exchange span {
	width: 385px;
	text-align: center;
	color: #DD997F;
	font-size: 14px;
	float: left;
	display: inline-block;
*display: inline;
*zoom: 1;
	margin-top: 20px;
}
/*判断有积分兑换的状态*/
.exchangeList {
	margin-top: 20px
}
.exchangeList .colFrame {
	width: 635px;
	height: 150px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	margin-left: 25px;
	overflow: hidden;
	position: relative;
}
.exchangeList ul {
	width: 635px;
	position: relative;
}
.exchangeList ul li {
	width: 157px;
	height: 150px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}
.exchangeList ul li a {
	width: 120px;
	display: inline-block;
	text-align: center
}
.exchangeList ul li a.img {
	position: relative
}
.exchangeList ul li a span {
	position: absolute;
	top: 100px;
	right: 0px;
	background: #C81623;
	color: #ffffff;
	height: 20px;
	line-height: 20px;
	width: 60px;
	text-align: center;
	display: inline-block
}
.exchangeList ul li a.name {
	height: 30px;
	line-height: 30px
}
.exchangeList ul li a:hover {
	color: #C81623;
}
.exchangeList ul li a img {
	width: 120px;
	height: 120px
}
/*判断浏览历史没有商品的状态*/
.emptyFrame_history {
	width: 185px;
	margin: 40px auto 0;
	text-align:center
}
.account .middle .emptyFrame_history i {
	width: 65px;
	height: 64px;
	background-position:-275px 0px;
	display: inline-block;
*display: inline;
*zoom: 1;
}
.emptyFrame_history span {
	width: 185px;
	text-align: center;
	color: #DD997F;
	font-size: 14px;
	float: left;
	display: inline-block;
*display: inline;
*zoom: 1;
	margin-top: 20px;
}
/*判断浏览历史有商品的状态*/
.proListUc_history {
	margin-top: 20px;
}
.proListUc_history .colFrame {
	width: 275px;
	height: 135px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
}
.proListUc_history ul {
	width: 275px;
	position: relative;
}
.proListUc_history ul li {
	width: 89px;
	height: 135px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}
.proListUc_history ul li a {
	width: 80px;
	display: inline-block;
	text-align: center
}
.proListUc_history ul li a.img {
	position: relative
}
.proListUc_history ul li a span {
	position: absolute;
	top: 100px;
	right: 0px;
	background: #C81623;
	color: #ffffff;
	height: 20px;
	line-height: 20px;
	width: 60px;
	text-align: center;
	display: inline-block
}
.proListUc_history ul li a.name {
	height: 25px;
	line-height: 25px;
	overflow: hidden
}
.proListUc_history ul li a:hover {
	color: #C81623;
}
.proListUc_history ul li a img {
	width: 80px;
	height: 80px
}
.proListUc_history ul li a .mask {
	width: 80px;
	height: 80px;
	background: url(images/shengji_ad/mask1.png) no-repeat 0 0;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}
.proListUc_history p.pri {
	width: 80px;
	height: 80px;
	display: inline-block;
	text-align: center;
	color: #FF966E;
}
.proListUc_history p.more {
	width: 275px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-top: 1px #e4e4e4 dotted;
	display: inline-block;
	margin-left: 15px;
}
.proListUc_history p.more a:hover {
	color: #C81623
}
/*商品收藏*/
.collect .line1 {
	float: left;
	cursor: pointer
}
.collect .line1 .title span {
	color: #FD6760;
}
.collect .line2 {
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	float: left;
	cursor: pointer
}
.collect .line2 .title {
	display: inline-block;
*display:inline;
*zoom:1;
}
.collect .line2 .title i {
	width: 4px;
	height: 18px;
	line-height: 35px;
	display: inline-block;
*display:inline-block;
	margin-left: 13px;
	margin-right: 8px;
	vertical-align: middle;
}
.collect .line2 .title span {
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	font-size: 14px;
	display: inline-block;
*display:inline;
}
/*判断没有商品收藏的状态*/
.emptyFrame_collect {
	width: 385px;
	margin: 40px auto 0;
	text-align:center
}
.account .middle .emptyFrame_collect i {
	width: 65px;
	height: 64px;
	background-position:-275px -75px;
	display: inline-block;
*display: inline;
*zoom: 1;
}
.emptyFrame_collect span {
	width: 385px;
	text-align: center;
	color: #DD997F;
	font-size: 14px;
	float: left;
	display: inline-block;
*display: inline;
*zoom: 1;
	margin-top: 20px;
}
/*判断有商品收藏的状态*/
.colList {
	margin-top: 20px
}
.colList .colFrame {
	width: 930px;
	height: 150px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	margin: 0px 35px
}
.colList ul {
	width: 930px;
	position: relative;
}
.colList ul li {
	width: 155px;
	height: 150px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	text-align: center
}
.colList ul li a {
	width: 120px;
	display: inline-block
}
.colList ul li a.img {
	position: relative
}
.colList ul li a span {
	position: absolute;
	top: 100px;
	right: 0px;
	background: #C81623;
	color: #ffffff;
	height: 20px;
	line-height: 20px;
	width: 60px;
	text-align: center;
	display: inline-block
}
.colList ul li a.name {
	height: 30px;
	line-height: 30px
}
.colList ul li a:hover {
	color: #C81623;
}
.colList ul li a img {
	width: 120px;
	height: 120px
}
.middle .prev, .middle .next {
	width: 12px;
	height: 21px;
	display: inline-block;
*display: inline;
*zoom: 1;
	background: url(images/shengji_ad/user.png) no-repeat;
	margin: 0 8px;
	margin-top: 60px;
}
.middle .prev {
	float: left;
	background-position: -397px -29px;
}
.middle .next {
	float: right;
	background-position: -428px -29px;
}
/*店铺收藏*/
/*判断没有店铺收藏的状态*/
.emptyFrame_shop {
	width: 385px;
	margin: 40px auto 0;
	text-align:center
}
.account .middle .emptyFrame_shop i {
	width: 65px;
	height: 64px;
	background-position:-175px 0px;
	display: inline-block;
*display: inline;
*zoom: 1;
}
.emptyFrame_shop span {
	width: 385px;
	text-align: center;
	color: #DD997F;
	font-size: 14px;
	float: left;
	display: inline-block;
*display: inline;
*zoom: 1;
	margin-top: 20px;
}
/*判断有店铺收藏的状态*/
.shopList {
	margin-top: 20px
}
.shopList .colFrame {
	width: 930px;
	height: 150px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	margin: 0 35px;
}
.shopList ul {
	width: 930px;
	position: relative;
}
.shopList ul li {
	width: 155px;
	height: 150px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	text-align: center
}
.shopList ul li a {
	width: 120px;
	display: inline-block;
	text-align: center
}
.shopList ul li a.img {
	position: relative
}
.shopList ul li a span {
	position: absolute;
	top: 100px;
	right: 0px;
	background: #C81623;
	color: #ffffff;
	height: 20px;
	line-height: 20px;
	width: 60px;
	text-align: center;
	display: inline-block
}
.shopList ul li a.name {
	height: 30px;
	line-height: 30px
}
.shopList ul li a:hover {
	color: #C81623;
}
.shopList ul li a img {
	width: 120px;
	height: 120px
}
.shopList ul li a .mask {
	width: 120px;
	height: 120px;
	background: url(images/shengji_ad/mask2.png) no-repeat 0 0;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}
.colList p.more, .shopList p.more {
	width: 897px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	float: left;
	border-top: 1px #e4e4e4 dotted;
	display: inline-block;
	margin: 0px auto;
	margin-left: 50px;
	margin-top: 10px;
}
/*用户信息*/
.boxCenterList .tabmenu {
	background-color: #FFF;
	width: 985px;
	height: 40px;
	margin-left: 0px;
	display: block;
	position: relative;
}
.boxCenterList .tabmenu .tab {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
	background-color: #FFF;
	height: 40px;
}
.boxCenterList .tabmenu .tab li {
	line-height: 20px;
	display: inline-block;
*display: inline/*IE7*/;
*zoom: 1;
	font-size: 12px;
	line-height: 20px;
	color: #666;
	display: block;
	height: 20px;
	padding: 10px 19px 8px 19px;
	border-bottom: 2px #E7E7E7 solid;
	cursor: pointer
}
.boxCenterList .tabmenu .tab li a {
	color: #fff;
}
.boxCenterList .tabmenu .tab .active {
	font-size: 18px;
	color: #000000;
	padding: 9px 19px 9px 19px;
	border-bottom: 2px #ff6600 solid;
}
.boxCenterList .tabmenu .tab .active a {
	color: #000;
	font-size: 18px;
}
.boxCenterList .tabmenu a.ncm-btn {
	padding: 5px 13px;
	position: absolute;
	z-index: 1;
	top: -2px;
	right: 0px;
}
.boxCenterList .tabmenu span.ncm-btn {
	padding: 5px 13px;
	position: absolute;
	z-index: 1;
	top: -2px;
	right: 0px;
}
.boxCenterList .tabmenu a.ncm-btn-orange {
	background-color: #FAA732;
	margin: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #E1962D #E1962D #BB7D25 #E1962D !important;
	color: #fff
}
.boxCenterList .tabmenu a:hover.ncm-btn-orange {
	color: #FFF !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.10);
}
.ncm-user-profile {
	width: 985px;
	height: auto;
	margin: 0 auto;
}
.ncm-default-form {
	width: 985px;
	margin: 30px auto;
}
.ncm-default-form dl {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
	line-height: 20px;
	clear: both;
	padding: 0;
	margin: 0;
	border-bottom: dotted 1px #E6E6E6;
	overflow: hidden;
}
.ncm-default-form dl:hover {
	background-color: #FCFCFC;
}
.ncm-default-form dl:hover .hint {
	color: #666;
}
.ncm-default-form dl.bottom {
	border-bottom-width: 0px;
}
.ncm-default-form dl dt, .ncm-default-form dl dd {
	font-size: 12px;
	line-height: 32px;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: right;
	display: inline-block;
	width: 24%;
	padding: 10px 2% 10px 0;
	margin: 0;
*display: inline/*IE6,7*/;
*zoom: 1;
}
.ncm-default-form dl dt i.required {
	font: 12px/16px Tahoma;
	color: #F30;
	vertical-align: middle;
	margin-right: 4px;
}
.ncm-default-form dl dd {
	text-align: left;
	width: 74%;
	padding: 10px 0 10px 0;
}
.ncm-default-form dl dd span {
	display: inline-block;
*line-height: 20px;
*display: inline;
*height: 20px;
*margin-top: 6px;
*zoom:1;
}
.ncm-default-form dl dd p {
	clear: both;
}
.ncm-default-form dl dd .hint {
	height: 50px;
	color: #AAA;
}
.ncm-default-form div.bottom {
	text-align: center;
}
/* 内容部分通用表格样式 */
.ncm-default-table {
	line-height: 20px;
	width: 100%;
	border-collapse: collapse;
	clear: both;
}
.ncm-default-table thead th {
	color: #999;
	background-color: #FFF;
	text-align: center;
	height: 20px;
	padding: 8px 0;
	border-bottom: solid 1px #E7E7E7;
}
.ncm-default-table thead td, .ncm-default-table tfoot th {
	background-color: #FFF;
	height: 20px;
	padding: 5px 0;
	border-bottom: solid 1px #E7E7E7;
}
.ncm-default-table tfoot th {
	border-top: solid 1px #E6E6E6;
}
.ncm-default-table thead td .checkall, .ncm-default-table tfoot th .checkall {
	vertical-align: middle;
	display: inline-block;
*display: inline/*IE7*/;
	margin: 0 4px 0 8px;
*zoom: 1;
}
.ncm-default-table thead td label, .ncm-default-table tfoot th label {
	color: #777;
	vertical-align: middle;
	display: inline-block;
*display: inline/*IE7*/;
	margin-right: 10px;
	cursor: pointer;
*zoom:1;
}
.ncm-default-table tbody th {
	background-color: #FAFAFA;
	border: solid #E6E6E6;
	border-width: 1px 0;
	padding: 4px 0;
}
.ncm-default-table tbody th span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.ncm-default-table tbody th span.goods-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 240px;
	height: 20px;
	overflow: hidden;
}
.ncm-default-table tbody th a.share-goods {
	float: right;
	margin-right: 10px;
	color: #999;
}
.ncm-default-table tbody th a:hover.share-goods {
	color: #333;
	text-decoration: none;
}
.ncm-default-table tbody th a.share-goods i {
	vertical-align: middle;
}
.ncm-default-table tbody th a.order-trash {
	float: right;
	margin-right: 10px;
	color: #999;
	padding-right: 10px;
	border-right: solid 1px #DDD;
	margin-right: 10px;
}
.ncm-default-table tbody th a:hover.order-trash {
	color: #F33;
	text-decoration: none;
}
.ncm-default-table tbody th a.order-trash i {
	font-size: 14px;
	vertical-align: middle;
}
.ncm-default-table tbody td {
	color: #999;
	background-color: #FFF;
	text-align: center;
	padding: 0px 0;
}
.ncm-default-table tbody tr.bd-line td {
	border-bottom: solid 1px #E7E7E7;
}
.ncm-default-table tbody td strong {
	color: #666;
}
.ncm-default-table tfoot td {
	background-color: #FFF;
	text-align: center;
	padding: 10px 0;
}
.ncm-default-table td .pic-thumb {
	line-height: 0;
	background-color: #FFF;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
*display: block;
	width: 32px;
	height: 32px;
	padding: 2px;
	border: solid 1px #F5F5F5;
	overflow: hidden;
}
.ncm-default-table td .pic-thumb img {
	max-width: 32px;
	max-height: 32px;
margin-top:expression(32-this.height/2);
*margin-top:expression(16-this.height/2)/*IE6,7*/;
}
.ncm-default-table td .goods-name {
	border: none;
	overflow: hidden;
}
.ncm-default-table td .goods-name dt {
	font-size: 12px;
	line-height: 16px;
	color: #333;
	text-overflow: ellipsis;
	display: block;
	text-align: left;
	white-space: nowrap;
	max-width: 320px!important;
	height: 16px;
	padding-bottom: 4px;
	overflow: hidden;
}
.ncm-default-table td .goods-name dt span {
	line-height: 16px;
	color: #FFF;
	background-color: #DA542E;
	display: inline-block;
*display: inline/*IE7*/;
	height: 16px;
	padding: 1px 3px;
	border-radius: 2px;
	margin-right: 4px;
	zoom: 1;
}
.ncm-default-table td .goods-name dd {
	line-height: 20px;
	display: block;
	height: 20px;
}
.ncm-default-table td span.sale-type {
	line-height: 16px;
	color: #FFF;
	background-color: #FD6760;
	height: 16px;
	padding: 2px 4px;
	border-radius: 2px;
}
.ncm-default-table td .goods-price {
	font-weight: 600;
	color: #666;
	background: url(../images/rmb_s.gif) no-repeat 0 3px;
	padding-left: 10px;
}
.ncm-default-form td img.face_img {
	margin: 10px 0px 5px;
}
/*收货地址*/
.boxCenterList .w70 {
	width: 70px !important;
}
.boxCenterList .w80 {
	width: 80px !important;
}
.boxCenterList .w110 {
	width: 110px !important;
}
.boxCenterList .w120 {
	width: 120px !important;
}
.boxCenterList .w150 {
	width: 150px !important;
}
.alert {
	color: #C09853;
	background-color: #FCF8E3;
	padding: 9px 14px;
	margin: 10px auto;
	border: 1px solid #FBEED5;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 2px;
}
.alert li {
	margin-bottom: 6px;
}
/*  智能搜索样式 */
.search_t_div_1 {
	color: #666;
}
.search_t_div_1 span {
	color: #666;
}
.search_t_div_2 {
	background: #FFDFC6;
	color: #666;
}
.search_t_div_2 span {
	color: #666;
}
.icon-01, .icon-02, .icon-03 {
	float: left;
	margin-bottom: 10px
}
#safe05 .btn {
	vertical-align: middle;
	color: #fff;
	text-decoration: none
}
/*代码增加2014-12-23 by www.wrzc.net  _end */
/*系统信息提示 2015-07-16*/
.message {
	background: #FAFAFA;
	padding: 20px 0px 20px;
	clear: both
}
/*优化2015-07-29*/
.shaidan_box_1 .shaidan_goods ,.comment_box_1 .comment_goods {
	text-align: center;
	padding: 5px 0 5px 0;
	border-bottom: solid #eee 1px;
}
.shaidan_box_1 p,.comment_box_1 p {
	text-align: center;
	padding: 10px;
}
.shaidan_box_1 p .shop,.comment_box_1 p .shop {
	color: #C81623;
	font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
a.shaidan_buy ,a.comment_buy{
	padding: 5px 15px;
	color: #fff;
	background: #C81623;
}
.shaidan_box_1 p a:hover,.comment_box_1 p a:hover{
	color: #fff;
}
.shaidan_desc .message{
	padding:20px 15px;	
}
.shaidan_box {
    border: solid #eee 1px;
}
.shaidan_box .title {
    background: #f9f9f9;
    height: 36px;
    line-height: 36px;
    padding: 0 12px 0 12px;
    font-size: 14px;
}
.shaidan_desc {
    padding: 15px;
}
.shaidan_desc .message {
    line-height: 200%;
    margin-bottom: 15px;
}
.shaidan_desc dl {
	margin-bottom: 15px;
}
.shaidan_desc dl dd {
	line-height: 22px;
}
/*评论*/
.AreaR .my-comment-list dd{
	width:848px;	
}
/*对比有属性的商品属性弹框*/
.select_attr{
	background:#fff; border:1px solid #dddddd; display:none; position:fixed; z-index:1000;width:300px;height:260px; overflow:auto	
}
.select_attr h4{
	height:30px;line-height:30px;background:#f4f4f4;color:#666;font-size:14px;font-weight:bold;border-bottom:1px solid #eee;text-indent:10px
}
.select_attr h6{
	text-align:left; background:#ffffff; margin-left:15px;height:30px;line-height:30px;border-top:1px #f4f4f4 solid;margin:10px 15px 0px
}
.select_attr input{
	margin-left:15px;
}
/*关联商品*/
.limitbuy {
	border: 1px solid #ddd
}
.limitbuy .mt {
	height: 31px;
	padding-left: 8px;
	background: #FAFAFA;
	line-height: 31px;
	border-bottom: 1px solid #ddd;
}
.limitbuy .mc {
	padding-bottom: 6px
}
.limitbuy .clock {
	text-align: center;
	padding: 5px 0;
}
.limitbuy .clock b {
	padding: 0 3px;
	font-size: 20px;
	font-family: arial;
	color: #C00
}
.limitbuy li {
	padding: 0px;
	text-align: center;
	margin: 0 10px;
}
.limitbuy .p-img {
	width: 189px;
	margin: 3px 0;
	position: relative
}
.limitbuy .p-market {
	display: none
}
.limitbuy li .rate, .limitbuy li .p-price {
	text-align: left;
	margin: 2px 2px 0;
}
.limitbuy li .rate{
	height:35px;
	overflow:hidden;	
}
.limitbuy li .p-price del {
	margin-left: 10px;
}
/*到货通知*/
.tell_me{
	display: block;
	width: 115px;
	height: 36px;
	font-family: "微软雅黑";
	line-height: 36px;
	font-size: 15px;
	color: #fff;
	float: left;
	cursor: pointer;
	background: #FF6500;
	position:relative;
	border:0;
	float:left;
	margin-right:10px;
	padding-left:25px;
	cursor:pointer;
}
.tell_me:hover{
	text-decoration: none;
	color:#ffffff;
}
.tell_me i{
	background-position:-57px -191px;
	*background-position:-57px -190px;	
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:3px;
	vertical-align:middle
}
#tell_me_form .tell_me_con{
	width:90%;
	padding:0px 5% 15px;
	margin:0 auto;	
	text-align:center
}
#tell_me_form td{
	padding-bottom:10px;	
}
#tell_me_form input{
	display:block;
	width:210px;
	height:22px;
	padding:4px;
	border:1px solid #ccc;	
}
#tell_me_form .tell_btn{
	width:57px;
	height:30px;
	background:#f9f9f9;
	border:1px solid #eee;
	float:left;
	margin-right:20px;	
	cursor:pointer;
}
/*对比页*/
.compare_wrap h5 {
    background-color: #f9f9f9;
    height: 36px;
    line-height: 36px;
    border: 1px solid #eee;
    border-bottom: none;
}
.compare_wrap h5 span {
	color: #666;
}
.compare_wrap table {
	width: 1208px;
	margin-top: -1px;
	table-layout: fixed;
}
.compare_wrap td {
	line-height: 20px;
	padding: 8px 0;
	word-wrap: break-word;
	overflow: hidden;
	text-align: center;
	width: 270px;
}
.compare_wrap td.td_first {
	color: #999;
	padding-left: 30px;
	*padding-left: 30px;
	text-align: left;
	width: 84px;
	line-height: 20px;
	word-wrap: break-word;
}
.compare_wrap td .com_info{
	overflow:hidden	
}
.compare_wrap .delBtn {
	width:50px;
	height:25px;
	display:inline-block;
	position: absolute;
	top: 0px;
	right: -25px;
	cursor: pointer;
	background:url(images/compare-icon.png) no-repeat 0 0;
}
.compare_wrap a.delBtn:hover {
	top: 0px;
	rigth: 0px;
	background:url(images/compare-icon.png) no-repeat 0 -40px;
}
.compare_wrap .no-contrast {
	color: #ccc;
	font-size: 25px;
	padding: 70px 0 5px;
	text-align: center;
}
.compare_wrap td a.u-buy {
  margin-left: 15px;
}
.compare_wrap td a.u-buy1 {
  margin-left: 35px;
}
.compare_wrap .stars{
	width: 75px;
	height: 14px;
	display: inline-block;
	background:url(images/goods-icon.png) no-repeat;
}
.compare_wrap .stars0{	
	background-position: 0px -365px;
}
.compare_wrap .stars1{	
	background-position: 0px -379px;
}
.compare_wrap .stars2{	
	background-position: 0px -393px;
}
.compare_wrap .stars3{	
	background-position: 0px -407px;
}
.compare_wrap .stars4{	
	background-position: 0px -421px;
}
.compare_wrap .stars5{	
	background-position: 0px -435px;
}
#tool{
    bottom: 0;
    height: 52px;
    left: 50%;
    margin: 10px 0 0 -301px;
    position: fixed;
    width: 602px;
    z-index: 102;
    background: url(images/compare-icon.png) no-repeat 0 -86px;	
}
#tool a.setup, #compare_highlight, #compare_equal, #locate, #static {
	background: url(images/compare-icon.png) no-repeat;
}
#tool .con {
	margin: 0;
	background-position: -53px -86px;
	display: block;
	height: 34px;
	line-height: 34px;
	padding: 13px 0 0 130px;
	width: 340px;
}
#tool .con, #locate, #static {
    position: relative;
    z-index: 102;
}
#locate {
	background-position: 0 -165px;
}
#static {
	background-position: -86px -165px;
	display: none;
}
#locate, #static {
	cursor: pointer;
	float: right;
	height: 25px;
	right: 30px;
	top: 13px;
	width: 85px;
}
#tool #compare_highlight {
	background-position: 0 -139px;
	padding-left: 24px;
}
#tool #compare_equal {
	background-position: -124px -139px;
	padding-left: 24px;
}
#tool a.setup {
	background-position: -224px -139px;
	color: #FFFFFF;
	float: left;
	height: 25px;
	line-height: 24px;
	margin-right: 10px;
	padding-left: 21px;
	text-align: center;
	width: 92px;
}
#tool a.setup b {
	display: none;
	float: right;
	height: 34px;
	width: 12px;
}
.box-text{
	border:1px solid #eee;
	padding:30px 20px 20px;
}
.box-text h3{
	border-bottom:1px solid #eee;
	height:30px;
	line-height:30px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding-bottom:15px;
	margin-bottom:15px;	
}
.box-text .content{
	text-indent:2em;
	line-height:2em;
	font-size:12px;	
}
.box-text .content p{
	padding-bottom:10px;	
}
/*留言板*/
.message-board .message-tit{
	height:36px;
	line-height:36px;
	font-size:14px;
	border:1px solid #eee;
	background:#f9f9f9;
	text-indent:15px;	
}
.message-board .msg-type{
	padding-right:10px;	
}
.message-list .item{
	padding:10px 0;
	border-bottom:1px dotted #eee;	
}
.message-list .item .user-info{
	overflow:hidden;
	height:22px;
	line-height:22px;	
	color:#999;
}
.message-list .item .user-info .u-name{
	margin-right:20px;	
}
.message-list .item .user-info .u-name i{
	width:40px;
	float:left;	
}
.message-list .item .user-info .stars{
	width:75px;
	height:14px;
	background: url(images/goods-icon.png) no-repeat ;	
}
.message-list .item .user-info .stars1{	
	background-position: 0px -379px;
}
.message-list .item .user-info .stars2{	
	background-position: 0px -393px;
}
.message-list .item .user-info .stars3{	
	background-position: 0px -407px;
}
.message-list .item .user-info .stars4{	
	background-position: 0px -421px;
}
.message-list .item .user-info .stars5{	
	background-position: 0px -435px;
}
.message-list .item .title,.message-list .item .content,.message-list .item .re-content{
	overflow:hidden;
	padding-top:5px;	
}
.message-list .item .title dt,.message-list .item .content dt{
	width:40px;
	float:left;	
}
.message-list .item .title dd,.message-list .item .content dd{
	width:936px;
	float:left;	
}
.message-list .item .title dd a{
	font-weight:bold;
	color:#666;	
}
.message-list .item .re-content dt{
	width:76px;
	float:left;
	color:#FF6500;
}
.message-list .item .re-content dd{
	width:900px;
	float:left;	
	color:#FF6500;
}