<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->

{include file="pageheader.htm"} 
<!-- start add new category form -->
<div class="main-div">
  <form action="category.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
    <table width="100%" id="general-table">
      <tr>
        <td class="label">{$lang.cat_name}:</td>
        <td><textarea name='cat_name' rows="3" cols="48">{$cat_info.cat_name|escape:html}</textarea>
          <font color="red">*</font> <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeCat_name">{$lang.notice_cat_name}</span></td>
      </tr>
      
	 {* 代码增加_start  By  www.wrzc.net *}
	  <tr>
        <td class="label">目录名称:</td>
        <td>
          <input type='text' name='path_name' maxlength="20" value='{$cat_info.path_name|escape:html}' size='27' />
		  <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticePathname">生成的【真静态HTML文件】将保存到该目录下<br>例如：在这里输入 jiaju，根目录下就会生成一个 category-jiaju 的二级目录用来保存纯静态HTML文件</span>
        </td>
      </tr>
   {* 代码增加_end  By  www.wrzc.net *}
      
      <tr>
        <td class="label">{$lang.parent_id}:</td>
        <td><select name="parent_id">
            <option value="0">{$lang.cat_top}</option>
       {$cat_select}
          </select></td>
      </tr>
      <tr id="measure_unit">
        <td class="label">{$lang.measure_unit}:</td>
        <td><input type="text" name='measure_unit' value='{$cat_info.measure_unit}' size="12" /></td>
      </tr>
      <tr>
        <td class="label">{$lang.sort_order}:</td>
        <td><input type="text" name='sort_order' {if $cat_info.sort_order}value='{$cat_info.sort_order}'{else} value="50"{/if} size="15" /></td>
      </tr>
      <tr>
        <td class="label">{$lang.is_show}:</td>
        <td><input type="radio" name="is_show" value="1" {if $cat_info.is_show neq 0} checked="true"{/if}/>
          {$lang.yes}
          <input type="radio" name="is_show" value="0" {if $cat_info.is_show eq 0} checked="true"{/if} />
          {$lang.no} </td>
      </tr>
    </table>
    <div class="button-div">
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
    </div>
    <input type="hidden" name="act" value="{$form_act}" />
    <input type="hidden" name="old_cat_name" value="{$cat_info.cat_name}" />
    <input type="hidden" name="cat_id" value="{$cat_info.cat_id}" />
    <input type="hidden" name="is_virtual" value="{$is_virtual}" />
  </form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal} 
<script language="JavaScript">
<!--
document.forms['theForm'].elements['cat_name'].focus();
/**
 * 检查表单输入的数据
 */
function validate()
{
    if(document.forms['theForm'].elements['cat_name'].value==''){
        alert('分类名称不能为空');
    return false;
    }
  validator = new Validator("theForm");
  validator.required("cat_name",      catname_empty);
  if (parseInt(document.forms['theForm'].elements['grade'].value) >10 || parseInt(document.forms['theForm'].elements['grade'].value) < 0)
  {
    validator.addErrorMsg('{$lang.grade_error}');
  }
  return validator.passed();
}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

/**
 * 新增一个筛选属性
 */
function addFilterAttr(obj)
{
  var src = obj.parentNode.parentNode;
  var tbl = document.getElementById('tbody-attr');

  var validator  = new Validator('theForm');
  var filterAttr = document.getElementsByName("filter_attr[]");

  if (filterAttr[filterAttr.length-1].selectedIndex == 0)
  {
    validator.addErrorMsg(filter_attr_not_selected);
  }
  
  for (i = 0; i < filterAttr.length; i++)
  {
    for (j = i + 1; j <filterAttr.length; j++)
    {
      if (filterAttr.item(i).value == filterAttr.item(j).value)
      {
        validator.addErrorMsg(filter_attr_not_repeated);
      } 
    } 
  }

  if (!validator.passed())
  {
    return false;
  }

  var row  = tbl.insertRow(tbl.rows.length);
  var cell = row.insertCell(-1);
  cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addFilterAttr)(.*)(\[)(\+)/i, "$1removeFilterAttr$3$4-");
  filterAttr[filterAttr.length-1].selectedIndex = 0;
}

/**
 * 删除一个筛选属性
 */
function removeFilterAttr(obj)
{
  var row = rowindex(obj.parentNode.parentNode);
  var tbl = document.getElementById('tbody-attr');

  tbl.deleteRow(row);
}

function _index_dwt(id, type)
{
	document.getElementById(id).style.display = (type == 1 ? "" : "none");
}

function change_dwt()
{
	document.getElementById("index_dwt_0").checked = true;
	document.getElementById("index_dwt_1").checked = false;
}

//-->
</script> 
{/literal}
{include file="pagefooter.htm"}