<!-- $Id: goods_batch_add.htm 16544 2009-08-13 07:55:57Z liuhui $ -->
{include file="pageheader.htm"}
<link href="styles/zTree/zTreeStyle.css" rel="stylesheet" type="text/css" />
{insert_scripts files='jquery-1.6.2.min.js,jquery.ztree.all-3.5.min.js,category_selecter.js'}
<div class="main-div">
<form action="goods_batch.php?act=upload" method="post" enctype="multipart/form-data" name="theForm" onsubmit="return formValidate()">
<table cellspacing="1" cellpadding="3" width="100%">
<tr>
    <td class="label">{$lang.export_format}</td>
    <td><select name="data_cat" id="data_cat">
      {html_options options=$data_format }
    </select></td>
  </tr>
  <tr>
    <td class="label">{$lang.goods_cat}</td>
    <td>
    <input type="text" id="cat_name" name="cat_name" nowvalue="{$goods_cat_name}" value="{$goods_cat_name}" ><!--代码增加--商品分类--wrzcnet-->
	<input type="hidden" id="cat_id" name="cat_id" value="{$goods_cat_id}"><!--代码增加--商品分类--wrzcnet-->
    </td>
  </tr>
  <tr>
    <td class="label">{$lang.file_charset}</td>
    <td><select name="charset" id="charset">
      {html_options options=$lang_list}
    </select></td>
  </tr>
  <tr>
    <td class="label">
      <a href="javascript:showNotice('noticeFile');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>
      {$lang.csv_file}</td>
    <td><input name="file" type="file" size="40">
    <br />
      <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeFile">{$lang.notice_file}</span></td>
  </tr>
  {foreach from=$download_list item=download key=charset}
  <tr>
    <td>&nbsp;</td>
    <td><a href="goods_batch.php?act=download&charset={$charset}">{$download}</a></td>
  </tr>
  {/foreach}
  <tr align="center">
    <td colspan="2"><input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="button" /></td>
  </tr>
</table>
<script type="text/javascript">
	$().ready(function(){
		// $("#cat_name")为获取分类名称的jQuery对象，可根据实际情况修改
		// $("#cat_id")为获取分类ID的jQuery对象，可根据实际情况修改
		// "{$goods_cat_id}"为被选中的商品分类编号，无则设置为null或者不写此参数或者为空字符串
		$.ajaxCategorySelecter($("#cat_name"), $("#cat_id"), "{$goods_cat_id}");
	});
</script>


</form>
<table width="100%">
  <tr>
    <td>&nbsp;</td>
    <td width="80%">{$lang.use_help}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
    var elements;
    onload = function()
    {
        // 文档元素对象
        elements = document.forms['theForm'].elements;

        // 开始检查订单
        startCheckOrder();
    }

    /**
     * 检查是否底级分类
     */
    function checkIsLeaf(selObj)
    {
        if (selObj.options[selObj.options.selectedIndex].className != 'leafCat')
        {
            alert(goods_cat_not_leaf);
            selObj.options.selectedIndex = 0;
        }
    }

    /**
     * 检查输入是否完整
     */
    function formValidate()
    {
    	
        if ($("#cat_id").val().length <= 0)
        {
        	alert(please_select_cat);
        	$("#cat_name").focus();
            return false;
        }
        if ($("[name='file']").val() == '')
    	{
        	alert(please_upload_file);
        	return false;
    	}
       
        return true;
    }
	
</script>



{/literal}

{include file="pagefooter.htm"}