<!-- $Id: payment_edit.htm 14401 2008-04-15 02:41:32Z zhuwenyuan $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js"}
<form action="payment.php" method="post">
<div class="main-div">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.payment_name}</td>
    <td><input name="pay_name" type="text" value="{$pay.pay_name|escape}" size="40" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.payment_desc}</td>
    <td><textarea name="pay_desc" cols="60" rows="8">{$pay.pay_desc|escape}</textarea></td>
  </tr>
  {foreach from=$pay.pay_config item=config key=key}
  <tr>
    <td class="label">
      {if $config.desc}
      <a href="javascript:showNotice('notice{$config.name}');" title="{$lang.form_notice}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}"></a>
      {/if}
      <span class="label">{$config.label}
    </td>
    <td>
      <!-- {if $config.type == "text"} -->
      <input name="cfg_value[]" type="{$config.type}" value="{$config.value}" size="40" />
      <!-- {elseif $config.type == "textarea"} -->
      <textarea name="cfg_value[]" cols="80" rows="5">{$config.value}</textarea>
      <!-- {elseif $config.type == "select"} -->
      <select name="cfg_value[]">{html_options options=$config.range selected=$config.value}</select>
      <!-- {/if} -->
      <input name="cfg_name[]" type="hidden" value="{$config.name}" />
      <input name="cfg_type[]" type="hidden" value="{$config.type}" />
      <input name="cfg_lang[]" type="hidden" value="{$config.lang}" />
      {if $config.desc}
      <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice{$config.name}">{$config.desc}</span>
      {/if}
      <!--the tenpay code -->
      {if $key eq "0"}
      {if $smarty.get.code eq "tenpay"}<input align=""type="button" value="{$lang.ctenpay}" onclick="javascript:window.open('{$lang.ctenpay_url}')"/>
      {elseif $smarty.get.code eq "tenpayc2c"} <input align=""type="button" value="{$lang.ctenpay}" onclick="javascript:window.open('{$lang.ctenpayc2c_url}')"/>
      {/if}
      
      {/if}
      <!--the tenpay code -->
    </td>
  </tr>
  {/foreach}
  <tr>
    <td class="label">{$lang.payment_is_cod}</td>
    <td>{if $pay.is_cod == "1"}{$lang.yes}{else}{$lang.no}{/if}</td>
  </tr>
   <!-- 代码增加_start   By www.wygk.cn -->
  <tr>
    <td class="label">{$lang.payment_is_pickup}</td>
    <td>{if $pay.is_pickup == "1"}{$lang.yes}{else}{$lang.no}{/if}</td>
  </tr>
  <!-- 代码增加_end  By www.wygk.cn -->
  <tr>
    <td class="label">{$lang.payment_is_online}</td>
    <td>{if $pay.is_online == "1"}{$lang.yes}{else}{$lang.no}{/if}</td>
  </tr>
  <tr align="center">
    <td colspan="2">
      <input type="hidden"  name="pay_id"       value="{$pay.pay_id}" />
      <input type="hidden"  name="pay_code"     value="{$pay.pay_code}" />
      <input type="hidden"  name="is_cod"       value="{$pay.is_cod}" />
       <!-- 代码修改_start   By www.wygk.cn -->
      <input type="hidden"  name="is_pickup"    value="{$pay.is_pickup}" />
      <!-- 代码修改_end   By www.wygk.cn -->
      <input type="hidden"  name="is_online"    value="{$pay.is_online}" />
      <input type="submit" class="button" name="Submit"       value="{$lang.button_submit}" />
      <input type="reset" class="button"  name="Reset"        value="{$lang.button_reset}" />
	  <input name="pay_fee" type="hidden" value="0" />
    </td>
  </tr>
</table>
</div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
{literal}
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
{/literal}
//-->
</script>
{include file="pagefooter.htm"}