<!-- $Id: valuecard_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<!-- 订单搜索 -->
<div class="form-div">
  <form action="javascript:searchVc()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {$lang.notice_status}
	<select name="status" size=1>
	<option value="-1">不限</option>
	{foreach from=$notice_status key=skey item=status}
	<option value="{$skey}">{$status}</option>
	{/foreach}
	</select>
    {$lang.mobile}
    <input name="mobile" type="text" id="mobile" size="15">
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

<form method="POST" action="pricecut.php" name="listForm">
<!-- start user_bonus list -->
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>
          {* 代码删除 By www.wrzc.net Start *}
        <!--<input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">-->
          {* 代码删除 By www.wrzc.net End *}
        {$lang.pricecut_id}</th>
		<th>{$lang.mobile}</th>
      <th>{$lang.email}</th>
	  <th>{$lang.goods_name}</th>
      <th>{$lang.price_min}</th>
      <th>{$lang.price_notice}</th>
	  <th>{$lang.notice_status}</th>
	  <th>{$lang.add_time}</th>
	  <th>{$lang.remark}</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$notice_list item=notice}
    <tr>
      <td><span>{* 代码删除 By www.wrzc.net Start *}
          <!--<input value="{$notice.pricecut_id}" name="checkboxes[]" type="checkbox">-->
          {* 代码删除 By www.wrzc.net End *}
          {$notice.pricecut_id}</span></td>
	  <td>{$notice.mobile}</td>        
      <td>{$notice.email}</td>      
	  <td align=center>{$notice.goods_name}</td>  
      <td align=center>{$notice.min_price_format}</td>
      <td align=center>{$notice.price_format}</td>
	  <td align=center>{$notice.notice_status}</td>
	  <td align=center>{$notice.add_time}</td>
	  <td align=center>{$notice.remark}</td>
      <td align="center">
        <a href="pricecut.php?act=edit&id={$notice.pricecut_id}"><img src="images/icon_edit.gif" border=0 ></a>
        <a href="javascript:;" onclick="listTable.remove({$notice.pricecut_id}, '{$lang.drop_confirm}', 'remove')"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a>
        </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td></td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end user_bonus list -->
</form>

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "query";

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
    document.forms['listForm'].reset();
  }

    function searchVc()
    {
        listTable.filter['status'] = Utils.trim(document.forms['searchForm'].elements['status'].value);
		listTable.filter['mobile'] = Utils.trim(document.forms['searchForm'].elements['mobile'].value);
        listTable.filter['page'] = 1;
        listTable.loadList();
    }

  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}