{if $full_page}
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"} {insert_scripts files="../js/utils.js,listtable.js,placeholder.js"}
<div class="form-div">
	<form action="javascript:searchUser()" name="searchForm">
		<img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
		&nbsp;{$lang.label_rank_name}
		<select name="user_rank">
			<option value="0">{$lang.all_option}</option>
			{html_options options=$user_ranks }
		</select>
		&nbsp;{$lang.label_pay_points_gt}&nbsp;
		<input type="text" name="pay_points_gt" size="8" style="min-width: 150px;"/>
		&nbsp;{$lang.label_pay_points_lt}&nbsp;
		<input type="text" name="pay_points_lt" size="10" style="min-width: 150px;" />
        {$lang.label_user_name}&nbsp;
		<span style="position:relative"><input type="text" name="keyword" placeholder="手机号/用户名/邮箱" /></span>
		<input type="submit" class="button" value="{$lang.button_search}" />
	</form>
</div>
<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">
	<!-- start users list -->
	<div class="list-div" id="listDiv">
		{/if}
		<!--用户列表部分-->
		<table cellpadding="3" cellspacing="1">
			<tr>
				<th>
					<input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
					<a href="javascript:listTable.sort('user_id'); ">{$lang.record_id}</a>
					{$sort_user_id}
				</th>
				<th>
					<a href="javascript:listTable.sort('user_name'); ">{$lang.username}</a>
					{$sort_user_name}
				</th>
				<th>
					<a href="javascript:listTable.sort('email'); ">{$lang.is_validated}&nbsp;|&nbsp;{$lang.email}</a>
					{$sort_email}
				</th>
				<th>
					<a href="javascript:listTable.sort('mobile_phone'); ">{$lang.is_validated}&nbsp;|&nbsp;{$lang.mobile_phone}</a>
					{$sort_mobile_phone}
				</th>
				<!-- #代码增加2014-12-23 by www.wrzc.net  _end -->
				<th>{$lang.user_money}</th>
				<th>{$lang.frozen_money}</th>
				<th>{$lang.rank_points}</th>
				<th>{$lang.pay_points}</th>
				<th>
					<a href="javascript:listTable.sort('reg_time'); ">{$lang.reg_date}</a>
					{$sort_reg_time}
				</th>
				<!-- #代码增加2014-12-23 by www.wrzc.net  _star -->
				<th>实名认证</th>
				<!-- #代码增加2014-12-23 by www.wrzc.net  _end -->
				<th>{$lang.handler}</th>
			<tr>{foreach from=$user_list item=user}
			<tr>
				<td>
					<input type="checkbox" name="checkboxes[]" value="{$user.user_id}" notice="{if $user.user_money ne 0}1{else}0{/if}" />
					{$user.user_id}
				</td>
				<td class="first-cell">
					<span style="margin-bottom: 2px; line-height: 14px; display: block;">{$user.user_name|escape}</span>
					<span style="border: 1px #6DD26A solid; background-color: #6DD26A; padding: 1px 2px 0px 2px; color: white; display: inline; border-radius: 2px;">
						<!-- {if $user.froms == 'pc'} -->
						PC会员
						<!-- {elseif $user.froms == 'mobile'} -->
						微商城会员
						<!-- {elseif $user.froms == 'app'} -->
						APP会员
						<!-- {/if} -->
					</span>
					<!-- {if $user.rank_name != null} -->
					<span style="margin-left: 5px; border: 1px #FBB24E solid; background-color: #FBB24E; padding: 1px 2px 0px 2px; color: white; display: inline; border-radius: 2px;"> {$user.rank_name} </span>
					<!-- {/if} -->
				</td>
				<td>
					{if $user.email != null}{if $user.is_validated}
					<img src="images/yes.gif">
					{else}
					<img src="images/no.gif">
					{/if}{/if}
					<span onclick="listTable.edit(this, 'edit_email', {$user.user_id})">{$user.email}</span>
				</td>
				<td>
					{if $user.mobile_phone != null}{if $user.validated}
					<img src="images/yes.gif">
					{else}
					<img src="images/no.gif">
					{/if}{/if}
					<span onclick="listTable.edit(this, 'edit_mobile_phone', {$user.user_id})">{$user.mobile_phone}</span>
				</td>
				<td>{$user.user_money}</td>
				<td>{$user.frozen_money}</td>
				<td>{$user.rank_points}</td>
				<td>{$user.pay_points}</td>
				<td align="center">{$user.reg_time}</td>
				<!-- #代码增加2014-12-23 by www.wrzc.net  _star -->
				<td>{if $user.status eq 1}审核通过{elseif $user.status eq 2}审核中{elseif $user.status eq 3}审核不通过{else}未审核{/if}</td>
				<!-- #代码增加2014-12-23 by www.wrzc.net  _end -->
				<td align="center">
					<a href="users.php?act=edit&id={$user.user_id}" title="{$lang.edit}">
						<img src="images/icon_edit.gif" border="0" height="16" width="16" />
					</a>
					<a href="users.php?act=address_list&id={$user.user_id}" title="{$lang.address_list}">
						<img src="images/book_open.gif" border="0" height="16" width="16" />
					</a>
					<a href="order.php?act=list&user_id={$user.user_id}" title="{$lang.view_order}">
						<img src="images/icon_view.gif" border="0" height="16" width="16" />
					</a>
					<a href="account_log.php?act=list&user_id={$user.user_id}" title="{$lang.view_deposit}">
						<img src="images/icon_account.gif" border="0" height="16" width="16" />
					</a>
					<a href="javascript:confirm_redirect('{if $user.user_money ne 0}{$lang.still_accounts}{/if}{$lang.remove_confirm}', 'users.php?act=remove&id={$user.user_id}')" title="{$lang.remove}">
						<img src="images/icon_drop.gif" border="0" height="16" width="16" />
					</a>
					<a href="sendmail.php?act=sendmail&email={$user.email}">
						<img src="images/ico_email.png" border="0" height="16" width="16" />
					</a>
				</td>
			</tr>
			{foreachelse}
			<tr>
				<td class="no-records" colspan="11">{$lang.no_records}</td>
			</tr>
			{/foreach}
			<tr>
				<td colspan="2">
					<input type="hidden" name="act" value="batch_remove" />
					<input type="submit" id="btnSubmit" value="{$lang.button_remove}" disabled="true" class="button" />
				</td>
				<td align="right" nowrap="true" colspan="11">{include file="page.htm"}</td>
			</tr>
		</table>
		{if $full_page}
	</div>
	<!-- end users list -->
</form>
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['rank'] = document.forms['searchForm'].elements['user_rank'].value;
    listTable.filter['pay_points_gt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_gt'].value);
    listTable.filter['pay_points_lt'] = Utils.trim(document.forms['searchForm'].elements['pay_points_lt'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');

  cfm = '{$lang.list_remove_confirm}';

  for (i=0; userItems[i]; i++)
  {
    if (userItems[i].checked && userItems[i].notice == 1)
    {
      cfm = '{$lang.list_still_accounts}' + '{$lang.list_remove_confirm}';
      break;
    }
  }

  return confirm(cfm);
}
//-->
</script>
{/literal} {include file="pagefooter.htm"} {/if}
