<!-- $Id: auction_info.htm 16992 2010-01-19 08:45:49Z wangleisvn $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<div class="main-div">
<!-- #代码增加2014-12-23 by www.wrzc.net  _star -->
<form method="post" action="virtual_goods_card.php?act=verification_info" name="theForm"  enctype="multipart/form-data" onsubmit="return validate()">
<!-- #代码增加2014-12-23 by www.wrzc.net  _end -->
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
  <td align="right">{$lang.input_virtual_verification}</td><td><input type="text" id='verification' name="verification" value="{$result.card_sn}"><input type="submit"  value="提交" class="button"></td>
  </tr>
</table>
</form>
</div>
{if $result.card_id}
<form method="post" action="virtual_goods_card.php?act=verification" name="theForm"  enctype="multipart/form-data">
<div class="main-div">
<input type="hidden" name="verification" value="{$result.card_sn}">
<table cellspacing='1' cellpadding='3'>
    <tbody>
    <tr>
        <td>订单号</td>
        <td>缩略图</td>
        <td>商品名称</td>
        <td>商品价格</td>
        <td>过期时间</td>
        <td>使用时间</td>
        <td>验证码</td>
        <td>验证状态</td>
        <td>操作</td>
    </tr>
        <tr>
        <td>{$result.order_sn}</td>
        <td><a href="../goods.php?id={$result.goods_id}" target="_blank"><img src="../{$result.goods_thumb}" width="50px"></a></td>
        <td><a href="../goods.php?id={$result.goods_id}" target="_blank">{$result.goods_name}</a></td>
        <td>￥{$result.shop_price}</td>
        <td>{$result.end_date}</td>
        <td>{$result.buy_date}</td>
        <td>{$result.card_sn}</td>
        <td>{$result.is_verification}</td>
        <td><input type="submit"  value="验证" class="button"></td>
    </tr>
</tbody>
</table>
    </form>
</div>
{/if}
{if $result.msg eq '0'}<script type="Text/Javascript" language="JavaScript">alert("{$lang.message.not_found_verification}");</script>{/if}
{if $result.msg eq '1'}<script type="Text/Javascript" language="JavaScript">alert("{$lang.message.verification_success}");</script>{/if}
{if $result.msg eq '2'}<script type="Text/Javascript" language="JavaScript">alert("{$lang.message.verification_used}");</script>{/if}
{if $result.msg eq '3'}<script type="Text/Javascript" language="JavaScript">alert("{$lang.message.verification_overdue}");</script>{/if}
<script type="Text/Javascript" language="JavaScript">
    function validate(){
        var verification = document.getElementById('verification').value;
        if(verification.length == 0){
            alert("请输入验证码！");
             document.forms['theForm'].elements['verification'].focus();
        }
    }
</script>
{include file="pagefooter.htm"}
