<!-- $Id: comment_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:searchComment()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    搜索订单号 <input type="text" name="keyword" /> <input type="submit" class="button" value="{$lang.button_search}" />
  </form>
</div>

<form method="POST" action="comment_manage.php?act=batch_drop" name="listForm" onsubmit="return confirm_bath()">

<!-- start comment list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
    <!--  <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">-->
      <a href="javascript:listTable.sort('order_sn','DESC'); ">订单号</a> {$sort_order_sn}</th>
    <th><a href="javascript:listTable.sort('user_name'); ">评价分数（描述、服务、发货、物流）</a>{$sort_user_name}</th>
 	<th>用户名</th>
    <th>评价时间</th>
    <th>是否公开</th>

  </tr>
  {foreach from=$comment_list item=comment}
  <tr>
    <td align="center"><!--<input value="{$comment.grade_id}" name="checkboxes[]" type="checkbox">-->{$comment.order_sn}</td>
    <td align="center">{$comment.all_avg}({$comment.comment_rank}、{$comment.server}、{$comment.send}、{$comment.shipping})</td>
    <td align="center">{$comment.user_name}</td>
    <td align="center">{$comment.add_time}</td>
 
    <td align="center">
    {if $comment_on}
 	<img src="images/{if $comment.is_comment}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_change', {$comment.grade_id})"/>
    {else}
        {* 代码修改 By www.wrzc.net Start *}
        <!--<img src="images/{if $comment.is_comment}yes{else}no{/if}.gif" />-->
        <img src="images/{if $comment.is_comment}yes{else}no{/if}.gif" onclick="javascript:alert('平台方已关闭该权限')" />
        {* 代码修改 By www.wrzc.net End *}
    {/if}
    </td>
  </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
    <!--  <td>
      <div>
      <select name="sel_action">
        <option value="remove">{$lang.drop_select}</option>
        <option value="allow">{$lang.allow}</option>
        <option value="deny">{$lang.forbid}</option>
      </select>
      <input type="hidden" name="act" value="batch" />
      <input type="submit" name="drop" id="btnSubmit" value="{$lang.button_submit}" class="button" disabled="true" /></div></td>-->
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end comment list -->

</form>
{insert_scripts files='jquery.json.js,transport.js'}
<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  cfm = new Object();
  cfm['allow'] = '{$lang.cfm_allow}';
  cfm['remove'] = '{$lang.cfm_remove}';
  cfm['deny'] = '{$lang.cfm_deny}';

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      document.forms['searchForm'].elements['keyword'].focus();
      // 开始检查订单
      startCheckOrder();
  }
  /**
   * 搜索评论
   */
  function searchComment()
  {
      var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      if (keyword.length > 0)
      {
        listTable.filter['keywords'] = keyword;
        listTable.filter.page = 1;
        listTable.loadList();
      }
      else
      {
          document.forms['searchForm'].elements['keyword'].focus();
      }
  }
  {/literal}

  function confirm_bath()
  {
    var action = document.forms['listForm'].elements['sel_action'].value;

    return confirm(cfm[action]);
  }
//-->
</script>
{include file="pagefooter.htm"}
{/if}