<?xml version="1.0" encoding="UTF-8" ?>
<alipay>
     <merchant_pid>2088101540396621</merchant_pid>
     <merchant_name>广州网软志成信息科技有限公司</merchant_name>
     <system_name>wrzcnet</system_name>
     <system_version>2030</system_version>
</alipay>
