@charset "utf-8";
/* CSS Document */
.margin-w1210 {
    width: 1210px !important;
    margin: 10px auto;
}
.tgoulist {
	width: 1210px;
	margin: auto;
	margin-top: 20px;
	display: inline-block;
}
.tgoulist .tupian {
	right: 75px;
	position: fixed;
	bottom: 96px;
	z-index: 102;
}
.tgoulist .tupian .hdleft {
	width: 50px;
	height: auto;
}
.tgoulist .tupian .hdleft .hdl {
	width: 50px;
	height: auto;
}
.tgoulist .tupian .hdleft .hdl .active-type {
	font-size: 14px;
	padding: 7px 12px;
	color: #FFF;
	background: #C81623;
	cursor: pointer;
}
.tgoulist .tupian .hdleft .hdl a {
	color: #fff;
	font-size: 13px;
	height: 50px;
}
.tgoulist .tupian .hdleft .hdl a:hover {
	color: #fff;
	text-decoration: none
}
.tgoulist .tupian .hdleft .gotop .top{
	background: #73EBEC;
}
.tgoulist .tupian .hdleft .gotop a {
	color: #ffffff;
}
.tgoulist .tupian .hdleft .hdl .vel {
    height: 12px;
    width: 2px;
    background: #C81623;
	margin: 0px;
	margin-left: 23px;
	display: inline-block;
}
.tgoulist .actice-info {
	width: 1130px;
	min-height: 1000px;
	border-left: 1px solid #ccc;
}
.list-biaoti h3 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	height: 35px;
	line-height: 35px;
	padding-left: 40px;
	margin-bottom: 15px;
}
.list-biaoti h3 i {
	width: 43px;
	height: 15px;
	display: inline-block;
	background: url(../images/activity-icon.jpg) no-repeat;
	position: absolute;
	left: -8px;
	top: 8px
}
.list-biaoti h3 img{
	height: 35px;
	vertical-align: middle;
	position: absolute;
	right: 0px;
	top: 0px
}
.list-tuangou {
	margin-bottom: 15px;
	position: relative;
}
.list-tuangou .list-tt {
	height: 262px;
	border: 1px solid #CCC;
	margin-left: 30px;
	padding: 15px;
}
.list-tuangou .list-tt .active-desc {
	width: 460px;
	min-height: 200px;
	border-left: none;
}
.list-tuangou .list-tt .active-desc h3 {
	height: 45px;
	background: #fef7f9;
	line-height: 45px;
	font-size: 15px;
	padding: 0px 15px;
	margin-bottom: 10px
}
.list-tuangou .list-tt .active-desc h3 span {
	font-size: 14px;
}
.list-tuangou .list-tt .active-desc p {
	line-height: 25px;
	text-indent: 10px;
	font-size: 12px;
	padding: 10px 0;
	color: #666
}
.list-tuangou .list-tt .active-desc div {
	padding: 15px 0;
	position: absolute
}
.list-tuangou .list-tt .active-desc div b {
	font-weight: 100;
	color: #999;
	font-size: 12px;
	text-decoration: line-through
}
.list-tuangou .list-tt .active-desc div button {
	background: #ee064b;
	width: 80px;
	height: 30px;
	border: 0;
	color: #FFF;
	margin-left: 4px;
	top: 25px
}
.ziti1 {
	color: #f14572;
	font-size: 14px;
	font-size: 30px;
	margin-right: 7px;
}
.pbox_off {
	position: relative;
	top: -3px;
	font-size: 12px;
	color: #fff;
	background-color: gray;
	border-radius: 3px;
	padding: 0 5px;
	margin: 0 7px 0 3px;
}
.notice {
	position: absolute;
	left: 182px;
	top: 127px;
	z-index: 201;
}
.notice .noticeinp {
	width: 200px;
	height: 28px;
	line-height: 30px;
	font-size: 12px;
	color: #999;
	position: absolute;
	top: 0;
	background-color: #fff;
	text-indent: 8px;
}
.notice .sendNotice {
	left: 210px;
	top: 0;
	height: 30px;
	width: 80px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	background-color: #333;
	position: absolute;
	border: 0;
	cursor: pointer;
}
.list-tuangou .gift {
	min-height: 230px;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
}
.list-tuangou .gift table {
	float: left;
	margin-left: 15px;
}
.list-tuangou .gift td a.thumb {
	width: 182px;
	padding: 10px;
	display: inline-block;
	text-align: center;
}