@charset "utf-8";
/* CSS Document */
.main-nav {
	width: 210px;
	z-index: 7;
	margin-top: -470px;
	height: 470px;
}
.float-list {
	position: relative;
	width: 210px;
	height:470px;
	background: #fff;
}
.float-list dl {
	position: relative;
	float: left;
	z-index: 7;
	clear: both;
	width: 210px;
	cursor: pointer;
	background:rgb(240,240,240);
}
.float-list dl dt {
	display: inline;
	position: relative;
	float: left;
	width:190px;
	height:46px;
	overflow: hidden;
	text-align: left;
	padding: 0px 10px 0px 10px;
	background: #fff;
}
.float-list dl dt.hover {
    width: 190px;
    z-index: 7;
    background: #DFDFDF;
}
.float-list dl dt p {
    float: left;
    width: 183px;
    border-bottom: 1px dotted #eee;
    height: 45px;
    line-height: 45px;
    padding-left: 5px;
}
.float-list dl dt p a {
    color: #333;
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    width: 50px;
    display: inline-block;
}
.float-list dl dt p a.child {
    font-weight: 600;
}
.float-list dl dd {
    display: none;
    position: absolute;
    left: 209px;
    width: 650px;
	min-height:108px;
    background: #fff;
    border: 1px solid #eee;
    z-index: 6;
}
.float-list dl dd .secondlist {
    float: left;
    width: 610px;
    padding: 0 20px;
    font-size: 12px;
}
.float-list dl dd .secondlist li {
    width: 610px;
    padding: 10px 0;
    line-height: 22px;
    overflow: hidden;
}
.float-list dl dd .secondlist li a {
    padding: 0 13px 5px 5px;
	float:left;
}

/*banner*/
.category-banner{
	position: relative;
	height: 470px;
	zoom: 1;
	width: 100%;
	overflow: hidden;	
}
.category-banner .banner-panel{
	height:470px;
	overflow:hidden;	
}
.category-banner .banner-panel li{
	width:100%;
	height:470px;	
}
.category-banner .banner-panel li a{
	display:block;
	width:100%;
	height:470px;
}
.category-banner .banner-extra{
	width:100%;
	position:absolute;
	bottom:15px;	
	text-align:center;
}
.category-banner .banner-extra span{
	display:inline-block;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
	background:#000;
	filter:alpha(opacity=60);
	opacity:.6;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}
.category-banner .banner-extra span.curr{
	background:#09ABA8;	
}

/*品牌推荐*/
.brand-reco{
	padding-top:15px;	
}
.brand-reco .mt {
	border-bottom: 2px solid #101010;
	overflow:hidden;
	height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 5px;
	color:#101010;
}
.brand-reco .mc {
    position: relative;
}
.brand-reco .mc li {
    overflow: hidden;
    float: left;
}
.brand-reco .mc ul.fore0 li {
    width: 242px;
}
.brand-reco .mc ul.fore0 .fore1 {
    float: right;
    display: inline;
}
.brand-reco .mc ul.fore1 {
    position: absolute;
    top: 0;
    left: 243px;
    width: 726px;
}
.brand-reco .mc ul.fore1 li {
    width: 241px;
}

/*商品分类楼层*/
.floor-wrapper{
	width: 1210px;
    margin: 15px auto 0;
    overflow:hidden;
}
.floor-wrapper .mt {
    height: 55px;
    line-height: 55px;
    border-bottom: 2px #101010 solid;
}
.floor-wrapper .mt h2 {
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    color: #101010;
    float: left;
}
.floor-wrapper .mt .key {
    float: right;
    width: auto;
    height: 30px;
    line-height: 30px;
    margin-top: 25px;
}
.floor-wrapper .mt .key i{
	font-family:simun;
	padding-left:4px;
}
.floor-wrapper .mc{
	position:relative;	
	overflow:hidden;
}
.floor-wrapper .mc ul.fore0 {
    position: absolute;
    left: 242px;
    top: 0;
}
.floor-wrapper .mc ul.fore0 li {
    width: 484px;
	overflow:hidden;
}
.floor-wrapper .mc .fore1 {
    width: 1210px;
}
.floor-wrapper .mc .fore1 li {
    width: 218px;
    position: relative;
    text-align: center;
    padding: 10px;
    border: 2px #fff solid;
    float: left;
}
.floor-wrapper .mc .fore1 .fore0,.floor-wrapper .mc .fore1 .fore3 {
    margin-right: 484px;
}
.floor-wrapper .mc .fore1 li .item-name{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 12px;
	text-align:left;
}
.floor-wrapper .mc .fore1 li .sale-price{
	font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 70px;
    float: left;
    overflow: hidden;	
	padding-top:10px;
	height:20px;
	line-height:20px;
}
.floor-wrapper .mc .fore1 li .add-cart{
	background: url(../images/common/common-icon.png) no-repeat;
    display: none;
    width: 30px;
    height: 30px;
    background-position: -165px 0;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.floor-wrapper .mc .fore1 li:hover{
	border-color:#C81623;	
}
.floor-wrapper .mc .fore1 li:hover .add-cart{
	display:block;	
}
