/*20140730#leihao*/@charset 'utf-8';
.margin-w1210 {
	width: 1210px !important;
	margin: 10px auto;
}
.ce-right ul li.abs-active i, .ce-right ul li.abs-hot i,.ce-right ul li,.wenti .list .icon,.collect .prev, .collect .next{
	background: transparent url(../images/goods-icon.png) no-repeat;
}
.act-slider {
	width: 910px;
	height: 320px;
	overflow: hidden;
	background: #fff;
	position: relative
}
.act-slider .stage {
	width: 910px;
	height: 320px;
	overflow: hidden
}
.act-slider .stage table {
	padding: 0px;
	margin: 0px;
	border-spacing: 0px
}
.act-slider .stage table tr, .act-slider .stage table td {
	padding: 0px;
	margin: 0px
}
.act-slider .stage a {
	width: 910px;
	height: 320px;
	display: inline-block;
	overflow: hidden
}
.act-slider .stage img {
	width: 910px;
	height: 320px;
	overflow: hidden
}
.act-slider .nav {
	height: 10px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: right
}
.act-slider .nav a {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	height: 10px;
	overflow: hidden;
	border-radius: 50%;
	background: #fff;
	margin-left: 10px
}
.act-slider .nav a:hover, .act-slider .nav a.current {
	background: #CF0F02
}
.spot-goods {
	width: 288px;
	height: 318px;
	border: solid 1px #ddd;
	overflow: hidden;
	background: #fff
}
.spot-goods h4 {
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	color: #333;
	padding: 0 15px;
}
.spot-goods ul {
	height: 285px;
	overflow: hidden
}
.spot-goods ul li {
	border-top: solid 1px #e0e0e0;
	padding: 0 16px
}
.spot-goods ul li span, .spot-goods ul li a {
	display: inline-block;
	vertical-align: top
}
.spot-goods ul li .index {
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
	text-align: center;
	background: #999;
	color: #fff;
	margin-right: 9px
}
.spot-goods ul li .show {
	height: 18px;
	line-height: 18px;
	padding: 10px 0;
	overflow: hidden
}
.spot-goods ul li .show .index {
	margin-top: 1px;
	float: left
}
.spot-goods ul li .show a {
	width: 140px;
	height: 20px;
	overflow: hidden;
	float: left
}
.spot-goods ul li .show .price {
	width: 80px;
	text-align: right;
	float: left;
}
.spot-goods ul li .hide {
	height: 147px;
	padding: 11px 0;
	display: none
}
.spot-goods ul li .hide .title {
	height: 16px;
	line-height: 16px;
	overflow: hidden
}
.spot-goods ul li .hide .detail {
	height: 122px;
	margin-top: 10px;
	padding-left: 25px
}
.spot-goods ul li .hide .detail .img {
	width: 122px;
	height: 122px;
	float: left
}
.spot-goods ul li .hide .detail .number {
	height: 122px;
	padding-left: 15px;
	float: left
}
.spot-goods ul li .hide .detail .number .p1 {
	color: #C81623
}
.spot-goods ul li .hide .detail .number .p2 {
	color: #999;
	margin-top: 10px
}
.spot-goods ul li .hide .detail .number .p2 a {
	padding: 3px 10px;
	background: #C81623;
	color: #fff;
	text-decoration: none
}
.spot-goods ul li .hide .detail .number .discount {
	margin-top: 15px
}
.spot-goods ul li.open .show {
	display: none
}
.spot-goods ul li.open .hide {
	display: block
}
.spot-goods ul li.open .hide .index {
	background: #C81623
}
.act-banner {
	height: 60px;
	overflow: hidden;
}
.act-banner img {
	width: 1210px;
	height: 60px
}
.act-list ul li {
	width: 286px;
	padding: 0px;
	margin-left: 19px;
	margin-bottom: 20px;
	float: left;
	border: solid 1px #e0e0e0
}
.act-list ul li:hover {
	border: solid 1px #C81623
}
.act-list ul li.first {
	padding-left: 0;
	margin-left: 0px;
}
.act-list ul li .img {
	width: 286px;
	height: 200px;
	position: relative;
	text-align: center;
	overflow: hidden
}
.act-list ul li .img img {
	width: 200px;
	height: 200px
}
.act-list ul li .img .absBg, .act-list ul li .img .absFg {
	width: 268px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	padding:0px 10px;
	position: absolute;
	bottom: 0;
	left: 0
}
.act-list ul li .img .absBg {
	background: #000;
	opacity: .4;
	filter: alpha(opacity=40)
}
.act-list ul li .img .absFg a {
	color: #fff;
	height: 26px;
	line-height: 26px;
}
.act-list ul li .info {
	height: 20px;
	padding: 19px 0 19px 19px;
	padding-left: 40px;
	border-top: 0;
	background: #fff
}
.act-list ul li .info .price {
	width: 115px;
	height: 20px;
	line-height: 20px;
	border-right: solid 1px #d8d8d8;
	color: #999;
	float: left
}
.act-list ul li .info .price strong {
	font-size: 20px;
}
.act-list ul li .info .price .jifen {
	margin-left: 5px
}
.act-list ul li .info .price .arial {
	font-family: Arial
}
.act-list ul li .info .discount {
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #333;
	float: right;
}
.act-list ul li .info .discount span {
	background: #C81623 ;
	padding: 3px 10px;
	color: #fff
}
.act-list ul li .info .discount span a {
	color: #fff
}
.act-list ul li .info .discount strong {
	font-size: 34px;
	font-family: helvetica
}
.act-list .pager {
	line-height: 25px;
	margin-top: 10px;
	text-align: center;
}
#filter {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	background: #F7F7F7;
	box-shadow: 0 1px 1px rgba(0,0,0,0.02);
}
#filter .fore1 {
	overflow: hidden;
	height: 26px;
	padding: 5px 8px;
	border-bottom: 1px solid #E7E3E7;
	zoom: 1;
}
#filter .fore2 {
	padding: 3px 8px;
	zoom: 1;
}
#filter dl, #filter dt, #filter dd {
	float: left;
	line-height: 26px;
	zoom: 1;
}
#filter .total {
	float: right;
	height: 22px;
	padding: 2px 15px 2px 0;
	border-right: 1px solid #E7E3E7;
	line-height: 22px;
	font-family: verdana;
	color: #C81623;
}
#filter .pagin {
	float: right;
	height: 22px;
	padding: 2px 0;
	border-left: 1px solid #fff;
}
#filter .order dd {
	height: 24px;
	border: 1px solid #CECBCE;
	background-position: 0 -73px;
	background-repeat: repeat-x;
	background-color: #fff;
	margin-right: 5px;
	line-height: 24px;
	overflow: hidden;
	zoom: 1;
}
#filter .order a {
	display: block;
	padding: 0 10px;
	height: 24px;
	line-height:24px;
}
#filter .order b {
	display: none;
	position: absolute;
	top: 6px;
	right: 8px;
	width: 9px;
	height: 11px;
	overflow: hidden;
	font-size: 0px;
}
#filter .order .curr {
	border: 1px solid #C81623;
	background: #C81623;
	font-weight: bold;
}
#filter .order .curr a {
	color: #fff;
}
.pagin a, .pagin span {
    float: left;
    height: 20px;
    padding: 3px 10px;
    border: 1px solid #CCC;
    margin-left: 2px;
    font-family: arial;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
}
.pagin-m a, .pagin-m span {
    height: 14px;
    line-height: 14px;
}
.pagin .prev, .pagin .next, .pagin .prev-disabled, .pagin .next-disabled{
	position: relative;
}
.pagin .prev-disabled, .pagin .next-disabled {
    color: #CCC;
    cursor: default;
}
.pagin .prev, .pagin .prev-disabled {
    padding-left: 8px;
}
.pagin-m .prev, .pagin-m .next, .pagin-m .prev-disabled, .pagin-m .next-disabled {
    padding-top: 3px;
    height: 14px;
    line-height: 14px;
    font-family: "宋体";
    text-align: center;
    font-size: 14px;
}
.pagin .text, .pagin .current {
    border: medium none;
    padding: 4px 11px;
}
/*商品图展示*/
#preview {
	z-index: 2;
	width: 420px;
	height: auto;
	float: left;
}
#preview .goods-img {
	padding: 10px;
	width: 400px;
	border: 1px solid #eee;
}
#preview .goods-img img{
	width: 400px;
	height: 400px;
}
/*放大镜*/
.MagicZoomBigImageCont{
	padding: 10px !important;
    border: 1px solid #DDD;	
	margin-top:-11px;
	background:#fff;
}
#preview .goods-img .MagicZoomBigImageCont img{
	width:auto;
	height:auto;	
}
.MagicZoomPup {
	border: 1px solid #eee;
	background: url(../images/point.png);
	cursor: move;
}

#preview span.scrleft {
	width: 16px;
	height: 50px;
	background: url(../images/btn_per.gif) no-repeat left center;
	float: left;
	cursor: pointer
}
#preview span.scrright {
	width: 16px;
	height: 50px;
	background: url(../images/btn_next.gif) no-repeat right center;
	float: right;
	cursor: pointer
}
#preview .gallery {
	width: 352px;
	float: left;
	margin-left: 8px;
	_margin-left: 5px;
	overflow: hidden;
}
#preview .gallery ul {
	width: auto;
}
#preview .gallery #goods_gallery .curr img {
	border: 1px #CD0000 solid;
}
#preview .gallery li {
	float: left;
	width: 60px;
}
#preview .gallery li img {
	width: 50px;
	height: 50px;
	display: block;
	border: 1px #ccc solid;
}
/*详细信息*/
.goods-detail-info{
	float: left;
	width: 530px;
	padding: 0px 20px; 
}
.goods-name h1 {
	width: auto;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 500;
	overflow: hidden;
	color: #3C3C3C;
}
.goods-brief {
	color: #999;
}
#goods-price {
	background: #F5F5F5;
	margin: 10px 0px;
	padding: 6px 15px;
	z-index: 2;
	position:relative
}
#goods-price .mar-l {
	height: 35px;
	line-height: 35px;
}
#goods-price .mar-l .price {
	display: inline-block;
	width: 45px;
}
#goods-price .mar-l .p-price {
	font-size: 30px;
	color: #f52648;
}
#summary1 {
	float: left;
	width: 100%;
	display: inline-block;
}
#summary1 a {
	color: #F52648;
}
#summary1 li {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 6px;
	PADDING-TOP: 6px;
	ZOOM: 1;
}
#summary1 li.padd {
	margin-left: 5px;
	width: 45%;
	float: left
}
#summary1 li.padd .dt {
	float: left;
	width: 27%;
	color: #999;
}
#summary1 li.padd .dd {
	float: left;
	width: 73%
}
#choose {
	width: 100%;
}
#choose li {
	padding: 0 0 7px 0px; 
	overflow: visible;
	position: relative;
	margin-left: 5px;
}
#choose li .dt {
    float: left;
    width: 55px;
    color: #999;
}
#choose-version{
	display: inline-block;	
}
#choose-version .dt {
    margin-top: 8px;
    min-width: 55px;
    width: auto;
	float: left;
	color: #999;
}
#choose-version .dd {
	width: 470px;
	height: auto;
	padding-bottom: 5px;
	float: left;
	overflow: hidden;
}
#choose-version A {
	display: block;
	white-space: nowrap;
	text-decoration: none
}
.catt {
	height: auto;
	overflow: hidden;
	padding-bottom: 5px;
}
.catt a {
	border: #c8c9cd 1px solid;
	text-align: center;
	margin-right: 5px;
	margin-top: 6px;
	padding: 4px 10px;
	display: block;
	white-space: nowrap;
	color: #000;
	text-decoration: none;
	float: left;
	background:#ffffff;
}
.catt a:hover {
	border: #f52648 1px solid;
	margin-right: 5px;
	margin-top: 6px;
}
.catt a:focus {
	outline-style: none;
}
.catt .cattsel {
	border: #f52648 1px solid;
	background: url(../images/bg_attr_sel_zyh.png) no-repeat bottom right;
	margin-right: 5px;
	margin-top: 6px;
	background-color: #fff;
}
.catt .cattsel a:hover {
	margin: -1px;
}
.catt a.wuxiao {
	cursor: not-allowed;
	text-decoration: none;
	border: #999 1px dashed;
	margin-left: 5px;
	margin-top: 6px;
	padding: 4px 10px;
	background: #ddd;
}
.catt a.wuxiao:visited, .catt a.wuxiao:hover {
	cursor: not-allowed;
	text-decoration: none;
	border: #999 1px dashed;
}
.catt a .spec-img{
	float: left;
	cursor: pointer;
}
.catt a .spec-name{
	float: left;
	cursor: pointer;
	line-height: 40px;
	margin: 0 10px 0 10px;
	color: #000;
	text-decoration: none;
}
.catt a .value-label{
	padding:3px 7px;
}
#choose-btns {
	float: left;
	height: 40px;
	width:100%;
}
#choose-btns .u-buy1 {
	display: block;
	width: 160px;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	color: #fff;
	float: left;
	cursor: pointer;
	background: #fff0ea;
	margin-right: 15px;
	color: #e31939;
	text-align: center;
	text-decoration: none;
	border: none;
	border:1px solid #e31939;
}
/*详细信息右侧店铺信息*/
#supp_info{
	float: left;
}
#shop-info {
	float: right;
	width: 220px;
	min-height: 510px;
	position:relative;
}
#shop-info .shop-title {
	font-size: 16px;
    font-weight: 500;
	color: #fff;
	text-align: center;
	background:#e31939;
	padding: 8px 10px;
	line-height:24px;
}
#shop-info .shop-title dt{
	width:100%;	
}
#shop-info .shop-title span, #shop-info .shop-title a{
	color: #fff;
}
#shop-info .shop-info-detail{
	border:1px solid #eee;
	border-top:0;	
}
#shop-info dl {
	padding: 0 14px;
	overflow: hidden;
	line-height:24px;
}
#shop-info dt {
	float: left;
	width: 60px;
	padding-bottom: 0px;
	color:#999;
}
#shop-info dd {
	width: 125px;
	clear: none;
	overflow: hidden;
	zoom: 1;
}
#shop-info .service-promise{
	overflow:hidden;
	padding: 15px 14px 5px;	
}
#shop-info .service-promise li {
    width: 57px;
    height: 57px;
    padding: 0;
    overflow: hidden;
	background:url(../images/goods-icon.png) no-repeat;
	float:left;
	margin-right:9px;
}
#shop-info .service-promise .service-promise1{
	background-position:0 -455px;
}	
#shop-info .service-promise .service-promise2{
	background-position:0 -512px;
}	
#shop-info .service-promise .service-promise3{
	background-position:0 -569px;
}	
#enter-shop {
	padding:10px 14px;
}
#enter-shop a {
	display: block;
	color: #F52648;
	line-height: 31px;
	height: 31px;
	text-align: center;
}
#enter-shop a:hover {
	text-decoration: none;
}
#enter-shop .shop-customer {
	margin-left:-10px;
	width:200px;
}
#enter-shop .btn-customer{
	float:left;
    LINE-HEIGHT: 27px;
    HEIGHT: 27px;
    border: 1px solid #eee;
    background: -moz-linear-gradient(top,#fafafa,#f7f7f7);
    background: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#f7f7f7));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa", endColorstr="#f7f7f7");
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=" #fafafa ", endColorstr=" #f7f7f7 ")";
    color: #666;
    width: 58px;
    padding: 0 0 0 30px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
	margin:0 0 10px 10px;
}
#enter-shop .btn-customer i{
	position: absolute;
    left: 5px;
    top: 5px;	
}
#enter-shop .btn-customer.btn-customer-ww{
	width:64px;
	padding:0 0 0 24px;
}
#enter-shop .btn-customer.btn-customer-ww i{
	left:10px;	
}
#enter-shop #attention-shop {
	padding-top: 5px;
	text-align: center;
	margin: 0px 10px;
}
#enter-shop #attention-shop p {
	height: 30px;
	line-height: 30px;
	text-align: center
}
.rate-detail .hot-grey{
	display: inline-block;
    width: 84px;
    height: 10px;
    background: url(../images/goods-icon.png) no-repeat 0 -249px;
    margin-top: 7px;
    float: left;
    overflow: hidden;
}
.rate-detail .hot-red{
	display:inline-block;
	height:10px;
	background:url(../images/goods-icon.png) no-repeat 0px -265px;
}
.score-detail{
	overflow: hidden;
	padding: 5px 14px;
}
.score-detail li{
	width: 57px;
	height: 46px;
	padding-top: 11px;
	float: left;
	text-align: center;
	background-position: 0px -286px;
	margin-right:9px;
}
.score-detail li a{
	cursor: pointer;	
}
.score-detail li span{
	display:block;
}
.score-detail li .score-tit {
	width: 30px;
    height: 20px;
	margin-left: 17px;
	text-indent: -99px;
    overflow: hidden;
}
.score-detail li .score-tit1 {
    background-position: -83px 0px;
}
.score-detail li .score-tit2 {
    background-position: -83px -23px;
}
.score-detail li .score-tit3 {
    background-position: -83px -51px;
}
.score-detail li span.scores{
	color:#fe596a;  
	padding-top:3px;
}
#enter-shop .enter-shop-item {
	height: 28px;
	display: inline-block;
	margin: 0px auto;
	clear: both;
}
#enter-shop .enter-shop-item .btn-flat1 {
	float: left;
	padding-left: 20px;
    width: 69px;
    position: relative;
    z-index: 1;
	display: block;
	color: #FFF;
	line-height: 27px;
	height: 27px;
	border-radius: 3px;
	background:#FE596A;
}
#enter-shop .enter-shop-item .btn-flat1 i{
	width: 14px;
	height: 14px;
	display: inline-block;
	position: absolute;
	left: 9px;
	top: 6px;
}
#enter-shop .enter-shop-item .goto-shop i{
	background-position: -111px 0px;
}
#enter-shop .enter-shop-item .shop-add{
	margin-left: 10px;
}
#enter-shop .enter-shop-item .shop-add i{
	left: 12px;
	background-position: -116px -22px;
}
/*左侧相关分类等*/
.aside-con{
	margin-bottom: 15px;
}
.aside-con .aside-tit{
	height: 35px;
	line-height: 35px;
	border: 1px #eee solid;
	background-color: #FAFAFA;
}
.aside-con .aside-tit h2{
	font-weight: 400;
	font-size: 13px;
	color: #666;
	padding: 0px 8px;
}
.aside-con1 .aside-list{
    overflow: hidden;
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color: #eee;
}
.aside-con1 ul {
	padding: 4px 0px 4px 15px;
	overflow: hidden;
}
.aside-con1 ul li{
	padding: 3px 6px 3px 0px;
	float: left;
	overflow: hidden;
	width: 90px;
	height: 18px;
}
.collect {
	width: 210px;
	height: 550px;
	overflow: hidden;
}
.collect .colList {
	width: 208px;
	border: 1px #eee solid;
	border-top: none;
	display: inline-block
}
.collect .colList .colFrame {
	width: 208px;
	height: 450px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px
}
.collect .colList ul {
	width: 208px;
	height: 450px;
	text-align: center;
	position: relative;
	padding: 0px
}
.collect .colList ul li {
	width: 155px;
	height: 150px;
	padding: 0px;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0px;
}
.collect .p-price {
	text-align: center;
	color: #F52648;
}
.collect .prev {
	background-color: transparent;
	background-repeat: no-repeat;
	float: left;
	width: 27px;
	height: 27px;
	cursor: pointer;
	background-position: 0 -125px;
	margin-left: 60px;
	margin-bottom: 15px;
	cursor: pointer
}
.collect .next {
	background-color: transparent;
	background-repeat: no-repeat;
	float: right;
	width: 27px;
	height: 27px;
	cursor: pointer;
	background-position: 0 -155px;
	margin-right: 60px;
	margin-bottom: 15px;
	cursor: pointer
}
.related .aside-list {
	width: 208px;
	border: 1px #ddd solid;
	border-top: none;
	display: inline-block
}
.related .aside-list ul {
    padding: 0px 8px;
    overflow: hidden;
}
.related .aside-list .p-img, .related .aside-list .p-price {
  	text-align: center;
	padding: 5px 0px;
}
.related .aside-list li {
  padding: 8px 0;
  border-top: 1px dotted #DEDEDE;
}
.related .aside-list .fore1 {
  border-top: none;
}
.related .aside-list li .rate{
	height: 36px;
	overflow: hidden	
}
/*商品详情右侧*/
#wrapper {
	overflow: visible;
	_clear: both;
}
#wrapper .mt {
    z-index: 100;
    top: auto;
    overflow: visible;
	width: 989px;
	background: #FFF none repeat scroll 0% 0%;
	height: 35px;
	line-height: 35px;
	border-left: 1px solid #DDD;
	font: 14px/30px "microsoft yahei";
	border-bottom: 2px solid #C81623 ;
}
#wrapper .mt .tab {
	display: inline;
	margin-left: -1px;
	float: left;
	overflow: visible;
}
#wrapper .mt .tab li {
	border-right: #eee 1px solid;
	border-top: #eee 1px solid;
	float: left;
	text-align: center;
}
#wrapper .mt .tab li:hover {
	background: #C81623;
	border-top: #C81623 1px solid;
	border-right: #C81623 1px solid;
	color: #ffffff;
}
#wrapper .mt .tab li.h-list {
	display: inline;
	background: #C81623;
	border-top: #C81623 1px solid;
	border-right: #C81623 1px solid;
	border-left: #C81623 1px solid;
	color: #ffffff;
}
#wrapper .mt .tab a {
	padding: 0px 45px;
	height: 34px;
	line-height: 34px;
}
#wrapper .mt .tab .h-list a, #wrapper .mt .tab li:hover a {
	color: #fff;
	line-height: 34px;
}
#wrapper .mt .goods-ce-right{
	width: 170px;
	float: right; 
	position: relative;
	left: 0;
	top: 0
}
#wrapper .mt .goods-ce-right a.right-add {
	float: right;
	display: block;
	width: 161px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background: #C81623;
	text-decoration: none
}
#wrapper .mt .goods-ce-right .ce-right {
	width: 160px;
	position: absolute;
	right: 0;
	top: 37px;
 *top:37px;
	background: #F5F5F5;
}
#wrapper .mt .goods-ce-right .ce-right ul {
	width: 100px;
	display: inline-block;
	padding: 10px 30px;
}
#wrapper .mt .goods-ce-right .ce-right ul li {
	height: 40px;
	line-height: 40px;
	position: relative;
	width: 78px;
	background-position:-108px -85px;
	cursor: pointer;
}
#wrapper .mt .goods-ce-right .ce-right ul li i {
	position: absolute;
	left: 0px;
	top: 13px;
	display: block;
	width: 19px;
	height: 15px;
}
#wrapper .mt .goods-ce-right .ce-right ul li.abs-active i, #wrapper .mt .goods-ce-right .ce-right ul li.abs-hot i {
	background-position: -84px -96px;
}
#wrapper .mt .goods-ce-right .ce-right ul li span {
	position: absolute;
	left: 22px;
	display: block;
	width: 66px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
#wrapper .mc {
	width: 820px;
	overflow: hidden;
	clear: both;
}
#wrapper .mc .detail-list {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #eee;
	padding: 8px;
	overflow: hidden;
	zoom: 1;
}
#wrapper .mc .detail-list li {
	padding: 4px 0px;
	float: left;
	width: 33%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#wrapper .mc .detail-content {
	padding: 10px 0px;
	text-align: center
}
#wrapper .mc .detail-content img{
	max-width:820px;	
}
/*评价*/
.tab-title {
	z-index: 6;
	text-align: left
}
.tab-title span {
	height: 50px;
	line-height: 50px;
	width: 90px;
	font-size: 20px;
	padding-left: 10px;
	display: inline-block;
	border-bottom: 2px #C81623 solid;
	color: #C81623
}
.wenti .tab-body, .goods-content {
	padding: 0px 0;
	margin-top: -1px;
	border: 1px #eee solid;
	z-index: 4;
}
.my-comment-pre {
	margin: 10px 0px;
	z-index: 5;
	position: relative;
}
.my-comment-pre .title {
	height: 35px;
	line-height: 35px;
	padding: 0 12px 0 12px;
	font-size: 14px;
	font-weight: bold;
}
.my-comment-pre ul {
	height: 100px;
	padding: 10px 0px
}
.my-comment-pre ul li {
	float: left;
	height: 100px;
}
.my-comment-pre ul li.hpd {
	width: 200px;
	text-align: center;
	color: #999;
}
.my-comment-pre ul li.hpd div {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px 0 0 0;
	line-height: 40px;
}
.my-comment-pre ul li.pre {
	width: 240px;
	border-right: solid #eee 1px;
	margin-right: 20px;
	height: 80px;
	padding-top: 10px;
}
.my-comment-pre ul li.pre dl{
	clear: both	
}
.my-comment-pre ul li.pre dl dt {
	float: left;
	line-height: 24px;
	width: 80px;
}
.my-comment-pre ul li.pre dl dt span {
	color: #9c9a9c;
	margin-left: 5px;
}
.my-comment-pre ul li.pre dl dd {
	float: left;
	height: 10px;
	width: 100px;
	margin-top: 7px;
	line-height: 10px;
	overflow: hidden;
	background: #efefef
}
.my-comment-pre ul li.pre dl dd div {
	height: 10px;
	line-height: 10px;
	overflow: hidden;
	background-position: 0px -349px;
	float: left
}
.my-comment-pre ul li.tag {
	width: 330px;
}
.my-comment-pre ul li.tag dt {
	line-height: 22px;
	margin-top: 6px;
}
.my-comment-pre ul li.tag dd span {
	float: left;
	height: 22px;
	line-height: 22px;
	background: #fdedd2;
	padding: 0 7px 0 7px;
	margin: 0 5px 5px 0
}
.my-comment-tab {
	background:#fafafa;
	border: 1px solid #eee;
	height: 35px;
	line-height: 35px;
	overflow: visible;
}
.my-comment-tab ul {
	font-size:14px
}
.my-comment-tab li {
	float: left;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	padding: 0 45px;
	border-right: 1px solid #eee;
}
.my-comment-tab li.cur {
	background: #C81623;
	DISPLAY: inline;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 0 45px;
}
/*评论列表*/
.my-comment-list{
	margin-top: 10px;	
}
.my-comment-list dl {
	background: url(../images/comment-list-bg.gif) no-repeat 108px top;
	margin-bottom: 8px;
}
.my-comment-list dt {
	float: left;
	width: 120px;
	text-align: center;
	padding-top: 10px;
}
.my-comment-list dd {
	border: solid #d0e4c2 1px;
	border-left: none;
	width: 669px;
	min-height: 110px;
	height: auto;
	float: right;
	padding: 0 15px 15px 15px;
}
.my-comment-list dd .rank68 {
	height: 20px;
	border-bottom: solid #d0e4c2 1px;
	margin: 10px 0px;
}
.my-comment-list dd .rank68 .stars{
	width: 75px;
	height: 14px;
	display: inline-block;
}
.my-comment-list dd .rank68 .stars0{	
	background-position: 0px -365px;
}
.my-comment-list dd .rank68 .stars1{	
	background-position: 0px -379px;
}
.my-comment-list dd .rank68 .stars2{	
	background-position: 0px -393px;
}
.my-comment-list dd .rank68 .stars3{	
	background-position: 0px -407px;
}
.my-comment-list dd .rank68 .stars4{	
	background-position: 0px -421px;
}
.my-comment-list dd .rank68 .stars5{	
	background-position: 0px -435px;
}
.my-comment-list dd td .comment-reps{
	padding: 10px 0 10px 0;
	color: #f60;
}
.my-comment-list .add-time {
	float: right;
	margin-right: 10px;
}
.my-comment-list dd th {
	font-weight: normal;
	text-align: right;
	color: #9c9a9c;
	line-height: 22px;
}
.my-comment-list dd .tag span {
	float: left;
	height: 22px;
	line-height: 22px;
	background: #fdedd2;
	padding: 0 7px 0 7px;
	margin: 0 5px 5px 0
}
.my-comment-list dd .tag span a {
	cursor: pointer
}
.my-comment-list dd .shaidan {
	color: #9c9a9c
}
.my-comment-list dd .shaidan a{
	margin-right: 5px;	
}
.my-comment-list dd .shaidan img {
	padding: 4px;
	border: solid #ddd 1px;
}
.my-comment-list dd .yong li {
	float: right;
	width: 64px;
	height: 22px;
	line-height: 22px;
	background: #F8F8F8;
	border: 1px #ddd solid;
	border-radius: 2px;
	text-align: center;
	margin-left: 10px;
	cursor: pointer
}
.my-comment-list dd .yong li a {
	color: #444;
	text-decoration: none
}
.my-comment-list dd .yong li span{
	margin-left: 3px;	
}
.my-comment-list .no-comment {
	text-align: center;
	padding: 20px 0px;
	border: 1px #ddd solid;
  	color: #f60;
	font-size: 14px;
}
/*评论列表分页*/
.pagebar {
	float: right;
	height: 30px;
	line-height: 30px;
}
.pagebar a {
	height:18px;
	line-height: 18px;
	float: left;
	margin: 0px 5px;
	padding:3px 8px;
	color: #333;
	border: #DDD 1px solid;
	background: #fff;
}
.pagebar span {
	float: left;
}
.pagebar span.f6{
	margin-right:10px;
}
.pagebar .page-now {
	dispaly: block;
	font-weight: bold;
	float: left;
	height:18px;
	line-height: 18px;
	margin: 0px 5px;
	padding:3px 8px;
	background: #E4393C ;
	border: #E4393C 1px solid;
	color: #fff;
}
/*售后保障*/
.goods-sales-support{
	padding: 10px 15px;
	line-height: 2em;
}
.goods-sales-support .sales-support-info{
	margin-top: 10px;	
}
.goods-sales-support .state {
	margin-top: 10px;
	padding-top: 10px;
	border-top: #dedede 1px dotted;
	overflow: hidden;
	zoom: 1
}
/*常见问题*/
.wenti .list {
	border-bottom: 1px dashed #eee;
	padding: 10px 20px
}
.wenti .list .icon {
	height: 14px;
	margin-top: 8px;
	width: 18px;
	display: inline-block;
	background-position: -50px -60px;
}
.wenti .list .answer .icon {
	background-position: -50px -74px;
	margin-top: 4px
}
.wenti .list .common-right {
	float: right;
	width: 750px
}
.wenti .list .question .common-right {
	line-height: 30px
}
.wenti .list .answer .common-right {
	line-height: 1.8
}