@charset "utf-8";
/* CSS Document */
.margin-w1210 {
    width: 1210px !important;
    margin: 10px auto;
}
.goods-info {
	height: auto;
	display: inline-block;
	margin-bottom: 10px;
}
/*商品图展示*/
#preview {
	z-index: 2;
	width: 420px;
	height: auto;
	float: left;
}
#preview .goods-img {
	padding: 10px;
	width: 400px;
	border: 1px solid #eee;
}
#preview .goods-img img{
	width: 400px;
	height: 400px;
}
/*放大镜*/
.MagicZoomBigImageCont{
	padding: 10px !important;
    border: 1px solid #DDD;	
	margin-top:-11px;
	background:#fff;
}
#preview .goods-img .MagicZoomBigImageCont img{
	width:auto;
	height:auto;	
}
.MagicZoomPup {
	border: 1px solid #eee;
	background: url(../images/point.png);
	cursor: move;
}

#preview span.scrleft {
	width: 16px;
	height: 50px;
	background: url(../images/btn_per.gif) no-repeat left center;
	float: left;
	cursor: pointer
}
#preview span.scrright {
	width: 16px;
	height: 50px;
	background: url(../images/btn_next.gif) no-repeat right center;
	float: right;
	cursor: pointer
}
#preview .gallery {
	width: 352px;
	float: left;
	margin-left: 8px;
	_margin-left: 5px;
	overflow: hidden;
}
#preview .gallery ul {
	width: auto;
}
#preview .gallery #goods_gallery .curr img {
	border: 1px #CD0000 solid;
}
#preview .gallery li {
	float: left;
	width: 60px;
}
#preview .gallery li img {
	width: 50px;
	height: 50px;
	display: block;
	border: 1px #eee solid;
}
.goods-gallery-bottom{
	position: relative;
	padding: 10px;
	height: 25px;
	line-height: 25px;
	clear: both;
}
.goods-gallery-bottom .goods-sn span{
	float: left;
	margin-right: 5px;	
	color: #999;	
}
.goods-gallery-bottom a b {
	display: block;
    width: 14px;
    height: 14px;
	background: transparent url(../images/goods-icon.png) no-repeat;
	float: left;
    margin: 6px 4px -2px 0px;
}
.goods-gallery-bottom a.goods-col{
	overflow: hidden;
	height: 25px;
	line-height: 25px;
	color: #999;
	margin-right: 10px;
}
.goods-gallery-bottom a.goods-col-t{
	color: #C81623;	
}
.goods-gallery-bottom a.goods-col b {    
    background-position: -111px -221px;    
}
.goods-gallery-bottom a.goods-col-t b {
    background-position: -111px -197px;
}
.goods-gallery-bottom a.goods-compare{
    width: auto;
    height: 25px;
    overflow: hidden;
    padding-left: 18px;
    color: #999;
    position: relative;
	cursor: pointer
}
.goods-gallery-bottom a.goods-compare i{
	background: url(../images/common/common-icon.png) no-repeat -26px -11px;
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	left: 0px;
	top: 5px;
}
.goods-gallery-bottom a.goods-compare.curr i,.goods-gallery-bottom a.goods-compare:hover i{
	background-position:-40px -11px;	
}
.goods-gallery-bottom a.goods-compare.curr{
	color: #C81623;
}
.goods-gallery-bottom a:hover i{
	color: #C81623;
}
/*详细信息*/
.goods-detail-info{
	float: left;
	width: 530px;
	padding: 0px 20px; 
}
.goods-name h1 {
	width: auto;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 500;
	overflow: hidden;
	color: #3C3C3C;
}
.goods-brief {
	color: #999;
}
#goods-price {
	background: #F5F5F5;
	margin: 10px 0px;
	padding: 6px 15px;
	z-index: 2;
	position:relative
}
#goods-price .mar-l {
	height: 35px;
	line-height: 35px;
}
#goods-price .mar-l .price {
	display: inline-block;
	width: 45px;
}
#goods-price .mar-l .p-price {
	font-size: 30px;
	color: #f52648;
}
#goods-price .mar-l .depreciate {
	display: inline-block;
	width: 60px;
	text-align: center;
	background: #FE596A;
	height: 20px;
	line-height: 20px;
	margin-left: 50px;
}
#goods-price .mar-l .depreciate a{
	color: #ffffff;
	text-decoration: none;
}
#goods-price .show-price{
	height: 35px;
	line-height: 35px;
	z-index: 101;	
}
#goods-price .show-price .market-prices-spe {
	float: left;
}
#goods-price .show-price .market-prices-spe .market-price{
	font-weight: normal;
	text-decoration: line-through;
	margin-left: 10px;
	margin-right: 50px
}
#goods-price .show-price .rank-prices {
	font-weight: normal;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	float: left;
	margin-top: 5px;
	z-index: 100
}
#goods-price .show-price .rank-prices .rmbPrice i {
	background: url(../images/common/common-icon.png) no-repeat;
	background-position: -294px -110px;
	width: 7px;
	height: 5px;
	display: inline-block;
	margin-top: -1px;
	margin-left: 10px;
	vertical-align: middle;
}
#goods-price .show-price .rank-prices #vip1 {
	padding: 2px 8px;
	border: 1px solid #F3F3F3;
	cursor: pointer
}
#goods-price .show-price .rank-prices #vip2 {
	padding: 2px 8px;
	width: auto;
	height: auto;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	z-index: 100
}
#summary1 {
	float: left;
	width: 100%;
	display: inline-block;
}
#summary1 a {
	color: #F52648;
}
#summary1 li {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 6px;
	PADDING-TOP: 6px;
	ZOOM: 1;
}
#summary1 li.padd {
	margin-left: 5px;
	width: 45%;
	float: left
}
#summary1 li.padd .dt {
	float: left;
	width: 27%;
	color: #999;
}
#summary1 li.padd .dd {
	float: left;
	width: 73%
}
#summary-qita {
	margin-bottom: 10px;
	height: 45px;
	display: block;
	clear: both
}
#summary-qita ul.qita {
	height: 25px;
	display: block;
	border-top: 1px #e5dfda dotted;
	border-bottom: 1px #e5dfda dotted;
	padding: 10px 0px;
}
#summary-qita ul.qita li {
	width: 33%;
	height: 25px;
	text-align: center;
	display: block;
	float: left;
	border-right: 1px #e5dfda solid
}
#summary-qita ul.qita li span {
	width: auto;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	font-size: 12px;
	color: #F52648;
	margin-left: 5px;
}
#summary-qita ul.qita li span a{
	color: #F52648;
}
#summary-qita ul.qita li p {
	height: 25px;
	line-height: 25px;
	color: #999999;
}
#summary {
	margin-bottom: 10px;
	width: 100%
}
#summary .padd-promotion .dd a.activity-68, #summary .padd-promotion .dd i, #summary .padd-promotion #aa b.tip_flag, .show_price i, #summary-price .rank_prices .rmbPrice i, .wrap-input A, #choose-btns A.btn-phone i, #phone-tan span.arr, .ce-right ul li.abs-active i, .ce-right ul li.abs-hot i,.ce-right ul li,.wenti .list .icon,.collect .prev, .collect .next,.tell-me i, .shop-score .hot-red, .shop-score .hot-grey, .score-detail li, .score-detail li .score-tit, #enter-shop .enter-shop-item .btn-flat1 i, .goods-best .prev, .goods-best .next, .my-comment-pre ul li.pre dl dd div, .my-comment-list dd .rank68 .stars, .mydiv .qb_right a{
	background: url(../images/goods-icon.png) no-repeat;	
}
#summary a {
	color: #005aa0;
}
#summary .dd {
	float: left;
	width: 450px;
}
#summary li {
	zoom: 1;
	margin-left: 5px;
}
#summary li.padd-spe{
	width:100%;
}
#summary li.padd .dt {
	float: left;
	width: 55px;
	color: #999;
}
#summary li.padd .dd {
	width: 85%;
	float: left;
	margin-bottom: 5px;
}
#summary .padd-promotion .dd {
	width: 85%;
	float: left;
	margin-bottom: 5px;
}
#summary .padd-promotion .J_MenuItem {
	z-index: 2
}
#summary .padd-promotion .dd a {
	height: 25px;
	line-height: 25px;
	display: inline-block;
}
#summary .padd-promotion .dd a.activity_con {
	margin-left: 10px;
	padding: 0x 10px;
	font-weight: 100;
	color: #F52648;
	float: left
}
#summary .padd-promotion .dd a.activity_1 {
	background-position:0px -75px;
	width: 44px;
	text-align: center;
	line-height: 25px;
	height: 25px;
	display: inline-block;
	float: left;
	color: #fff
}
#summary .padd-promotion .dd a.activity_2 {
	background-position:0px -25px;
	width: 44px;
	text-align: center;
	line-height: 25px;
	height: 25px;
	display: inline-block;
	float: left;
	color: #fff;
}
#summary .padd-promotion .dd a.activity_3 {
	background-position:0px -50px;
	width: 44px;
	text-align: center;
	line-height: 25px;
	height: 25px;
	display: inline-block;
	float: left;
	color: #fff
}
#summary .padd-promotion .dd a.activity_4 {
	background-position:0px 0px;
	width: 75px;
	text-align: center;
	line-height: 25px;
	height: 25px;
	display: inline-block;
	float: left;
	color: #fff
}
#summary .padd-promotion .dd i {
	background-position:0px -110px;
	width: 7px;
	height: 5px;
	display: inline-block;
	margin-top: -1px;
	margin-left: 5px;
	vertical-align: middle
}
#summary .padd-promotion #aa {
	padding: 5px 10px 10px;
	zoom: 1;
	border: 1px solid #E8DCBB;
	z-index: 3;
	position: absolute;
	top: 25px;
*top:22px;
	_top: 25px;
	left: 55px;
*left:55px;
	background-color: #FCFBF8;
	white-space: nowrap;
	width: 300px;
	height: auto;
}
#summary .padd-promotion #aa b.tip_flag {
	background-position: -191px -40px;
	height: 59px;
	position: absolute;
	right: 0;
	width: 9px;
	height: 6px;
	background-position:-25px -110px;
	left: 35px;
	top: -5px;
}
#summary .padd-promotion #aa h3 {
	clear: both;
	padding: 5px 0 0;
	color: #666;
}
#summary .padd-promotion #aa ul {
	display: inline-block;
	width: 300px;
	padding-top: 10px;
}
#summary .padd-promotion #aa ul li {
	width: 50px;
	padding: 0px 10px;
	height: 75px;
	display: block;
	float: left;
	text-align: center;
}
#summary .padd-promotion #aa ul li a {
	width: 50px;
	height: 50px;
	display: block;
}
#summary .padd-promotion #aa ul li img {
	width: 50px;
	height: 50px;
}
#summary .padd-promotion #aa ul li p {
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
#summary li.padd .volume-price{
	line-height: 25px;
	display: inline-block;
}
#choose {
	width: 100%;
}
#choose li {
	padding: 0 0 7px 0px; 
	overflow: visible;
	position: relative;
	margin-left: 5px;
}
#choose li .dt {
    float: left;
    width: 55px;
    color: #999;
}
.pickup-point-wrap {
	position: relative;
	text-align: left;
}
.pickup-point-wrap .dt{
	padding: 6px 0px;
}
#pickup_point {
	margin: 0;
	padding: 5px 0;
	border: 1px solid #ccc;
	cursor: pointer;
	width: 80px;
	text-align: center;
	background-color: #fff;
	z-index: 3;
	position: relative;
	float: left;
}
#pickup_point_list {
	position: absolute;
	top: 29px;
	*top: 28px;
	left: 0;
	border: 1px solid #ccc;
	width: 350px;
	text-align: left;
	background-color: #fff;
	z-index: 1;
	display: none;
}
.textInfo ul ul, .textInfo ul ul li {
	border: none;
	list-style: none;
	background: none;
}
#pickup_point_list li {
	margin: 8px 0 8px 10px;
}
#area_label {
	float: left;
	border: 1px solid #ccc;
	border-left: none;
	padding: 5px 20px 5px 5px;
	position: relative;
	margin-left:0px;
	z-index: 4;
	background: url(../images/angle_bracket_1.png) no-repeat 95% #fff;
	cursor: pointer
}
#area_menu {
	line-height: 24px;
	height: 26px;
	margin: 5px;
	border-bottom: 2px solid #edd28b;
}
#area_menu a.hover {
	border: 2px solid #edd28b;
	border-bottom: none;
}
#area_menu a {
	margin: 0px 0px 0px 15px;
	padding: 0 25px;
	cursor: pointer;
	background: url(../images/angle_bracket.png) 90% no-repeat;
	text-decoration: none;
	line-height: 26px;
	background-color: #fff;
	float: left;
	display: block;
}
#area_menu a:hover {
	color: #C6BC06;
}
#area_list_wrap {
	position: absolute;
	top: 29px;
	*top: 28px;
	left: 0;
	background-color: #fff;
	z-index: 2;
	border: 1px solid #ccc;
	display: none;
	width: 490px;
	padding:10px 0px
}
#area_list_wrap li {
	float: left;
	margin: 5px 0px 0px 4px;
	width: 65px;
	text-align:center;
	padding:0px;
}
#area_list_wrap li a {
	text-decoration: none;
	padding: 2px 4px;
}
#area_list_wrap li a:hover {
	background-color: #C81623 ;
	color: white;
}
#choose #choose-version{
	padding-bottom: 0px;
	display: inline-block;	
}
#choose-version .dt {
    margin-top: 8px;
    min-width: 55px;
    width: auto;
	float: left;
	color: #999;
}
#choose-version .dd {
	width: 470px;
	height: auto;
	padding-bottom: 0px;
	float: left;
	overflow: hidden;
}
#choose-version A {
	display: block;
	white-space: nowrap;
	text-decoration: none
}
.catt {
	height: auto;
	overflow: hidden;
	padding-bottom: 5px;
}
.catt a {
	border: #c8c9cd 1px solid;
	text-align: center;
	margin-right: 5px;
	margin-top: 6px;
	padding: 4px 10px;
	display: block;
	white-space: nowrap;
	color: #000;
	text-decoration: none;
	float: left;
	background:#ffffff;
}
.catt a:hover {
	border: #f52648 1px solid;
	margin-right: 5px;
	margin-top: 6px;
}
.catt a:focus {
	outline-style: none;
}
.catt .cattsel {
	border: #f52648 1px solid;
	background: url(../images/bg_attr_sel_zyh.png) no-repeat bottom right;
	margin-right: 5px;
	margin-top: 6px;
	background-color: #fff;
}
.catt .cattsel a:hover {
	margin: -1px;
}
.catt a.wuxiao {
	cursor: not-allowed;
	text-decoration: none;
	border: #999 1px dashed;
	margin-left: 5px;
	margin-top: 6px;
	padding: 4px 10px;
	background: #eee;
}
.catt a.wuxiao:visited, .catt a.wuxiao:hover {
	cursor: not-allowed;
	text-decoration: none;
	border: #999 1px dashed;
}
.catt a .spec-img{
	float: left;
	cursor: pointer;
}
.catt a .spec-name{
	float: left;
	cursor: pointer;
	line-height: 40px;
	margin: 0 10px 0 10px;
	color: #000;
	text-decoration: none;
}
.catt a .value-label{
	padding:3px 7px;
}
#choose #choose-amount {
    overflow: hidden;
	padding-top: 5px;
    margin-left: 5px;
}
#choose #choose-amount dt{
	float: left;
	width: 55px;
	color: #999;
	padding: 5px 0px;
}
#choose #choose-amount .dd {
    overflow: hidden;
    width: 470px;
	float: left
}
#choose-amount .wrap-input {
	padding: 0px 18px 0px 0px;
	width: 200px;
}
#choose-amount .wrap-input a {
	overflow: hidden;
	width: 15px;
	line-height: 50px;
	height: 15px;
	float: left;
	margin-top: 3px;
}
#choose-amount .wrap-input font {
	font-size: 12px;
}
#choose-amount .btn-reduce {
	background-position: -44px -25px;
	margin-right: 5px;
}
#choose-amount .btn-add {
	background-position: -60px -25px;
	margin-left: 5px;
}
#choose-amount .btn-reduce:hover {
	background-position: -44px -41px;
}
#choose-amount .btn-add:hover {
	background-position: -60px -41px;
}
#choose-amount .text {
	border: #ccc 1px solid;
	padding: 2px;
	width: 30px;
	height: 16px;
	text-align: center;
	float: left;
}
.buyNub-buy-wrap{
	height: 40px;
	margin-top: 10px
}
#choose-btns {
	float: left;
	height: 40px;
	width:100%;
}
#choose-btns .u-buy1 {
	display: block;
	width: 160px;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	color: #fff;
	float: left;
	cursor: pointer;
	background: #fff0ea;
	margin-right: 15px;
	color: #e31939;
	text-align: center;
	text-decoration: none;
	border: none;
	border:1px solid #e31939;
}
#choose-btns .u-buy2 {
	display: block;
	width: 160px;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	float: left;
	margin-right: 15px;
	cursor: pointer;
	background:#C81623 ;
	border:1px solid #e31939;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}
#choose-btns a.btn-phone,#choose-btns1 a.btn-phone {
	width: auto;
	line-height: 40px;
	height: 40px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	float: right;
	text-decoration: none;
}
#choose-btns a.btn-phone i,#choose-btns1 a.btn-phone i{
	width: 24px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 5px;
	background-position: -56px -213px;
}
#phone-tan {
	position: absolute;
	top: -75px;
	right: -20px;
	z-index: 3;
}
#phone-tan span.arr {
	background-position: -116px -141px;
	top: 75px;
	display: block;
	height: 18px;
	left: -18px;
	overflow: hidden;
	position: absolute;
	width: 8px;
	z-index: 4;
}
#phone-tan .m-qrcode-wrap {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
	height: 100px;
	left: -12px;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	top: 0;
	width: 100px;
}
/*详细信息右侧店铺信息*/
#supp_info{
	float: left;
}
#shop-info {
	float: right;
	width: 220px;
	min-height: 510px;
	position:relative;
}
#shop-info .shop-title {
	font-size: 16px;
    font-weight: 500;
	color: #fff;
	text-align: center;
	background:#e31939;
	padding: 8px 10px;
	line-height:24px;
}
#shop-info .shop-title dt{
	width:100%;	
}
#shop-info .shop-title span, #shop-info .shop-title a{
	color: #fff;
}
#shop-info .shop-info-detail{
	border:1px solid #eee;
	border-top:0;	
}
#shop-info dl {
	padding: 0 14px;
	overflow: hidden;
	line-height:24px;
}
#shop-info dt {
	float: left;
	width: 60px;
	padding-bottom: 0px;
	color:#999;
}
#shop-info dd {
	width: 125px;
	clear: none;
	overflow: hidden;
	zoom: 1;
}
#shop-info .service-promise{
	overflow:hidden;
	padding: 15px 14px 5px;	
}
#shop-info .service-promise li {
    width: 57px;
    height: 57px;
    padding: 0;
    overflow: hidden;
	background:url(../images/goods-icon.png) no-repeat;
	float:left;
	margin-right:9px;
}
#shop-info .service-promise .service-promise1{
	background-position:0 -455px;
}	
#shop-info .service-promise .service-promise2{
	background-position:0 -512px;
}	
#shop-info .service-promise .service-promise3{
	background-position:0 -569px;
}	
#enter-shop {
	padding:10px 14px;
}
#enter-shop a {
	display: block;
	color: #F52648;
	line-height: 31px;
	height: 31px;
	text-align: center;
}
#enter-shop a:hover {
	text-decoration: none;
}
#enter-shop .shop-customer {
	margin-left:-10px;
	width:200px;
}
#enter-shop .btn-customer{
	float:left;
    LINE-HEIGHT: 27px;
    HEIGHT: 27px;
    border: 1px solid #eee;
    background: -moz-linear-gradient(top,#fafafa,#f7f7f7);
    background: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#f7f7f7));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa", endColorstr="#f7f7f7");
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=" #fafafa ", endColorstr=" #f7f7f7 ")";
    color: #666;
    width: 58px;
    padding: 0 0 0 30px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
	margin:0 0 10px 10px;
}
#enter-shop .btn-customer i{
	position: absolute;
    left: 5px;
    top: 5px;	
}
#enter-shop .btn-customer.btn-customer-ww{
	width:64px;
	padding:0 0 0 24px;
}
#enter-shop .btn-customer.btn-customer-ww i{
	left:10px;	
}
#enter-shop #attention-shop {
	padding-top: 5px;
	text-align: center;
	margin: 0px 10px;
}
#enter-shop #attention-shop p {
	height: 30px;
	line-height: 30px;
	text-align: center
}
.rate-detail .hot-grey{
	display: inline-block;
    width: 84px;
    height: 10px;
    background: url(../images/goods-icon.png) no-repeat 0 -249px;
    margin-top: 7px;
    float: left;
    overflow: hidden;
}
.rate-detail .hot-red{
	display:inline-block;
	height:10px;
	background:url(../images/goods-icon.png) no-repeat 0px -265px;
}
.score-detail{
	overflow: hidden;
	padding: 5px 14px;
}
.score-detail li{
	width: 57px;
	height: 46px;
	padding-top: 11px;
	float: left;
	text-align: center;
	background-position: 0px -286px;
	margin-right:9px;
}
.score-detail li a{
	cursor: pointer;	
}
.score-detail li span{
	display:block;
}
.score-detail li .score-tit {
	width: 30px;
    height: 20px;
	margin-left: 17px;
	text-indent: -99px;
    overflow: hidden;
}
.score-detail li .score-tit1 {
    background-position: -83px 0px;
}
.score-detail li .score-tit2 {
    background-position: -83px -23px;
}
.score-detail li .score-tit3 {
    background-position: -83px -51px;
}
.score-detail li span.scores{
	color:#fe596a;  
	padding-top:3px;
}
#enter-shop .enter-shop-item {
	height: 28px;
	display: inline-block;
	margin: 0px auto;
	clear: both;
}
#enter-shop .enter-shop-item .btn-flat1 {
	float: left;
	padding-left: 20px;
    width: 69px;
    position: relative;
    z-index: 1;
	display: block;
	color: #FFF;
	line-height: 27px;
	height: 27px;
	border-radius: 3px;
	background:#FE596A;
}
#enter-shop .enter-shop-item .btn-flat1 i{
	width: 14px;
	height: 14px;
	display: inline-block;
	position: absolute;
	left: 9px;
	top: 6px;
}
#enter-shop .enter-shop-item .goto-shop i{
	background-position: -111px 0px;
}
#enter-shop .enter-shop-item .shop-add{
	margin-left: 10px;
}
#enter-shop .enter-shop-item .shop-add i{
	left: 12px;
	background-position: -116px -22px;
}
/*精品推荐*/
.goods-best {
	width: 1210px;
	height: 231px;
	margin: 10px auto 15px;
	overflow: hidden;
}
.goods-best .mt {
	height: 40px;
	line-height: 40px;
	z-index: 1;
	border: 1px #eee solid;
	border-bottom: none;
}
.goods-best .mt h2 {
	width: 120px;
	text-align: center;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	background: #fff;
	z-index: 2;
	border-top: 2px solid #C81623 ;
	color: #C81623 ;
	margin-top: -1px
}
.goods-best .colList {
	z-index: 1;
	margin-top: -1px;
	height: 190px;
	border: 1px #eee solid;
	border-top: none
}
.goods-best .colList .colFrame {
	width: 1108px;
	height: 160px;
	padding: 10px 0px 20px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
}
.goods-best .colList ul {
	width: 1108px;
	height: 160px;
	overflow: hidden;
	position: relative;
}
.goods-best .colList ul li {
	width: 186px;
	height: 160px;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	margin-left: 0px;
	position: relative
}
.goods-best .colList ul li .rain-product-info {
	position: absolute;
	bottom: -25px;
	width: 160px;
	line-height: 22px;
	text-align: left;
	transition: all .2s ease;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2FFFFFF', endColorstr='#B2FFFFFF');
    background: rgba(255,255,255,.8);
	cursor: pointer
}
.goods-best .colList ul li:hover .rain-product-info {
	bottom: 0px;
}
.goods-best .colList ul li .rain-product-info .p-price {
	padding-left: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e31939;
    font-weight: bold;
}
.goods-best .colList ul li .rain-product-info .p-price strong{
	font-weight:bold;	
}
.goods-best .colList ul li .rain-product-info .rate {
	padding: 0px 10px;
	height: 25px;
	line-height: 25px;
}
.goods-best .prev, .goods-best .next {
	cursor: pointer;
	text-align: center;
	width: 15px;
	height: 24px;
	cursor: pointer;
	margin: 90px 17px 0px 17px;
}
.goods-best .prev {
	float: left;
	background-position: -50px -132px;
}
.goods-best .next {
	float: right;
	background-position: -84px -132px;
}
/*左侧相关分类等*/
.aside-con{
	margin-bottom: 15px;
}
.aside-con .aside-tit{
	height: 35px;
	line-height: 35px;
	border: 1px #eee solid;
	background-color: #FAFAFA;
}
.aside-con .aside-tit h2{
	font-weight: 400;
	font-size: 13px;
	color: #666;
	padding: 0px 8px;
}
.aside-con1 .aside-list{
    overflow: hidden;
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color: #eee;
}
.aside-con1 ul {
	padding: 4px 0px 4px 15px;
	overflow: hidden;
}
.aside-con1 ul li{
	padding: 3px 6px 3px 0px;
	float: left;
	overflow: hidden;
	width: 90px;
	height: 18px;
}
.collect {
	width: 210px;
	height: 550px;
	overflow: hidden;
}
.collect .colList {
	width: 208px;
	border: 1px #eee solid;
	border-top: none;
	display: inline-block
}
.collect .colList .colFrame {
	width: 208px;
	height: 450px;
	float: left;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px
}
.collect .colList ul {
	width: 208px;
	height: 450px;
	text-align: center;
	position: relative;
	padding: 0px
}
.collect .colList ul li {
	width: 155px;
	height: 150px;
	padding: 0px;
	display: inline-block;
*display:inline;
*zoom:1;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0px;
}
.collect .p-price {
	text-align: center;
	color: #F52648;
}
.collect .prev {
	background-color: transparent;
	background-repeat: no-repeat;
	float: left;
	width: 27px;
	height: 27px;
	cursor: pointer;
	background-position: 0 -125px;
	margin-left: 60px;
	margin-bottom: 15px;
	cursor: pointer
}
.collect .next {
	background-color: transparent;
	background-repeat: no-repeat;
	float: right;
	width: 27px;
	height: 27px;
	cursor: pointer;
	background-position: 0 -155px;
	margin-right: 60px;
	margin-bottom: 15px;
	cursor: pointer
}
.related .aside-list {
	width: 208px;
	border: 1px #ddd solid;
	border-top: none;
	display: inline-block
}
.related .aside-list ul {
    padding: 0px 8px;
    overflow: hidden;
}
.related .aside-list .p-img, .related .aside-list .p-price {
  	text-align: center;
	padding: 5px 0px;
}
.related .aside-list li {
  padding: 8px 0;
  border-top: 1px dotted #DEDEDE;
}
.related .aside-list .fore1 {
  border-top: none;
}
.related .aside-list li .rate{
	height: 36px;
	overflow: hidden	
}
/*超值礼包*/
.package {
	background: #fff;
	padding-bottom: 2px;
	overflow: hidden;
}
.pa-tit {
	width: 100%;
	height: 35px;
	border-left: 1px solid #ddd;
	border-bottom: 2px #C81623 solid
}
.pa-tit h2 {
	float: left;
	width: 132px;
	height: 34px;
	line-height: 34px;
	border-right: #ddd 1px solid;
	border-top: #ddd 1px solid;
	font-size: 14px;
	text-align: center;
	color: #666;
	font-weight: normal;
	font-family: Arial, Verdana, microsoft yahei;
	MARGIN-LEFT: -1px;
}
.pa-tit h2.current {
	height: 34px;
	line-height: 34px;
	background: #C81623;
	border: #C81623 1px solid;
	color: #ffffff
}
.pa-box {
	height: auto;
	border: 1px solid #eee;
	border-top: none;
}
.pa-box ul {
	float: left;
	width: 77%;
	padding: 20px 10px;
	overflow: hidden;
}
.pa-box ul li {
	float: left;
	width: 133px;
	padding-left: 10px;
	background: url(../images/ico_add_wrzc.gif) no-repeat right 50px;
}
.pa-box ul li a {
	color: #666;
	text-decoration: none;
	width: 100px;
	display: block;
	margin-bottom: 8px
}
.pa-box ul li a:hover {
	color: #C81623
}
.pa-box ul li.last {
	background: none;
}
.pa-box ul li a img {
	border: 1px solid #eee;
	width: 100px;
	height: 100px;
}
.pa-box .buypack {
	float: right;
	width: 20%;
	padding-top: 30px;
	color: #666;
}
.pa-box .buypack .f-yuan {
	font-size: 14px;
	text-decoration: line-through;
}
.pa-box .buypack .f-save {
	font-size: 14px;
}
.pa-box .buypack .f-pack {
	color: #F52648;
	font-size: 17px;
	font-weight: bold;
}
.pa-box .buypack .f-pack1 {
	color: #F52648;
	font-size: 14px;
}
.btn-pack {
	display:block;
	text-align:center;
	width: 120px;
	height: 32px;
	margin-top: 10px;
	border: none;
	font-family: "微软雅黑";
	line-height: 32px;
	font-size: 14px;
	cursor: pointer;
	background: #FF6500 none repeat scroll 0% 0%;
	cursor: pointer;
	color:#fff;
}
.btn-pack:hover{
	color:#fff;
	text-decoration:none;
}
/*商品详情右侧*/
#wrapper {
	overflow: visible;
	_clear: both;
}
#wrapper .mt {
    z-index: 100;
    top: auto;
    overflow: visible;
	width: 989px;
	background: #FFF none repeat scroll 0% 0%;
	height: 35px;
	line-height: 35px;
	border-left: 1px solid #DDD;
	font: 14px/30px "microsoft yahei";
	border-bottom: 2px solid #C81623 ;
}
#wrapper .mt .tab {
	display: inline;
	margin-left: -1px;
	float: left;
	overflow: visible;
}
#wrapper .mt .tab li {
	border-right: #eee 1px solid;
	border-top: #eee 1px solid;
	float: left;
	text-align: center;
}
#wrapper .mt .tab li:hover {
	background: #C81623;
	border-top: #C81623 1px solid;
	border-right: #C81623 1px solid;
	color: #ffffff;
}
#wrapper .mt .tab li.h-list {
	display: inline;
	background: #C81623;
	border-top: #C81623 1px solid;
	border-right: #C81623 1px solid;
	border-left: #C81623 1px solid;
	color: #ffffff;
}
#wrapper .mt .tab a {
	padding: 0px 45px;
	height: 34px;
	line-height: 34px;
}
#wrapper .mt .tab .h-list a, #wrapper .mt .tab li:hover a {
	color: #fff;
	line-height: 34px;
}
#wrapper .mt .goods-ce-right{
	width: 170px;
	float: right; 
	position: relative;
	left: 0;
	top: 0
}
#wrapper .mt .goods-ce-right a.right-add {
	float: right;
	display: block;
	width: 161px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background: #C81623;
	text-decoration: none
}
#wrapper .mt .goods-ce-right .ce-right {
	width: 160px;
	position: absolute;
	right: 0;
	top: 37px;
 *top:37px;
	background: #F5F5F5;
}
#wrapper .mt .goods-ce-right .ce-right ul {
	width: 100px;
	display: inline-block;
	padding: 10px 30px;
}
#wrapper .mt .goods-ce-right .ce-right ul li {
	height: 40px;
	line-height: 40px;
	position: relative;
	width: 78px;
	background-position:-108px -85px;
	cursor: pointer;
}
#wrapper .mt .goods-ce-right .ce-right ul li i {
	position: absolute;
	left: 0px;
	top: 13px;
	display: block;
	width: 19px;
	height: 15px;
}
#wrapper .mt .goods-ce-right .ce-right ul li.abs-active i, #wrapper .mt .goods-ce-right .ce-right ul li.abs-hot i {
	background-position: -84px -96px;
}
#wrapper .mt .goods-ce-right .ce-right ul li span {
	position: absolute;
	left: 22px;
	display: block;
	width: 66px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
#wrapper .mc {
	width: 820px;
	overflow: hidden;
	clear: both;
}
#wrapper .mc .detail-list {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #eee;
	padding: 8px;
	overflow: hidden;
	zoom: 1;
}
#wrapper .mc .detail-list li {
	padding: 4px 0px;
	float: left;
	width: 33%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#wrapper .mc .detail-content {
	padding: 10px 0px;
	text-align: center
}
#wrapper .mc .detail-content img{
	max-width:820px;	
}
/*评价*/
.tab-title {
	z-index: 6;
	text-align: left
}
.tab-title span {
	height: 50px;
	line-height: 50px;
	width: 90px;
	font-size: 20px;
	padding-left: 10px;
	display: inline-block;
	border-bottom: 2px #C81623 solid;
	color: #C81623
}
.wenti .tab-body, .goods-content {
	padding: 0px 0;
	margin-top: -1px;
	border: 1px #eee solid;
	z-index: 4;
}
.my-comment-pre {
	margin: 10px 0px;
	z-index: 5;
	position: relative;
}
.my-comment-pre .title {
	height: 35px;
	line-height: 35px;
	padding: 0 12px 0 12px;
	font-size: 14px;
	font-weight: bold;
}
.my-comment-pre ul {
	height: 100px;
	padding: 10px 0px
}
.my-comment-pre ul li {
	float: left;
	height: 100px;
}
.my-comment-pre ul li.hpd {
	width: 200px;
	text-align: center;
	color: #999;
}
.my-comment-pre ul li.hpd div {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px 0 0 0;
	line-height: 40px;
}
.my-comment-pre ul li.pre {
	width: 240px;
	border-right: solid #eee 1px;
	margin-right: 20px;
	height: 80px;
	padding-top: 10px;
}
.my-comment-pre ul li.pre dl{
	clear: both	
}
.my-comment-pre ul li.pre dl dt {
	float: left;
	line-height: 24px;
	width: 80px;
}
.my-comment-pre ul li.pre dl dt span {
	color: #9c9a9c;
	margin-left: 5px;
}
.my-comment-pre ul li.pre dl dd {
	float: left;
	height: 10px;
	width: 100px;
	margin-top: 7px;
	line-height: 10px;
	overflow: hidden;
	background: #efefef
}
.my-comment-pre ul li.pre dl dd div {
	height: 10px;
	line-height: 10px;
	overflow: hidden;
	background-position: 0px -349px;
	float: left
}
.my-comment-pre ul li.tag {
	width: 330px;
}
.my-comment-pre ul li.tag dt {
	line-height: 22px;
	margin-top: 6px;
}
.my-comment-pre ul li.tag dd span {
	float: left;
	height: 22px;
	line-height: 22px;
	background: #fdedd2;
	padding: 0 7px 0 7px;
	margin: 0 5px 5px 0
}
.my-comment-tab {
	background:#fafafa;
	border: 1px solid #eee;
	height: 35px;
	line-height: 35px;
	overflow: visible;
}
.my-comment-tab ul {
	font-size:14px
}
.my-comment-tab li {
	float: left;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	padding: 0 45px;
	border-right: 1px solid #eee;
}
.my-comment-tab li.cur {
	background: #C81623;
	DISPLAY: inline;
	color: #fff;
	height: 35px;
	line-height: 35px;
	padding: 0 45px;
}
/*评论列表*/
.my-comment-list{
	margin-top: 10px;	
}
.my-comment-list dl {
	background: url(../images/comment-list-bg.gif) no-repeat 108px top;
	margin-bottom: 8px;
}
.my-comment-list dt {
	float: left;
	width: 120px;
	text-align: center;
	padding-top: 10px;
}
.my-comment-list dd {
	border: solid #d0e4c2 1px;
	border-left: none;
	width: 669px;
	min-height: 110px;
	height: auto;
	float: right;
	padding: 0 15px 15px 15px;
}
.my-comment-list dd .rank68 {
	height: 20px;
	border-bottom: solid #d0e4c2 1px;
	margin: 10px 0px;
}
.my-comment-list dd .rank68 .stars{
	width: 75px;
	height: 14px;
	display: inline-block;
}
.my-comment-list dd .rank68 .stars0{	
	background-position: 0px -365px;
}
.my-comment-list dd .rank68 .stars1{	
	background-position: 0px -379px;
}
.my-comment-list dd .rank68 .stars2{	
	background-position: 0px -393px;
}
.my-comment-list dd .rank68 .stars3{	
	background-position: 0px -407px;
}
.my-comment-list dd .rank68 .stars4{	
	background-position: 0px -421px;
}
.my-comment-list dd .rank68 .stars5{	
	background-position: 0px -435px;
}
.my-comment-list dd td .comment-reps{
	padding: 10px 0 10px 0;
	color: #f60;
}
.my-comment-list .add-time {
	float: right;
	margin-right: 10px;
}
.my-comment-list dd th {
	font-weight: normal;
	text-align: right;
	color: #9c9a9c;
	line-height: 22px;
}
.my-comment-list dd .tag span {
	float: left;
	height: 22px;
	line-height: 22px;
	background: #fdedd2;
	padding: 0 7px 0 7px;
	margin: 0 5px 5px 0
}
.my-comment-list dd .tag span a {
	cursor: pointer
}
.my-comment-list dd .shaidan {
	color: #9c9a9c
}
.my-comment-list dd .shaidan a{
	margin-right: 5px;	
}
.my-comment-list dd .shaidan img {
	padding: 4px;
	border: solid #ddd 1px;
}
.my-comment-list dd .yong li {
	float: right;
	width: 64px;
	height: 22px;
	line-height: 22px;
	background: #F8F8F8;
	border: 1px #ddd solid;
	border-radius: 2px;
	text-align: center;
	margin-left: 10px;
	cursor: pointer
}
.my-comment-list dd .yong li a {
	color: #444;
	text-decoration: none
}
.my-comment-list dd .yong li span{
	margin-left: 3px;	
}
.my-comment-list .no-comment {
	text-align: center;
	padding: 20px 0px;
	border: 1px #ddd solid;
  	color: #f60;
	font-size: 14px;
}
/*评论列表分页*/
.pagebar {
	float: right;
	height: 30px;
	line-height: 30px;
}
.pagebar a {
	height:18px;
	line-height: 18px;
	float: left;
	margin: 0px 5px;
	padding:3px 8px;
	color: #333;
	border: #DDD 1px solid;
	background: #fff;
}
.pagebar span {
	float: left;
}
.pagebar span.f6{
	margin-right:10px;
}
.pagebar .page-now {
	dispaly: block;
	font-weight: bold;
	float: left;
	height:18px;
	line-height: 18px;
	margin: 0px 5px;
	padding:3px 8px;
	background: #E4393C ;
	border: #E4393C 1px solid;
	color: #fff;
}
/*售后保障*/
.goods-sales-support{
	padding: 10px 15px;
	line-height: 2em;
}
.goods-sales-support .sales-support-info{
	margin-top: 10px;	
}
.goods-sales-support .state {
	margin-top: 10px;
	padding-top: 10px;
	border-top: #dedede 1px dotted;
	overflow: hidden;
	zoom: 1
}
/*常见问题*/
.wenti .list {
	border-bottom: 1px dashed #eee;
	padding: 10px 20px
}
.wenti .list .icon {
	height: 14px;
	margin-top: 8px;
	width: 18px;
	display: inline-block;
	background-position: -50px -60px;
}
.wenti .list .answer .icon {
	background-position: -50px -74px;
	margin-top: 4px
}
.wenti .list .common-right {
	float: right;
	width: 750px
}
.wenti .list .question .common-right {
	line-height: 30px
}
.wenti .list .answer .common-right {
	line-height: 1.8
}
/*降价通知*/
.mydiv {
	border: 4px solid rgba(0,0,0,.1);
    border: 4px solid #ccc\9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	z-index:10000001;
	width: 550px;
	height: auto;
	left:50%;/*FF IE7*/
	top: 50%;/*FF IE7*/
	margin-left:-275px!important;/*FF IE7 该值为本身宽的一半 150 *2 =300 */
	margin-top:-230px!important;/*FF IE7 该值为本身高的一半 60*2=120 */
	margin-top:0px;
	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/
	_top:       expression(eval(document.compatMode &&
				document.compatMode=='CSS1Compat') ?
				documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
				document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
	border: 4px solid rgba(0,0,0,.1);
}
.mydiv table{
	margin: 0 auto;
	padding: 0 auto;
}
.mydiv tr{
	padding: 0;
	margin: 0;
}
.mydiv td{
	height: 10px;
	font-size: 12px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: #999;
}
.mydiv td font{
	margin: 0px 5px	
}
.mydiv td input.inputBg{
	width: 180px;
	height: 22px;
	padding: 4px;
	border: 1px #eee solid;
	font-size: 12px;
	margin: 0px 5px	
}
.mydiv td input.inputBg-spe{
	width: 100px;
}
.bg {
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;/*FF IE7*/
	filter: alpha(opacity=15);/*IE*/
	opacity: 0.15;/*FF*/
	z-index: 100000;
	position: fixed!important;/*FF IE7*/
	position: absolute;/*IE6*/
	_top:       expression(eval(document.compatMode &&
				document.compatMode=='CSS1Compat') ?
				documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
				document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/

}
.mydiv .qb_left{
    height: 36px;
    line-height: 36px;
    background: #f7f7f7;
    font-size: 14px;
	text-align: left;
	color: #666;
	font-family: "Microsoft YaHei";
}
.mydiv .qb_left span{
	padding: 0 10px;
}
.mydiv .qb_left a{
	display:block;
	width:13px;
	height:13px;
	background:url(../images/common/common-icon.png) no-repeat -41px -44px!important;
	position:absolute;
	right:13px;
	top:13px;
}
.mydiv .notice-note{
	 background-color: #FFFBDB;  
	 padding: 15px; 
	 line-height: 20px;
	 color: #999;
}
.mydiv .notice-note p{
	font-size: 15px;
	padding-bottom: 5px;
}
/*到货通知*/
.tell-me{
	display: block;
	width: 115px;
	height: 36px;
	font-family: "微软雅黑";
	line-height: 36px;
	font-size: 15px;
	color: #fff;
	float: left;
	cursor: pointer;
	background: #FF6500;
	position:relative;
	border:0;
	float:left;
	margin-right:10px;
	padding-left:25px;
	cursor:pointer;
}
.tell-me:hover{
	text-decoration: none;
	color:#ffffff;
}
.tell-me i{
	background-position:-57px -191px;
	*background-position:-57px -190px;	
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:3px;
	vertical-align:middle
}
#tell-me-form .tell-me-con{
	width:90%;
	padding:0px 5% 15px;
	margin:0 auto;	
	text-align:center
}