@charset "utf-8";
/* CSS Document */
.all-cat{
	/*top:0!important;*/	
}
/*************** 首页焦点区域 **********/
.banner{
	width: 100%;
	height: 513px;
	position: relative;
	margin-bottom: 15px
}
/* 满屏背静切换焦点图 */
.banner ul.full-screen-slides {
	width: 100%;
	height: 513px;
	position: relative;
	z-index: 1;
}
.banner ul.full-screen-slides li {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.banner ul.full-screen-slides li a {
	display: block;
	width: 750px;
	height: 290px;
	text-indent: -9999px;
	margin-left: -365px;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 0px;
}
.banner ul.full-screen-slides-pagination {
	font-size: 0;
*word-spacing:-1px/*IE6、7*/;
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#33FFFFFF', endColorstr='#33FFFFFF');
	background: rgba(255,255,255,0.2);
	text-align: right;
	display: block;
	list-style: none;
	width: 776px;
	height: 6px;
	padding: 7px 8px;
	margin-left: -395px;
	position: absolute;
	left: 50%;
	top: 343px;
	z-index: 3;
}
.banner ul.full-screen-slides-pagination li {
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	*display:inline/*IE6、7*/;
	list-style: none;
	width: 24px;
	height: 6px;
	margin-left: 4px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#3F000000', endColorstr='#3F000000');
	background: rgba(0,0,0,0.25);
	overflow: hidden;
	cursor: pointer;
	*zoom:1;
}
.banner ul.full-screen-slides-pagination a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-indent: -9999px;
}
.banner ul.full-screen-slides-pagination .current {
	background: #F30;
}
/* 三联切换焦点图 */
.focus-trigeminy {
	width: 792px;
	height: 150px;
	margin-left: -395px;
	clear: both;
	position: absolute;
	z-index: 2;
	bottom: 0px;
	left: 50%;
}
.focus-trigeminy .carousel{
	width: 792px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
.focus-trigeminy .carousel ul {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}
.focus-trigeminy .carousel ul li{
	width: 264px; 
	height: 150px;
	float: left
}
.focus-trigeminy .carousel ul li img{
	width: 264px;
	height: auto;
	display: block;
}
.focus-trigeminy a.prev,.focus-trigeminy a.next{
	width: 20px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	display: block;
	background: #333;
	top: 50%;
	margin-top: -25px;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	font-family: simsun;
	filter: alpha(opacity=0);
	opacity: 0;
}
.focus-trigeminy a.prev{
	left: 0px;
}
.focus-trigeminy a.next{
	right: 0px;
}
/*焦点区域右侧*/
.banner .right-sidebar {
	width: 208px;
	height: 514px;
	padding: 0 1px 0px;
	margin-left: 395px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	float: right;
	background: #F7F7F7
}
.right-sidebar .sale-discount {
	width: 208px;
	height: 288px;
    padding: 20px 0px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.right-sidebar .sale-discount h3 {
  	font-size: 16px;
  	color: #333;
  	font-weight: normal;
	padding: 0px 10px;
}
.right-sidebar .sale-discount ul {
	width: auto;
	height: 278px;
	padding-top: 20px;
	position: absolute;
	z-index: 1;
	overflow: hidden
}
.right-sidebar .sale-discount ul li {
	width: 208px;
	height: 278px;
	float: left;
	overflow: hidden
}
.right-sidebar .sale-discount ul li  div.sale-con {
	width: 208px;
	height: 258px;
	position: relative;
	z-index: 1;
}
.right-sidebar .sale-discount p.time-remain {
	color: #999;
	line-height: 16px;
	text-align: center;
	width: 208px;
	height: 16px;
	top: -180px;
	left: 0;
}
.right-sidebar .sale-discount p.time-remain em {
	color: #ffffff;
	margin: 0px;
	padding: 0px 3px
}
.right-sidebar .sale-discount p.goods-thumb {
	width: 100%;
	margin: 15px 0px 10px;
	text-align: center;
}
.right-sidebar .sale-discount p.goods-thumb a {
	text-align: center;
	vertical-align: middle;
*display: block;
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.right-sidebar .sale-discount p.goods-thumb img {
	max-width: 150px;
	max-height: 150px;
}
.right-sidebar .sale-discount p.goods-name {
	width: 150px;
	line-height: 20px;
	margin: 0 auto;
	overflow: hidden;
}
.right-sidebar .sale-discount p.goods-price {
	font: 14px/25px Verdana;
	width: 150px;
	height: 25px;
	margin: 0 auto;
	overflow: hidden;
}
.right-sidebar .sale-discount p.goods-price .main-color{
	float: left
}
.right-sidebar .sale-discount p.goods-price .goods-discount {
	float: right;
	font-weight: bold;
	font-family:"Microsoft YaHei";
}
.right-sidebar .sale-discount .arrow {
	background: url(../images/common/common-icon.png) no-repeat;
	width: 15px;
	height: 29px;
	margin-top: -20px;
	position: absolute;
	z-index: 2;
	top: 50%;
	cursor: pointer;
	opacity: 0.25!important;
	overflow: hidden;
}
.right-sidebar .sale-discount .arrow:hover {
	opacity: 0.85!important;
}
.right-sidebar .sale-discount .pre {
	background-position: 0px -190px;
	left: 10px;
}
.right-sidebar .sale-discount .next {
	background-position: -20px -190px;
	right: 5px;
}
/* 商城首页-新闻及店铺Tab切换*/
.proclamation {
	background: #FFF;
	width: 208px;
	height: 185px;
	margin-top: 1px;
}
.proclamation .tabs-nav {
	background: #F7F7F7;
	height: 35px;
	padding: 0px;
	z-index: 1;
}
.proclamation .tabs-nav li {
	background: #F7F7F7;
	text-align: center;
	display: block;
	width: 102px;
	height: 25px;
	line-height: 25px;
	float: left;
	padding: 5px 0;
	margin: 0px;
	z-index: 9;
	cursor: pointer;
}
.proclamation .tabs-nav li.tabs-selected {
	color: #333;
	font-weight: 600;
	background: #FFF;
	width: 103px;
	height: 25px;
	line-height: 25px;
	border-style: solid;
	border-color: transparent #E7E7E7 #FFF #E7E7E7;
	border-width: 0 0px 1px 0px;
	position: relative;
	z-index: 10;
	_margin-bottom: -1px/* IE6 */;
}
.proclamation .tabs-nav li h3 {
	color: #333;
	font-size: 14px;
}
.proclamation .tabs-panel {
	width: 95%;
	height:141px;
	overflow:hidden;
	margin: 6px auto;
}
.proclamation .mall-news {
	padding: 3px 2.5%;
}
.proclamation .mall-news li {
	line-height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 20px;
	padding: 1px 5px;
	overflow: hidden;
}
.tabs-hide {
	display: none !important;
}
.tabs-panel .store-join-btn {
	background: url(../images/enter.jpg) no-repeat;
	display: block;
	width: 165px;
	height: 60px;
	margin: 20px auto 15px;
}
.tabs-panel .store-join-help {
	color: #999;
	display: block;
	text-align: center;
}
.tabs-panel .store-join-help i.icon-cog {
	background: url(../images/common/common-icon.png) no-repeat;
	background-position: -294px -66px;
	font-size: 14px;
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
}
/***********首页广告组***********/
.ad-groups {
	overflow: hidden;
}
.ad-groups .mc {
	width: 1240px
}
.ad-groups .sc-list {
*margin-bottom:10px
}
.ad-groups .sc-list .item {
	float: left;
	width: 242px;
	height: 350px;
	overflow: hidden;
}
.ad-groups .sc-list .item .s-img {
	display: block;
	width: 242px;
	height: 350px;
}
/*热门店铺*/
.store-wall{
	margin: 10px auto !important;
	height: 367px;	
}
.store-wall .store-wall-title {
	display: block;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	color: #333;
	width: 192px;
    padding-left: 5px;
	position: relative
}
.store-wall .store-wall-title:hover {
	color: #000;
	text-decoration: none
}
.store-wall .store-wall-title span{
	font-size: 12px;
	color: #999;
	margin-left: 5px;
}
.store-wall .store-wall-content {	
	background-color: #fff;
  	width: 100%;
}
.store-wall .store-wall-content .store-wall-ad {
  	float: left;
  	height: 333px;
  	width: 270px;
}
.store-wall .store-wall-content .store-wall-ad img{
	width: 270px;
	height: 333px;
}
.store-wall .store-wall-content .store-wall-con {
  	width: 940px;
  	float: left;
  	position: relative;
  	border-top:1px solid #f0f0f0;
}
.store-wall .store-wall-content .store-wall-con .store-rec-nav {
  	position: absolute;
 	top: -27px;
 	right: 0;
}
.store-wall .store-wall-content .store-wall-con .store-rec-nav li {
  	float:left;
  	height: 20px;
  	line-height: 20px;
  	margin: 0 1px;
  	padding: 0px 8px;
  	cursor: pointer;
  	color: #666;
  	position: relative
}
.store-wall .store-wall-content .store-wall-con .store-rec-nav li.selected, .store-wall .store-wall-content .store-wall-con .store-rec-nav li:hover {
  	background: #C81623;
  	color: #ffffff;
}
.store-wall .store-wall-content .store-wall-con .store-rec-nav li.selected i, .store-wall .store-wall-content .store-wall-con .store-rec-nav li:hover i{
	position: absolute;
	top: 19px;
	left: 50%;
	margin-left: -5px;
	display: inline-block;
	width: 10px;
    height: 6px;
    background:url(../images/common/common-icon.png) no-repeat;
	background-position: -295px -80px;
}
.store-rec-slide .store-con {
	position: relative;
	width: 940px;
	height: 334px;
	overflow: hidden
}
.store-rec-slide .store-con .store-wall-pannel {
	width: 100%;
	height: 100%
}
.store-rec-slide .store-con .store-wall-pannel .store-item {
	text-align: center;
	background: #fff;
	border-right: 1px solid #f2f2f2;
  	border-bottom: 1px solid #f2f2f2;
  	float: left;
  	text-align: center;
  	display: block;
  	width: 155px;
  	height: 82px;
  	line-height: 84px;
}
.store-rec-slide .store-con .store-wall-pannel .store-item-spe{
	width: 159px;
}
.store-rec-slide .store-con .store-wall-pannel .store-item .store-logo {
	padding-top: 18px
}
.store-rec-slide .store-con .store-wall-pannel .store-item:hover {
	text-decoration: none;
	zoom: 1
}
.store-rec-slide .store-con .store-wall-pannel .item-row-0 {
	top: 0
}
.store-rec-slide .store-con .store-wall-pannel .item-row-1 {
	top: 85px
}
.store-rec-slide .store-con .store-wall-pannel .item-row-2 {
	top: 170px
}
.store-rec-slide .store-con .store-wall-pannel .item-row-3 {
	top: 255px;
	bottom: 0
}
.store-rec-slide .store-con .store-wall-pannel .item-col-0 {
	left: 0
}
.store-rec-slide .store-con .store-wall-pannel .item-col-1 {
	left: 150px
}
.store-rec-slide .store-con .store-wall-pannel .item-col-2 {
	left: 300px
}
.store-rec-slide .store-con .store-wall-pannel .item-col-3 {
	left: 450px
}
.store-rec-slide .store-con .store-wall-pannel .item-col-4 {
	left: 600px
}
.store-rec-slide .store-con .store-wall-pannel .item-col-5 {
	left: 750px
}
/*****************首页Tab切换样式********************/
.index-sale {
	overflow: hidden;
	margin: 10px auto !important;
}
.index-sale .left-layout {
	width: 990px;
	float: left;
	border-bottom: solid 1px #F0F0F0;
}
.index-sale .tabs-nav {
	background-color: transparent;
	width: 100%;
	height: 40px;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: transparent transparent #F0F0F0 transparent;
	position: relative;
	z-index: 1;
}
.index-sale .tabs-nav li {
	background-color: transparent;
	width: 20%;
	height: 40px;
	float: left;
	padding: 0;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.index-sale .tabs-nav li h3 {
	font-size: 16px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
}
.index-sale .tabs-nav li i {
	font-size: 0px;
	line-height: 0;
	display: none;
	width: 0px;
	height: 0px;
	float: right;
	margin-left: -4px;
	border-width: 5px;
	border-style: dashed dashed solid dashed;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 50%;
}
.index-sale .tabs-nav .tabs-selected {
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #C81623;
}
.index-sale .tabs-nav .tabs-selected i {
	display: block;
	border-color: transparent transparent #C81623;
}
.index-sale .tabs-nav .tabs-selected h3 {
	color: #C81623;
}
.index-sale .tabs-panel {
	width: 1210px;
	overflow: hidden;
}
.index-sale .tabs-panel ul {
	width: 1210px;
	margin-left: -1px;
	overflow: hidden;
}
.index-sale .tabs-panel ul li {
	width: 241px;
	height: 235px;
	padding: 15px 0 0;
	border-left: dotted 1px #F0F0F0;
	float: left;
	overflow: hidden;
}
.index-sale .tabs-panel dl {
	width: 160px;
	margin: 0 auto auto;
	position: relative;
	z-index: 1;
}
.index-sale .tabs-panel dl dt.goods-name {
	width: 160px;
	height: 35px;
	position: absolute;
	z-index: auto;
	top: 164px;
	left: 0;
	overflow: hidden;
}
.index-sale .tabs-panel dl dd.goods-thumb {
	width: 160px;
	height: 160px;
	position: absolute;
	z-index: auto;
	top: 0;
	left: 0;
}
.index-sale .tabs-panel dl dd.goods-thumb a {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
*display: block;
	width: 160px;
	height: 160px;
	overflow: hidden;
}
.index-sale .tabs-panel dl dd.goods-thumb img {
	max-width: 160px;
	max-height: 160px;
margin-top:expression(160-this.height/2);
*margin-top:expression(80-this.height/2);
}
.index-sale .tabs-panel dl dd.goods-price {
	height:20px;
	line-height: 20px;
	color: #999;
	position: absolute;
	z-index: auto;
	top: 200px;
	left: 0;
}
.index-sale .tabs-panel dl dd.goods-price em {
	font-size: 12px;
}
/***************首页楼层***************/
.floor{
	width: 100%;
	position: relative;
}
.floor .banner-ad{
	width: 1210px;
	height: 100px;
	display: inline-block;
}
.floor-layout{
	height: auto;
}
.floor-layout .floor-con {
	height: auto;
	margin: 10px auto;
	position: relative;
}
.floor-layout .floor-con .floor-title {
	height: 35px;
	line-height: 35px;
	overflow: hidden;
}
.floor-layout .floor-con .floor-title h2 {
	font-size: 18px;
	color: #666;
	height: 35px;
	line-height: 35px;
	float: left;
}
.floor-layout .floor-con .floor-title h2 span{
	width: 35px;
	height: 25px;
	line-height: 25px;
	background:url(../images/common/common-icon.png) no-repeat -225px -185px;
	color: #fff;
	font-size: 14px;
	text-indent: 3px;
	display: inline-block;
}
.floor-layout .floor-con .floor-title h2 a{
	padding-left: 8px;	
}
.floor-layout .floor-con .floor-title .floor-tabs-nav {
	display: inline;
	width: auto;
	height: 35px;
	z-index: 4;
	float: right;
}
.floor-layout .floor-con .floor-title .floor-tabs-nav li {
	background-color: #ffffff;
	width: auto;
	height: 34px;
	line-height: 34px;
	float: left;
	padding: 0;
	position:relative;
	z-index: 4;
	cursor: pointer;
	margin-left:8px;
}
.floor-layout .floor-content{
	width: 100%;
	height: 475px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.floor-layout .floor-content .floor-left {
    width: 270px;
    height: 475px;
	float: left;
	overflow: hidden;
}
.floor-layout .floor-content .floor-left .floor-banner{
	position: relative;
  	height: 475px;
	overflow: hidden;
	width: 270px;
}
.floor-layout .floor-content .floor-left .floor-banner ul{
	height:	475px;
	position: absolute;
}
.floor-layout .floor-content .floor-left .floor-banner ul li{
	float: left;
	width: 270px;
	height: 475px;
	overflow: hidden;
	position: relative;
	background: #000;
}
.floor-layout .floor-content .floor-left .floor-banner ul li a:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 350px;
	top: 0;
	left: -150px;
	overflow: hidden;
	background: -moz-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg)
}
.floor-layout .floor-content .floor-left .floor-banner ul li a:hover::before {
	-webkit-transition: left 0.5s;
	-moz-transition: left 0.5s;
	transition: left 0.5s;
	left: 260px
}
.floor-layout .floor-content .floor-left .floor-banner .btn{
	position: absolute;
	width: 272px;
	height: 10px;
	bottom: 150px;
	text-align: center;
}
.floor-layout .floor-content .floor-left .floor-banner .btn span{
	display: inline-block;
	width: 88px;
	height: 10px;
	cursor: pointer;
	background: #000;
	margin-right: 2px;
}
.floor-layout .floor-content .floor-left .floor-banner .btn span.on{
	background: #000;
}
.floor-layout .floor-content .floor-left .floor-words{
  	position: relative;
  	width: 290px;
  	height: 120px;
  	margin-top: -150px;
	padding: 15px 10px;
  	overflow: hidden;
  	background: rgba(255,255,255,.5);
}
.floor-layout .floor-content .floor-left .floor-words li{
	float: left;
  	width: 110px;
	padding-left: 35px;
	height:30px;
	line-height:30px;
  	overflow: hidden;
}
.floor-layout .floor-content .floor-left .floor-words li a{
	font-size: 14px;
	color: #333;	
}
.floor-layout .floor-content .floor-left .floor-words a:hover{
	cursor: pointer;
	color: #C81623;
}
.floor-layout .floor-content .floor-right {
    width: 940px;
	height: 475px;
    float: left;
}
.floor-layout .floor-con .floor-title .floor-tabs-nav {
	display:inline;
	width: auto;
	height: 35px;
	z-index:4;
	position:absolute;
	top:0px;
	right:0px;
}
.floor-layout .floor-con .floor-title .floor-tabs-nav li {
	background-color: #ffffff;
	width: auto;
	height: 34px;
	line-height: 34px;
	float: left;
	padding: 0;
	position:relative;
	z-index: 4;
	cursor: pointer;
	margin-left:8px;
}
.floor-layout .floor-con .floor-title .floor-tabs-nav li h3 {
	font-size: 12px;
	font-weight: 400;
	padding:0px 25px;
	text-align: center;
	border:1px #eee solid;
	border-bottom:none;
	z-index: 4;
}
.floor-layout .floor-con .floor-title .floor-tabs-nav li.floor-tabs-selected h3 {
	z-index: 5;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}
.floor-layout .floor-content .floor-right .floor-tabs-panel {
	width: 940px;
	height: 472px;
}
.floor-layout .floor-content .floor-right .floor-tabs-hide {
	display: none !important;
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods {
	float: left;
	width: 235px;
	color: #2f2f2f;
	height: 236px;
	overflow: hidden;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-right: -1px;
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods .wrap {
	margin: 20px;
	position: relative;
	_zoom: 1
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods img {
	margin: 0 auto 10px;
	display: block
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods h3 {
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	_width: 100%;
	height: 20px;
	line-height: 20px
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods .title {
	margin-bottom: 5px;
	height:35px;
	overflow:hidden;
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods a{
	color: #777;
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods .price {
	font-size: 18px;
	font-weight:normal;
  	font-family: Arial, Helvetica, sans-serif;
  	color: #C81623;
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods a.add-cart {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 32px;
	height: 32px;	
	cursor:pointer;
	background:url(../images/common/common-icon.png) no-repeat;
	background-position: -165px 0px;
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods .promo-txt {
	position: absolute;
	top: 137px;
	left: 50%;
	width: 158px;
	margin-left: -80px;
	text-align: center;
	border: 1px solid #e22b41;
	padding: 4px 0;
	line-height: 1;
	background-color: rgba(255,255,255,.8);
	background-color: #fff\9;
	color: #e22b41;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px
}
.floor-layout .floor-content .floor-right .floor-tabs-panel .goods .ui-cart {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 40px
}
.floor-layout .floor-content .floor-brand {
	width: 1210px;
	height:66px;
	margin: 10px auto;
	float:left;
}
.floor-layout .floor-brand .tabs-brand {
	width: 1210px;
	background: #f7f7f7;
	height: 40px;
  	padding: 13px 0 13px 1px;
	overflow: hidden;
}
.floor-layout .floor-brand .tabs-brand .brand{
	position: relative;
	height: 40px;
}
.floor-layout .floor-brand .tabs-brand .brand .brand-con{
	overflow: hidden;
	position: relative; 
	width: 1210px; 
	height: 40px; 
	float: left;
}
.floor-layout .floor-brand .tabs-brand ul{

}
.floor-layout .floor-brand .tabs-brand ul li {
	float: left;
  	width: 119px;
  	height: 40px;
	text-align: center;
	border-left: 1px dotted #ccc;
}
.floor-layout .floor-brand .tabs-brand ul li.fore1 {
  border-left: none;
}
.floor-layout .floor-brand .tabs-brand ul li img {
	max-width: 100px;
	max-height: 40px;
}
.floor-layout .floor-brand .tabs-brand .brand-btn {
	position: relative;
	z-index: 2;
	opacity:0
}
.floor-layout .floor-brand .tabs-brand .brand-btn a{
	width: 25px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 0px;
	display: block;
	background: #333 none repeat scroll 0% 0%;
	color: #FFF;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	font-family: simsun;
}
.floor-layout .floor-brand .tabs-brand .brand-btn a.brand-left {
	left: 0px;
}
.floor-layout .floor-brand .tabs-brand .brand-btn a.brand-right {
	right: 0px;
}
.floor-layout .floor-brand .tabs-brand .brand-btn a img{
	width: 30px;
	height: 40px;
}
/***************左侧楼层定位***************/
.elevator {
	overflow: visible;
	width: 40px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -150px 0 0px -650px;
	z-index: 3333;
	display: block;
}
.elevator .elevator-floor {
	width: 40px;
	height: 400px;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	left: 0;
	top: 0
}
.elevator .elevator-floor a {
	width: 40px;
	height: 35px;
	line-height: 35px;
	display: block;
	position: relative;
	margin-top: -1px;
	cursor: pointer;
	text-decoration:none
}
.elevator .elevator-floor b {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -18px 0 0 -9px;
	z-index: 1;
	color:#625351;
	font-family: Arial;
}
.elevator .elevator-floor .fs-name {
	width: 40px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background: #C81623 ;
	display: inline-block;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: none
}
.elevator .elevator-floor .fs-line {
	display: block;
	width: 16px;
	margin-left: -9px;
	height: 0;
	line-height: 0;
	font-size: 0;
	border-top: 1px dotted #C81623;
	position: absolute;
	left: 50%;
	top: 35px;
	z-index: 3
}
.elevator .elevator-floor a.active .fs-name {
	background: #C81623;
	color: #fff ;
	display: block
}
.elevator .elevator-floor a.active .fs {
	display: none
}
.elevator .elevator-floor a.active .fs-name:hover {
	background: #C81623 ;
	color: #fff;
	text-decoration:none
}
.elevator .elevator-floor a:hover .fs-name {
	display: block
}
.elevator .elevator-floor a:hover .fs-line {
	display: none
}
.elevator .elevator-floor a.active .fs-line{
	display: none;
}






