@charset "utf-8";
/* CSS Document */
.margin-w1210 {
    width: 1210px !important;
    margin: 0px auto;
}
.content{
	background: #f9f9f9;
}
.flow {
	width: 1210px;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
}
.flow .cate_attr {
  	border: 1px solid #eee;
  	font-size: 12px;
  	padding: 20px;
  	margin: 20px auto;
  	background: #fff;
	overflow:hidden;
}
.flow .cate_attr .nav-tag .filter-label-ab {
  	width: 50px;
  	height:25px;
  	line-height:25px;
  	float: left;
  	font-size: 14px;
  	font-weight: 400;
  	margin-left:20px;
}
.flow .cate_attr .nav-tag .cate_attr_con {
  	float: left;
  	width: 1065px;
}
.flow .cate_attr .nav-tag .cate_attr_con .filter-all-ab {
  	width: 70px;
  	float: left;
}
.flow .cate_attr .nav-tag  .cate_attr_con .district-tab {
  	width: 988px;
  	float: left;
}
.flow .cate_attr .nav-tag a {
  	display: inline-block;
  	color: #666;
  	font-size: 12px;
  	width: 70px;
  	height: 25px;
  	line-height: 25px;
  	margin-bottom: 5px;
  	margin-left: 9px;
  	cursor: pointer;
}
.flow .cate_attr .nav-tag span {
  	padding: 3px 5px;
}
.flow .cate_attr .nav-tag .selected span {
  	color: #ffffff;
  	background: #C81623;
}
.flow-wrap {
	width: 1210px;
}
.flow-wrap .flow-item {
	float: left;
	width: 1208px;
	height: 185px;
	position: relative;
	right: 0;
	top: 0;
	z-index: 1;
	overflow: hidden;
	background-color: #fff;
	white-space: normal;
	margin-bottom: 20px;
	border: 1px #eee solid;
}
.flow-wrap .flow-item a {
	color: #666;
	display: block;
	float: left
}
.flow-wrap .flow-item a:hover {
	text-decoration: none
}
.flow-wrap .flow-item img {
	display: block;
}
.flow-wrap .flow-item a.flow-datu {
	width: 150px;
	height: 150px;
	border: 1px #eee solid;
	margin: 15px 0 0 15px;
}
.flow-wrap .flow-item a.flow-datu img {
	margin: auto;
}
.flow-wrap .flow-item .flow-content {
	width: 250px;
	float: left;
	margin-left: 35px;
	margin-top: 15px;
}
.flow-wrap .flow-item .flow-title {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	overflow: hidden
}
.flow-wrap .flow-item .flow-title a {
	display: block;
}
.flow-wrap .flow-item .flow-title a span, .flow-title a img {
	display: block;
	float: left
}
.flow-wrap .flow-item .flow-title a span {
	margin-right: 15px;
	color: #C81623;
	font-weight: bold;
}
.flow-wrap .flow-item .flow-title span.guanzhu {
	background: #C81623;
	padding: 2px 10px;
	color: #ffffff;
	border-radius: 3px;
	font-size: 12px;
	margin-left: 10px;
	cursor: pointer
}
.flow-wrap .flow-item .flow-title a img {
	padding: 5px;
	height: 33px;
}
.flow-wrap .flow-item .flow-logo{
	margin-bottom: 5px;
}
.flow-wrap .flow-item .flow-desc {
	fonts-size: 12px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	color: #606060;
	margin-bottom: 5px
}
.flow-wrap .flow-item .flow-desc span, .flow-wrap .flow-item .flow-desc a {
	float: left;
	margin-right: 5px;
	display: block
}
.flow-wrap .flow-item .flow-desc a {
	color: #606060;
	height: 20px;
	line-height: 20px;
}
.flow-wrap .flow-item .flow-desc a strong{
	margin: 0px 3px;	
}
.flow-wrap .flow-item .flow-desc a.flow-qq {
	height: 20px;
	width: 25px;
	overflow: hidden;
}
.flow-wrap .flow-item .flow-desc a.flow-qq img {
	vertical-align: middle
}
.flow-wrap .flow-item .flow-desc a strong {
	color: #C81623;
}
.flow-wrap .flow-item .flow-score{
	float:left;
	width:100px;
	margin-top:45px;
	margin-left:15px;	
}
.flow-wrap .flow-item .flow-score h3{
	font-size:14px;
	height:30px;
	line-height:30px;
	font-weight:bold;	
}
.flow-wrap .flow-item .flow-score p{
	height:26px;
	line-height:26px;	
}
.flow-wrap .flow-item .flow-score p span{
	color:#E43C3F;	
}
.flow-wrap .flow-item .flow-main {
	float: right;
	position: relative;
	z-index: 2;
	width: 550px;
	height: 150px;
	margin-top: 10px;
}
.picMarquee-left {
	overflow: hidden;
	position: relative;
}
.picMarquee-left .bda {
	padding: 0px 10px;
	height: 165px;
}
.picMarquee-left .bda .picListta{
	width:528px;
	height:160px;
	overflow:hidden;	
	position:relative;
	z-index:1;
}
.picMarquee-left .bda .picListta ul {
	position:absolute;
	left:0;
	top:0;
	width:200%;
}
.picMarquee-left .bda ul li {
	width: 115px;
	height: 160px;
	margin: 15px 8px 0px 9px;
	float: left;
	display: block;
	overflow: hidden;
	text-align: center;
}
.picMarquee-left .bda ul li a {
	width: 110px;
	display: inline-block
}
.picMarquee-left .bda ul li a.img {
	position: relative
}
.picMarquee-left .bda ul li a.name {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.picMarquee-left .bda ul li a span {
	position: absolute;
	top: 91px;
	right: -1px;
	background: #000000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	color: #ffffff;
	height: 20px;
	line-height: 20px;
	width: 100%;
	text-align: center;
	display: inline-block
}
.picMarquee-left .bda ul li a:hover {
	color: #C81623;
}
.picMarquee-left .bda ul li a img {
	width: 110px;
	height: 110px;
	border: 1px #eee solid
}
.flow-wrap-no{
	width: 1208px;
	text-align: center;
	padding: 55px 0px;
	border: 1px #eee solid;
	margin: 30px auto	
}
/*店铺分页*/
.mui-page {
	padding: 1em 0;
	overflow: hidden;
	clear: both
}
.mui-page-wrap {
	color: #999;
	font-size: 14px;
	font-weight: 700;
	font-family: \5B8B\4F53, Helvetica, sans-serif;
	float: right
}
.mui-page-wrap b {
	font-weight: 100;
	float: left
}
.mui-page-wrap a {
	color: #C81623;
	cursor: pointer;
	float: left;
	text-decoration: none
}
.mui-page-wrap a:hover {
	background-color: #EFEFEF;
	text-decoration: underline
}
.mui-page-num, .mui-page-skip {
	float: left;
	font-weight: 400
}
.mui-page-prev, .mui-page-next, .mui-page-wrap a, .mui-page-cur, .mui-page-skip {
	height: 30px;
	width: auto;
	line-height: 30px;
	padding: 0 14px
}
.mui-page-wrap a, .mui-page-prev, .mui-page-next, .mui-page-cur {
	background-color: #fff;
	border: 1px solid #E5E5E5;
	border-left: 0
}
.mui-page-wrap .mui-page-prev {
	border-left: 1px solid #E5E5E5
}
.mui-page-cur, b.mui-page-next, b.mui-page-prev {
	background-color: #EFEFEF
}
.mui-page-break {
	border-right: 1px solid #E5E5E5;
	padding: 0 4px;
	line-height: 40px;
	font-weight: 700
}
.mui-page-skip {
	padding: 0 1em;
	_padding-top: 10px
}
.mui-page-skipTo {
	width: 32px;
	height: 28px;
	margin: 0px 2px 0;
	line-height: 28px;
	font-size: 14px;
	color: #999;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #E5E5E5 
}
.mui-page-skipBtn {
	margin: -2px 0 0 2px;
	vertical-align: middle
}
.mui-page-m {
	padding: 1em 0;
	overflow: hidden;
	clear: both
}
.mui-page-m .mui-page-wrap, .mui-page-m .mui-page-skipTo {
	font-size: 12px
}
.mui-page-m .mui-page-break {
	line-height: 24px
}
.mui-page-m .mui-page-skipTo, .mui-page-m .mui-page-skipBtn {
	margin-top: 0
}
.mui-page-m .mui-page-prev, .mui-page-m .mui-page-next, .mui-page-m .mui-page-wrap a, .mui-page-m .mui-page-cur, .mui-page-m .mui-page-skip {
	height: 22px;
	line-height: 22px;
	padding: 0 8px
}
.mui-page-s {
	height: 21px;
	overflow: hidden;
	color: #999;
	font-family: \5B8B\4F53, Helvetica, sans-serif;
	font-size: 12px
}
.mui-page-s-len, .mui-page-s-prev, .mui-page-s-next {
	float: left;
	display: inline;
	margin-left: 3px
}
.mui-page-s-prev, .mui-page-s-next {
	width: 19px;
	padding: 4px 0 2px;
	line-height: 1;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #E5E5E5
}
.mui-page-s a {
	text-decoration: none;
	color: #2953A6
}
.mui-page-s a:hover {
	background-color: #efefef
}
.mui-page-s b {
	background-color: #EFEFEF
}
b.mui-page-s-len {
	background: 0 0;
	line-height: 20px;
	font-weight: 400
}
.mui-btn-s {
	padding: 0 10px;
	display: inline-block;
	height: 20px;
	background: #C81623;
	color: #fff;
	font-size: 12px;
	border: 0 none;
	border-left: 1px solid #950b00;
	border-right: 1px solid #950b00;
	cursor: pointer;
	outline: none;
	overflow: visible;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
*zoom:1;
	text-decoration: none
}
.mui-btn-s-primary:hover, .mui-btn-m-primary:hover, .mui-btn-l-primary:hover {
	color: #fff
}
.mui-btn-s:hover, .mui-btn-m:hover, .mui-btn-l:hover {
	color: #fff
}
.mui-btn-search-s:hover, .mui-btn-search-l:hover {
	color: #fff
}
.mui-btn-s-primary.mui-btn-disable, .mui-btn-m-primary.mui-btn-disable, .mui-btn-l-primary.mui-btn-disable, .mui-btn-s.mui-btn-disable, .mui-btn-m.mui-btn-disable, .mui-btn-l.mui-btn-disable {
	color: #C5C5C5
}
.mui-btn-s-primary, .mui-btn-m-primary, .mui-btn-l-primary {
	background-color: #950b00;
	border-color: #950b00;
	color: #fff
}
.mui-btn-s, .mui-btn-m, .mui-btn-l {
	background-color: #ccc;
	border-color: #ccc;
	color: #333
}
button.mui-btn-s-primary, button.mui-btn-m-primary, button.mui-btn-l-primary, button.mui-btn-s, button.mui-btn-m, button.mui-btn-l {
*border-color:black;
*filter:chroma(color=black)
}
.mui-btn-s-primary, .mui-btn-s {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: normal
}
.mui-btn-m-primary, .mui-btn-m {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold
}
.mui-btn-l-primary, .mui-btn-l {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold
}
button.mui-btn-s-primary, button.mui-btn-s {
	height: 30px;
	*margin-left:10px;
	background: #C81623;
	bordeR: none;
	color: #fff
}
button.mui-btn-m-primary, button.mui-btn-m {
	height: 25px;
*height:27px;
	line-height: 22px
}
button.mui-btn-l-primary, button.mui-btn-l {
	height: 30px;
*height:32px;
	line-height: 27px
}
.mui-btn-s-primary {
	background-position: 0 0
}
.mui-btn-s-primary-hover, .mui-btn-s-primary:hover {
	background-position: 0 -20px
}
.mui-btn-s-primary-active, .mui-btn-s-primary:active {
	background-position: 0 -40px
}
.mui-btn-s-primary-selected {
	background-position: 0 -60px
}
.mui-btn-m-primary {
	background-position: 0 -80px
}
.mui-btn-m-primary-hover, .mui-btn-m-primary:hover {
	background-position: 0 -105px
}
.mui-btn-m-primary-active, .mui-btn-m-primary:active {
	background-position: 0 -130px
}
.mui-btn-m-primary-selected {
	background-position: 0 -155px
}
.mui-btn-l-primary {
	background-position: 0 -180px
}
.mui-btn-l-primary-hover, .mui-btn-l-primary:hover {
	background-position: 0 -210px
}
.mui-btn-l-primary-active, .mui-btn-l-primary:active {
	background-position: 0 -240px
}
.mui-btn-l-primary-selected {
	background-position: 0 -270px
}
.mui-btn-s {
	background-position: 0 -300px
}
.mui-btn-s-hover, .mui-btn-s:hover {
	background-position: 0 -320px
}
.mui-btn-s-active, .mui-btn-s:active {
	background-position: 0 -340px
}
.mui-btn-s-selected {
	background-position: 0 -360px
}
.mui-btn-m {
	background-position: 0 -380px
}
.mui-btn-m-hover, .mui-btn-m:hover {
	background-position: 0 -405px
}
.mui-btn-m-active, .mui-btn-m:active {
	background-position: 0 -430px
}
.mui-btn-m-selected {
	background-position: 0 -455px
}
.mui-btn-l {
	background-position: 0 -480px
}
.mui-btn-l-hover, .mui-btn-l:hover {
	background-position: 0 -510px
}
.mui-btn-l-active, .mui-btn-l:active {
	background-position: 0 -540px
}
.mui-btn-l-selected {
	background-position: 0 -570px
}
.mui-btn-s-primary:hover, .mui-btn-m-primary:hover, .mui-btn-l-primary:hover, .mui-btn-s:hover, .mui-btn-m:hover, .mui-btn-l:hover {
	text-decoration: none
}
.mui-btn-disable {
	border: 1px solid #ccc;
	background: #f2f2f2;
	color: #c5c5c5;
	cursor: default
}
.nav-title{
	background:url(../images/common/common-icon.png) no-repeat -425px -176px;
	text-indent:18px;
}