/*
Template Name: 网软志成供货商样式
Template URI: http://www.wrzc.net/
Description: 供货商.
Version: 2030
Author: 网软志成 Team
Author URI: http://www.wrzc.net/
Template Type: type_0
*/
body {
	background: #F8F8F8
}
/* ====================
     公共样式
==================== */
.fl {
	float: left;
}
.fr {
	float: right;
}
.block{
	width:1210px;
	margin:0 auto;
	border:1px #ddd solid;	
}
.s_box{
	width:1190px;
	padding:10px;	
}
.block .s_box1 .boxCenterList{
	padding:10px 15px;
}
.block .s_box1 .boxCenterList p{
	line-height:2em;	
}
.s_box h3{
	width:1190px;
	height:40px;
	line-height:40px;
	text-align:center;	
}
.s_box h3 span{
	font-size:16px;
}
.ghs_body {
	width: 100%;
	margin: 0px auto;
}
.ghs_content1 {
	width: 100%;
	margin: 0px auto 0px;
	overflow: hidden
}
.ghs_content {
	width: 1200px;
	margin: 0px auto 0px;
	overflow: hidden
}
.ghs_title {
	height: 25px;
	padding: 5px 0px;
	line-height: 35px;
}
.ghs_title a {
	float: left;
	width: auto;
	padding: 5px 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}
.ghs_title a:hover {
	color: #333;
}
.ghs_title a.cur {
	color: #fff
}
.ghs_title em {
	float: left;
	width: auto;
	padding: 5px;
	height: 15px;
	line-height: 15px;
	text-align: center;
}
.ghs_left {
	width: 190px;
	float: left;
}
.ghs_right {
	width: 1000px;
	float: right;
}
.ghs_clear {
	width: 0;
	height: 0;
	clear: both;
}
/*搜索*/
.ghs_search {
	background-color: #F5F5F5;
	height: 35px;
}
.su_Search {
	background: url() no-repeat;
	height: 30px;
	width: 292px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: 5px;
}
#su_keyword {
	WIDTH: 230px;
	COLOR: #ccc;
	BACKGROUND: #fff;
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	border: 1px solid #ddd;
}
#btsearch {
	OVERFLOW: hidden;
	WIDTH: 54px;
	height: 26px;
	line-height: 20px;
	color: #000;
	font: 14px;
	font-weight: bold;
	cursor: pointer;
}
.tags {
	margin-left: 20px;
	font: 14px;
	height: 35px;
	line-height: 35px;
}
.tags a {
	margin-right: 15px;
	color: #DB002C;
	text-decoration: none;
}
.tags strong {
	color: #666666;
}
#brand-bar-pop {
	BORDER: #EAEAEA 1px solid;
	color: #666666;
	margin-bottom: 10px;
	background: #fff
}
#brand-bar-pop DL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	OVERFLOW: hidden;
	PADDING-TOP: 10px;
	ZOOM: 1
}
#brand-bar-pop #hotline {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}
#brand-bar-pop #hotline dt {
	float: left;
	line-height: 25px;
	margin-bottom: 5px;
}
#brand-bar-pop #hotline dd {
	float: left;
	line-height: 25px;
	margin-bottom: 5px;
}
#brand-bar-pop #online-service {
	BORDER-TOP-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}
#brand-bar-pop #online-service dt em {
	font-style: normal;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #267be5;
	font-weight: bold;
}
#seller DD A {
	COLOR: #005ea7
}
#brand-bar-pop #seller DD {
	OVERFLOW: hidden;
	WIDTH: 170px;
	WHITE-SPACE: nowrap;
	TEXT-OVERFLOW: ellipsis
}
#enter-shop {
	PADDING-TOP: 10px;
}
#enter-shop A {
	BORDER-TOP: #ddd 1px solid;
	DISPLAY: block;
	COLOR: #005ea7;
	LINE-HEIGHT: 31px;
	HEIGHT: 31px;
	TEXT-ALIGN: center
}
#enter-shop A:hover {
	BACKGROUND: #eee
}
#brand-bar-pop #online-service DT {
	LINE-HEIGHT: 25px;
	MARGIN-BOTTOM: 5px;
	float: left;
}
#brand-bar-pop #online-service DD {
	FLOAT: left;
	MARGIN-BOTTOM: 5px;
	margin-left: 5px;
}
#brand-bar-pop #online-service DD img {
	vertical-align: bottom;
}
#ghs_shop {
	text-align: center;
	margin-bottom: 8px;
}
#ghs_shop DT {
	LINE-HEIGHT: 30px;
	height: 30px;
	font-weight: bold;
	font-size: 14px;
	color: #3e403f;
}
#ghs_shop DT a {
	font-weight: bold;
	font-size: 14px;
	color: #3e403f;
	text-decoration: none;
}
#ghs_shop DD {
	margin-bottom: 5px;
}
#ghs_shop DD a {
	color: #285ccc;
}
.ghs_left_box {
	BORDER: #ddd 1px solid;
	color: #666666;
	margin-bottom: 10px;
	width: 188px;
	overflow: hidden;
}
.ghs_gooslist_titlebg {
	background: url(../images/righbg.gif) no-repeat;
	height: 17px;
	line-height: 17px;
	margin-bottom: 10px;
}
.jGoodsSort-2223 .mc {
	BORDER-RIGHT: #dcdcdc 1px solid;
	BORDER-TOP: #dcdcdc 1px solid;
	BORDER-LEFT: #dcdcdc 1px solid;
	BORDER-BOTTOM: #dcdcdc 1px solid
}
.jGoodsSort-2223 .jThreeLevel A {
	BACKGROUND: url(../images/rBEDik_ykDIIAAAAAAAFWswAzCsAADnnQJbJocAAAVy913.gif) no-repeat
}
.jGoodsSort-2223 .jThreeLevel A {
	BACKGROUND-POSITION: 0px -57px;
	DISPLAY: block
}
.jGoodsSort-2223 .jThreeLevel {
	DISPLAY: block;
	BACKGROUND: #ffffff;
	OVERFLOW: hidden;
	_height: 100%
}
.jGoodsSort-2223 .jThreeLevel LI {
	OVERFLOW: hidden;
	LINE-HEIGHT: 28px;
	HEIGHT: 28px
}
.jGoodsSort-2223 .jThreeLevel A {
	PADDING-RIGHT: 10px;
	DISPLAY: block;
	PADDING-LEFT: 40px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px
}
.jGoodsSort-2223 .jThreeLevel A.current {
	COLOR: #ff0000
}
.jGoodsSort-2223 .jThreeLevel A:hover {
	TEXT-DECORATION: underline
}
.jGoodsList-2157 .mc {
	BACKGROUND: #fff
}
.jGoodsList-2157 .mb {
	DISPLAY: none
}
.jGoodsList-2157 .mc UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 10px;
	OVERFLOW: hidden;
	WIDTH: 100%;
	PADDING-TOP: 10px
}
.jGoodsList-2157 LI {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN: 0px 0.8%;
	OVERFLOW: hidden;
	WIDTH: 22.9%;
	PADDING-TOP: 10px
}
.jGoodsList-2157 .jPic {
	BACKGROUND: #fff;
	TEXT-ALIGN: center;
	_height: 100%;
	border-bottom: 1px solid #ddd;
}
.jGoodsList-2157 .jPic A {
	DISPLAY: block;
	MARGIN: 0px auto;
	HEIGHT: 160px
}
.jGoodsList-2157 .jPic IMG {
	VERTICAL-ALIGN: top
}
.jGoodsList-2157 .jDesc {
	OVERFLOW: hidden;
	LINE-HEIGHT: 1.3;
	HEIGHT: 32px;
	_height: 32px
}
.jGoodsList-2157 .jDesc A {
	FONT-SIZE: 12px;
	TEXT-DECORATION: none
}
.jGoodsList-2157 .jPrice {
	MARGIN-BOTTOM: 5px;
	OVERFLOW: hidden;
	HEIGHT: 18px
}
.jGoodsList-2157 .jPrice .jRmb {
	COLOR: #ff0000
}
.jGoodsList-2157 .jPrice .jdNum {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #ff0000
}
.jGoodsList-2157 .jPrice .jdNumNo {
	FONT-SIZE: 12px;
	COLOR: #ff0000
}
.jGoodsList-2157 .jPrice IMG {
	MARGIN-TOP: 2px
}
.jGoodsList-2157 .jPrice .jsNum {
	TEXT-DECORATION: line-through
}
.jGoodsList-2157 .jPrice .jsNumNo {
	COLOR: #666;
	TEXT-DECORATION: none
}
.jGoodsList-2157 .jEvaluate {
	MARGIN-BOTTOM: 5px
}
.jGoodsList-2157 .jEvaluate A {
	COLOR: #005aa0
}
.jGoodsList-2157 .jEvaluate A:hover {
	TEXT-DECORATION: underline
}
.jGoodsList-2157 .jBtnArea {
}
.jGoodsList-2157 .jBtnArea A {
	BORDER-RIGHT: #e6e6e6 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #f4f4f4 1px solid;
	DISPLAY: inline;
	PADDING-LEFT: 10px;
	BACKGROUND: #f4f4f4;
FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 2px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #f4f4f4 1px solid;
	CURSOR: pointer;
	LINE-HEIGHT: 22px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #e6e6e6 1px solid;
	ZOOM: 1;
	HEIGHT: 22px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px
}
.jGoodsList-2157 .jBtnArea INPUT {
	BORDER-RIGHT: #e6e6e6 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #f4f4f4 1px solid;
	DISPLAY: inline;
	PADDING-LEFT: 10px;
	BACKGROUND: #f4f4f4;
FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 2px;
	VERTICAL-ALIGN: top;
	BORDER-LEFT: #f4f4f4 1px solid;
	CURSOR: pointer;
	LINE-HEIGHT: 22px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: #e6e6e6 1px solid;
	ZOOM: 1;
	HEIGHT: 22px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px
}
.jGoodsList-2157 .jPage {
	CLEAR: both;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 14px;
	BACKGROUND: #fff;
	PADDING-BOTTOM: 5px;
	OVERFLOW: hidden;
	PADDING-TOP: 5px;
	TEXT-ALIGN: right
}
.jGoodsList-2157 .jPage EM {
	FONT-WEIGHT: bold;
	MARGIN-RIGHT: 10px;
	FONT-STYLE: normal
}
.jGoodsList-2157 .jPage A {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 8px;
	BORDER-TOP: #ccc 1px solid;
	DISPLAY: inline;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 3px;
	MARGIN: 0px 3px;
	BORDER-LEFT: #ccc 1px solid;
	COLOR: #005aa0;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: #ccc 1px solid;
	ZOOM: 1
}
.jGoodsList-2157 .jPage .current {
	BORDER-RIGHT: #fff 1px solid;
	BORDER-TOP: #fff 1px solid;
	FONT-WEIGHT: bold;
	BORDER-LEFT: #fff 1px solid;
	COLOR: #ff6600;
	BORDER-BOTTOM: #fff 1px solid
}
.jGoodsList-2157 .jPage A:hover {
	TEXT-DECORATION: underline
}
.jGoodsList-2157 .jTab {
	OVERFLOW: hidden;
	BORDER-BOTTOM: #cecece 1px solid;
	_height: 100%
}
.jGoodsList-2157 .jTab A {
	BORDER-RIGHT: #cecece 1px solid;
	PADDING-RIGHT: 15px;
	BORDER-TOP: #cecece 1px solid;
	DISPLAY: block;
	PADDING-LEFT: 15px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: #f6f6f6;
FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	FLOAT: left;
	PADDING-BOTTOM: 4px;
	BORDER-LEFT: #cecece 1px solid;
	COLOR: #333;
	MARGIN-RIGHT: 8px;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #cecece 0px solid;
	TEXT-ALIGN: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}
.jGoodsList-2157 .jTab .current {
	BORDER-RIGHT: #cecece 1px solid;
	PADDING-RIGHT: 15px;
	BORDER-TOP: #cecece 1px solid;
	DISPLAY: block;
	PADDING-LEFT: 15px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	BACKGROUND: #f6f6f6;
FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	FLOAT: left;
	PADDING-BOTTOM: 4px;
	BORDER-LEFT: #cecece 1px solid;
	COLOR: #333;
	MARGIN-RIGHT: 8px;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #cecece 0px solid;
	TEXT-ALIGN: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}
.jGoodsList-2157 .jTab A:hover {
	BORDER-RIGHT: #c60001 1px solid;
	BORDER-TOP: #c60001 1px solid;
	BACKGROUND: #be0000;
FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#be0000');
	BORDER-LEFT: #c60001 1px solid;
	COLOR: #fff;
	BORDER-BOTTOM: #c60001 0px solid
}
.jGoodsList-2157 .jTab .current {
	BORDER-RIGHT: #c60001 1px solid;
	BORDER-TOP: #c60001 1px solid;
	BACKGROUND: #be0000;
FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00000', endColorstr='#be0000');
	BORDER-LEFT: #c60001 1px solid;
	COLOR: #fff;
	BORDER-BOTTOM: #c60001 0px solid
}
.jGoodsList-2157 .jTab .up EM {
	DISPLAY: inline;
	BACKGROUND: url(../images/icon.gif) 0px -10px;
	WIDTH: 10px;
	MARGIN-RIGHT: 5px;
	ZOOM: 1;
	HEIGHT: 10px
}
.jGoodsList-2157 .jTab .down EM {
	DISPLAY: inline;
	BACKGROUND: url(../images/icon.gif) -10px -10px;
	WIDTH: 10px;
	MARGIN-RIGHT: 5px;
	ZOOM: 1;
	HEIGHT: 10px
}
.ghs_cat {
	background: #fff
}
.ghs_cat_litbox {
	padding: 5px;
	background: #eaeaea;
}
.ghs_cat_littitle {
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #900;
	font-size: 18px;
	font-family: "微软雅黑";
	text-indent: 10px;
}
/* comment-list */
.mod-comment-list h4 {
	background: url(../images/bg_comment.gif) repeat-x 0 -216px;
	height: 32px;
	margin-top: 15px;
}
.mod-comment-list h4 strong {
	display: block;
	height: 30px;
	line-height: 30px;
	border: solid 2px #bd0021;
	border-bottom: none;
	width: 110px;
	text-align: center;
	color: #bd0021;
	background: url(../images/bg_comment.gif) repeat-x 0 -248px;
	font-size: 14px;
}
.mod-comment-list .comment-top {
	padding: 15px 0;
}
.mod-comment-list .comment-top li {
	float: left;
}
.mod-comment-list .comment-top li.comment-score {
	width: 140px;
	border-right: dotted 1px #999;
	padding-left: 15px;
}
.mod-comment-list .comment-top li.comment-score p {
	margin-bottom: 5px;
}
.mod-comment-list .comment-top li.comment-score label {
	margin-left: 5px;
}
.mod-comment-list .comment-top li.comment-grade {
	width: 200px;
	padding: 10px 15px;
	border-right: dotted 1px #999;
}
.mod-comment-list .comment-top li.comment-gather {
	width: 320px;
	padding: 0 15px;
}
.mod-comment-list .comment-top li.comment-gather h4 {
	font-size: 14px;
}
.mod-comment-list .comment-top li.comment-gather h4 strong {
	display: block;
	font-weight: normal;
	line-height: 26px;
}
.mod-comment-list .comment-top li.comment-gather dt {
	width: 40px;
	font-weight: bold;
	float: left;
	line-height: 22px;
}
.mod-comment-list .comment-top li.comment-gather dd {
	margin-left: 40px;
	line-height: 22px;
}
.mod-comment-list .comment-top li.comment-action {
	float: right;
	width: 200px;
	text-align: center;
	padding-top: 20px;
}
.mod-comment-list .comment-top li.comment-action p {
	padding: 4px 0;
	color: #999;
}
.mod-comment-list .comment-top li.comment-action .btn-addcomment, .mod-comment-list .comment-top li.comment-action .btn-addcomment-disabled {
	display: inline-block;
	width: 148px;
	height: 38px;
	line-height: 38px;
	background: url(images/bg_comment.gif) no-repeat 0 -92px;
	border: solid 2px #fdb;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.mod-comment-list .comment-top li.comment-action .btn-addcomment-disabled {
	background-position: 0 -130px;
	border-color: #e0dede;
}
.mod-comment-list .comment-top li.comment-action .error {
	background: url(../images/bg_comment_icon.gif) no-repeat 0 -93px;
	padding-left: 15px;
	color: #f00;
}
.mod-comment-list .comment-tab {
	margin-bottom: 15px;
}
.mod-comment-list .comment-tab ul {
	height: 34px;
	background: url(../images/bg_comment.gif) repeat-x 0 -278px;
	border-left: solid 1px #ebd9c0;
	border-right: solid 1px #ebd9c0;
}
.mod-comment-list .comment-tab li {
	height: 34px;
	line-height: 34px;
	padding: 0 20px;
	float: left;
	border-right: solid 1px #ebd9c0;
	cursor: pointer;
	color: #333;
}
.mod-comment-list .comment-tab li em {
	font-style: normal;
	color: #666;
}
.mod-comment-list .comment-tab li.on {
	background-color: #fffdf7;
	height: 32px;
	margin-top: 2px;
	color: #bd0021;
	width: 30px;
}
.mod-comment-list .comment-tab p {
	height: 24px;
	line-height: 24px;
	background: url(../images/bg_comment.gif) repeat-x 0 -312px;
	padding: 5px 15px;
}
.mod-comment-list .comment-tab p a {
	color: #06c;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	width: 71px;
	margin-right: 10px;
	text-align: center;
}
.mod-comment-list .comment-tab p a.on {
	background: url(../images/bg_comment.gif) no-repeat 0 -421px;
	color: #bd0021;
}
.mod-comment-list .comment-tab p a.on:hover {
	text-decoration: none;
}
.mod-comment-list .comment-list li {
	margin-bottom: 15px;
}
.mod-comment-list .comment-user {
	display: block;
	width: 80px;
	height: 85px;
	float: left;
	text-align: center;
	background: url(../images/commentDetailHeadBg.gif) no-repeat;
	padding: 3px;
}
.mod-comment-list .comment-user i {
	display: block;
	margin: 5px auto;
}
.mod-comment-list .comment-user img {
	display: block;
	height: 50px;
	width: 50px;
	margin: 4px auto;
}
.mod-comment-list .comment-user span {
	display: block;
	width: 74px;
	height: 25px;
	line-height: 25px;
	color: #999;
	overflow: hidden;
	margin: 2px auto;
}
.mod-comment-list .comment-detail {
	margin-left: 100px;
	position: relative;
	border: solid 1px #fc9;
	padding: 0 10px 10px;
*margin-top:-15px;
}
.mod-comment-list .comment-detail {
	box-shadow: 0 3px 3px #eee;
	-moz-box-shadow: 0 3px 3px #eee;
	-webkit-box-shadow: 0 3px 3px #eee;
	-khtml-box-shadow: 0 3px 3px #eee;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#eeeeee)";
filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#eeeeee');
}
.mod-comment-list .comment-detail .contentbox-arrow {
	display: block;
	width: 11px;
	height: 22px;
	position: absolute;
	top: 10px;
	left: -11px;
	background: url(images/bg_comment.gif) no-repeat -88px -346px;
	_left: -21px;
}
.mod-comment-list .comment-detail h4 {
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 9px 0;
	border-bottom: dotted 1px #ccc;
	font-weight: normal;
}
.mod-comment-list .comment-detail h4 span {
	margin-right: 15px;
	display: block;
	float: left;
	height: 20px;
	line-height: 25px;
}
.mod-comment-list .comment-detail h4 span.n-source {
	float: right;
	margin-right: 0;
}
.mod-comment-list .comment-detail h4 span.n-datetime {
	float: right;
}
.mod-comment-list .comment-detail h4 a {
	color: #06c;
}
.mod-comment-list .comment-detail .comment-content {
	line-height: 22px;
	color: #5d5d5d;
	padding: 5px;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
}
.mod-comment-list .comment-detail .comment-action a:hover {
	text-decoration: none;
}
.mod-comment-list .comment-detail .action-advance {
	float: left;
}
.mod-comment-list .comment-detail .action-advance .btn-advcomment {
	display: inline-block;
	width: 66px;
	padding-left: 22px;
	height: 25px;
	background: url(../images/bg_comment.gif) no-repeat 0 -346px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 25px;
}
.mod-comment-list .comment-detail .comment-tips {
	margin-left: 5px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	background: url(../images/bg_comment_tips.gif) no-repeat right top;
}
.mod-comment-list .comment-detail .comment-tips span {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	background: url(images/bg_comment_tips.gif) no-repeat left bottom;
	padding: 0 15px;
}
.mod-comment-list .comment-detail .comment-tips label {
	color: #835E46;
}
.mod-comment-list .comment-detail .comment-tips strong {
	font-weight: bold;
	color: #333;
}
.mod-comment-list .comment-detail .comment-tips em {
	font-style: normal;
	color: #333;
}
.mod-comment-list .comment-detail .action-rate {
	float: right;
	margin-right: 20px;
	line-height: 24px;
}
.mod-comment-list .comment-detail .action-rate a {
	color: #06c;
	margin-left: 5px;
}
.mod-comment-list .comment-detail .action-rate a span {
	color: #666;
}
.mod-comment-list .comment-detail .action-reply {
	float: right;
	line-height: 24px;
}
.mod-comment-list .comment-detail .action-reply .btn-reply {
	height: 24px;
	border: solid 1px #ccc;
	background: url(../images/bg_comment.gif) repeat-x 0 -192px;
	line-height: 24px;
	display: inline-block;
	padding: 0 10px;
	color: #666;
}
.mod-comment-list .comment-detail .action-reply .btn-viewreply {
	background: url(images/bg_comment_icon.gif) no-repeat right -2px;
	padding-right: 15px;
	display: inlne-block;
	line-height: 24px;
	margin-left: 10px;
}
.mod-comment-list .comment-detail .comment-action {
	padding-bottom: 10px;
}
.mod-comment-list .comment-detail .comment-action .comment-advance {
	display: none;
}
.mod-comment-list .comment-detail .comment-action-adv .action-advance {
	float: none;
}
.mod-comment-list .comment-detail .comment-action-adv .btn-advcomment {
	background-position: 0 -371px;
}
.mod-comment-list .comment-detail .comment-action-adv .comment-tips {
	display: none;
}
.mod-comment-list .comment-detail .comment-action-adv .comment-advance {
	display: block;
	margin: 10px 0;
}
.mod-comment-list .comment-detail .comment-action-adv .action-rate {
	float: left;
}
.mod-comment-list .comment-advance .advance-groupselect {
	border: solid 1px #C8A993;
	padding: 5px 10px;
	background-color: #FAF5EC;
	position: relative;
}
.mod-comment-list .comment-advance .advance-groupselect h5 {
	color: #333;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	margin: 0;
	padding-right: 15px;
	background: url(../images/bg_comment_icon.gif) no-repeat right 0;
	cursor: pointer;
}
.mod-comment-list .comment-advance .advance-groupselect ol {
	display: none;
}
.mod-comment-list .comment-advance .advance-groupselect ol li {
	margin-bottom: 0;
	padding: 0 10px;
	border-top: solid 1px #C8A993;
	background-color: #fff;
	line-height: 24px;
	cursor: pointer;
}
.mod-comment-list .comment-advance .advance-groupselect ol li:hover, .mod-comment-list .comment-advance .advance-groupselect ol li.hover, .mod-comment-list .comment-advance .advance-groupselect ol li.on {
	background-color: #FAF5EC;
	color: #333;
}
.mod-comment-list .comment-advance .advance-groupselect-hover ol {
	display: block;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 32px;
	border: solid 1px #C8A993;
	border-top: none;
	z-index: 10px;
}
.mod-comment-list .comment-advance .advance-content h5 {
	font-weight: normal;
	border-bottom: dotted 1px #C8A993;
	line-height: 30px;
	font-size: 12px;
}
.mod-comment-list .comment-advance .advance-content h5 strong {
	font-size: 14px;
	color: #835E47;
	margin: 0 5px;
}
.mod-comment-list .comment-advance .advance-content dl {
	border-bottom: dotted 1px #C8A993;
	padding: 5px 10px;
}
.mod-comment-list .comment-advance .advance-content dt {
	font-size: 14px;
	color: #333;
}
.mod-comment-list .comment-advance .advance-content dt strong {
	margin-left: 10px;
}
.mod-comment-list .comment-advance .advance-content dd {
	float: left;
	margin-right: 20px;
	color: #835E46;
}
.mod-comment-list .comment-advance .advance-content dd strong {
	color: #333;
	line-height: 24px;
	font-weight: normal;
}
.mod-comment-list .comment-advance .advance-content dl.total {
	padding: 10px;
}
.mod-comment-list .comment-advance .advance-content dl.total dt {
	float: left;
}
.mod-comment-list .comment-advance .advance-content dl.total dd {
	padding-top: 40px;
	padding-left: 15px;
}
.mod-comment-list .comment-reply {
	border-top: dotted 1px #ccc;
	padding: 20px 0 0 80px;
	display: none;
}
.mod-comment-list .comment-reply a:hover {
	text-decoration: none;
}
.mod-comment-list .comment-reply .reply-form {
	border-bottom: dotted 1px #ccc;
	padding-bottom: 10px;
}
.mod-comment-list .comment-reply .reply-form textarea {
	width: 520px;
	height: 80px;
	line-height: 20px;
	border: solid 1px #abadb3;
	float: left;
	display: block;
*margin-left:-100px;
	_margin-left: -50px;
}
.mod-comment-list .comment-reply .reply-form .btn-reply {
	height: 24px;
	border: solid 1px #ccc;
	background: url(../images/bg_comment.gif) repeat-x 0 -192px;
	line-height: 24px;
	float: left;
	margin-left: 10px;
	margin-top: 56px;
	padding: 0 10px;
	color: #666;
}
.mod-comment-list .comment-reply li {
	border-bottom: dotted 1px #ccc;
	margin-bottom: 0;
	padding: 5px 0;
	color: #999;
}
.mod-comment-list .comment-reply li a {
	color: #06c;
}
.mod-comment-list .comment-reply li p {
	color: #666;
	line-height: 24px;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
}
.mod-comment-list .comment-reply .btn-hidereply {
	background: url(../images/bg_comment_icon.gif) no-repeat right -23px;
	padding-right: 15px;
	display: inlne-block;
	line-height: 24px;
	margin-left: 10px;
}
.ghs_commentsList1 {
	BORDER-RIGHT: #FFCC99 1px solid;
	PADDING-RIGHT: 10px;
	BORDER-TOP: #FFCC99 1px solid;
	PADDING-LEFT: 10px;
	BACKGROUND: #fff;
	PADDING-BOTTOM: 10px;
	BORDER-LEFT: #FFCC99 1px solid;
	PADDING-TOP: 10px;
	BORDER-BOTTOM: #FFCC99 1px solid;
}
.ghs_commentsList1 .inputBorder {
	BORDER-RIGHT: #FFCC99 1px solid;
	BORDER-TOP: #FFCC99 1px solid;
	BACKGROUND: #fff;
	BORDER-LEFT: #FFCC99 1px solid;
	BORDER-BOTTOM: #FFCC99 1px solid;
	width: 80px;
	height: 18px;
}
.ghs_container {
	WIDTH: 990px;
	HEIGHT: 294px
}
.ghs_container A IMG {
	WIDTH: 990px;
	HEIGHT: 294px
}
.ghs_container IMG {
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: none
}
.ghs_td_f A IMG {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}
.ghs_num {
	right: 0px;
	FLOAT: right;
	WIDTH: 90px;
	POSITION: absolute;
	TOP: 270px
}
.ghs_num LI {
	FONT-SIZE: 12px;
	BACKGROUND: #000;
	FLOAT: left;
	MARGIN: 1px;
	WIDTH: 15px;
	CURSOR: pointer;
	COLOR: #86a2b8;
	LINE-HEIGHT: 15px;
	FONT-FAMILY: Arial;
	LIST-STYLE-TYPE: none;
	HEIGHT: 15px;
	TEXT-ALIGN: center
}
.ghs_num LI.on {
	BACKGROUND: #900;
	WIDTH: 15px;
	COLOR: #ffffff;
	LINE-HEIGHT: 15px;
	HEIGHT: 15px
}
.ghs_ctitle {
	border: 1px solid #EAEAEA;
}
.mall_cat {
	background: #F9F9F9;
	border-bottom: 1px solid #EAEAEA;
	text-indent: 10px;
	height: 35px;
	line-height: 35px;
	font: normal 15px/35px \5fae\8f6f\96c5\9ed1;
	color: #666;
}
.cat_title {
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dotted #CBCBCB;
	font-size: 13px;
	padding-left: 20px;
	background: url(../images/ghs_catbg.gif) 10px center no-repeat;
}
.last {
	border: none;
}
.top10List {
	border: none;
	width: 100%;
	margin-left: 0px;
}
.top10List ul {
	border-bottom: 1px dotted #CBCBCB;
}
.forelist {
	border: 1px solid #EAEAEA;
	height: 35px;
	line-height: 35px;
	background: #F9F9F9;
	margin: 10px 0px
}
.forelist h3 {
	text-indent: 10px;
	height: 35px;
	line-height: 35px;
	font: normal 15px/35px \5fae\8f6f\96c5\9ed1;
	color: #666;
}
.forelist .sup-list {
	float: right;
	margin-right: 10px;
	height: 35px;
	line-height: 35px;
}
.forelist .sup-list a {
}
.forelist .sup-list a img {
	vertical-align: middle
}
.screen-68 {
	margin-top: 10px;
	margin-left: 10px;
	line-height: 30px;
}
.screen-68 .scr-selected {
	background-color: #fd8aa9;
	color: #fff
}
.screen-68 .scr-select {
	margin-right: 8px;
	padding: 3px 8px;
}
.top10List {
	background-color: #fff;
}
.top10List ul {
	position: relative;
}
.top10List .iteration {
	position: absolute;
	top: 6px;
	left: 6px;
}
.top10List .iteration1 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.top10List .iteration-line {
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 10px;
	line-height: 20px;
}
.ghs_top {
	border: 1px solid #EAEAEA;
}
.su_Search .su-select {
	margin-left: 6px;
	height: 26px;
	line-height: 26px;
}
.su_Search .su-option {
	position: relative;
	top: 3px;
}
.plist .mt {
	height: 35px;
	line-height: 35px;
	background: #f7f7f7;
}
#plist-1 {
	margin-bottom: 10px;
}
supplier.phpmedia="all" .ghs_right .plist {
background: #fff;
}
.plist .mt h2 {
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	font: normal 15px/35px \5fae\8f6f\96c5\9ed1;
	color: #333;
}
.plist {
	border: 1px solid #EAEAEA;
}
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
	overflow: hidden;
	zoom: 1;
}
#pager {
	padding: 30px 0px
}
.pagebar a {
	padding: 3px 8px
}
.pagebar .page_now {
	padding: 3px 8px;
	color: #fff
}
/*店铺首页增加公告以及文章模块*/
.shop_notice {
	width: 1210px;
	margin: 0 auto;
	padding:15px 0px;
	text-align: center;
	font-size:14px;
	background:#ffffff;
}
.tabs-panel {
	width: 1210px;
	height: auto;
	margin: 15px auto 30px;
	background:#ffffff;
}
.tabs-panel ul.mall-news {
	width: 1210px;
	height: auto;
	display: inline-block;
}
.tabs-panel ul li {
	width: 33.3%;
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 5px 0px;
}
