@charset "utf-8";
/* CSS Document */
        /* 20140626 modify */
    .jShopHeader{height:30px; width:100%; background:#fafafa; position:relative; z-index:5; zoom:1; font-size:12px;}
    .jShopHeader .j-shopHeader{float:left;}
    .jShopHeader .jFixWidth{width:1210px; margin:0 auto;}
    .jShopHeader .jIm b, .jShopHeader a, .jShopHeader span, .jShopHeader em, .jShopHeader img{display:inline-block; *dispaly:inline; zoom:1; vertical-align:middle;}
    .jShopHeaderArea{height:30px; float:right; white-space:nowrap;}
    .jShopHeader.fixed{margin:0; position:fixed; top:0; z-index:5; width:990px;}

    .jShopHeader .jLogo{float:left; height:30px; line-height:30px; padding:0 10px;}
	.jShopHeader .cur{ background:#C81623;}
    .jShopHeader .jLogo a{color:#C81623; font-size:12px; text-decoration:none;}
	.jShopHeader .cur a{ color:#ffffff}

    .jShopHeader .jRating{float:left; height:30px;}
    .jShopHeader .jRating em{height:16px; line-height:16px; color:#C81623;  padding-right:15px; border-right:solid 1px #e8e8e8; font-style:normal;}
    .jShopHeader .jIconRating{position:relative; padding-top:6px; width:76px; height:24px;}

    .jShopHeader .jIconRating em{white-space:nowrap;}
    .jShopHeader .jIconHigh{background-position:-10px -268px; padding-left:20px;color:#ff6600;}
    .jShopHeader .jIconAverage{background-position:-10px -294px; padding-left:20px;color:#ff6600;}
    .jShopHeader .jIconLow{background-position:-10px -320px; padding-left:20px;color:#009900;}

    .jShopHeader .jRating .jRatingTotal{padding-left:15px; width:240px; background-color:#000; color:#999; /*border:solid 1px #ddd;*/ background:#fff; display:none; position:absolute; left:25px; top:30px; z-index:1000;padding-bottom:15px}
    .jShopHeader .jRatingTotal.show{display:block;}
    .jShopHeader th, .jShopHeader td{padding:5px;}
    .jShopHeader .jNum{color:#000;}

    .jShopHeader .jRatingTotal #jRatingTotal_table{cursor:pointer;}
    .jShopHeader .jRating:hover .jRatingTotal{display:block;}
    .jShopHeader .jRating .jRatingTotal table{}
    .jShopHeader .jRating .jRatingTotal th{color:#666;}
    .jShopHeader .jRating .jRatingTotal .shopTolal{margin:5px 15px 0px 0;}
    .jShopHeader .jRating .jRatingTotal .shopTolal.noBorder{border-top:0; margin-top:0;}
    .jShopHeader .jRating .jRatingTotal .shopTolal li{clear:both;min-height:30px;height:auto}
    .jShopHeader .jRating .jRatingTotal .shopTolal li span{float:left;padding:5px 0 5px 5px;color:#333333;}
    .jShopHeader .jRating .jRatingTotal .shopTolal li a{float:left;padding:5px;color:#C81623;}
    .jShopHeader .jIm{height: auto; line-height: auto; margin: auto; overflow: hidden; padding-left: 0; text-align: center; width: auto;}
    .jShopHeader .jIm, .jShopHeader .jCollect, .jShopHeader .jAttention{float:left;}
    .jShopHeader .jCollect{}
    .jShopHeader .jIm b, .jShopHeader .jAttention a{height:30px; line-height:30px; cursor:pointer; color:#C81623; /*text-shadow:1px 1px 0 rgba(234, 117, 120, 1);*/ background:#fafafa;}

    .jShopHeader .jIm b{padding:0 0 0 10px;}
    .jShopHeader .jIm a{padding-left:20px; color:#C81623; background:url(../images/53c493dbN0395a7b7.png) 1px no-repeat; text-decoration:none;}
    .jShopHeader .jIm a.gray{background-image:url(../images/53c493dbN0395a7b7.png);}

    .jShopHeader .jAttention a{padding:0 10px 0 15px;}
    .jShopHeader .jAttention span{padding-left:15px; background:url(../images/53ab86eaN858db4cf.gif) 1px no-repeat;}
    .jShopHeader .jIm b:hover, .jShopHeader .jCollect a:hover, .jShopHeader .jAttention a:hover{color:#C81623;}
    .jShopHeader .jIm a:hover{color:#C81623; text-decoration:none;}
    .im b{font-weight:normal}
/*左右栏布局*/
.ghs_score {
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	color: #999;
	overflow: hidden;
	width: auto;
}
.ghs_score span {
	float: left;
}
.ghs_score em {
	float: left;
	color: #C81623;
	padding: 0 2px 0 4px;
}
#plist {
	margin-bottom: 0
}
#plist .list-h {
	margin-bottom: 10px;
	zoom: 1
}
#plist .list-h:after {
	content: '\20';
	clear: both;
	display: block
}
#plist li {
	width: 230px;
	padding: 0 13px 10px;
	_padding: 0 12px 10px;
	text-align: left;
	float: left;
}
#plist .p-img {
	position: relative;
	height: 160px;
	border: 1px solid #fff;
	transition: border .3s ease-in 0s;
	text-align: center
}
#plist .p-price {
	margin-top: 5px;
	height: 22px
}
#plist .p-price em {
	float: left;
	font-size: 11px;
	color: #E4393C
}
#plist .p-price strong {
	margin-right: 4px;
	font-size: 14px;
	color: #E4393C
}
#plist .p-price i.prebuy-num {
	font-style: normal;
	font-size: 12px
}
#plist .p-price a:link, #plist .p-price a:visited, #plist .p-price a:hover {
	text-decoration: none;
	color: #fff
}
#plist .extra {
	padding: 2px 0;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	color: #005aa0
}
#plist .extra a:link, #plist .extra a:visited {
	color: #005aa0
}
#plist .btns {
	margin-top: 10px;
	zoom: 1
}
#plist .btns:after {
	content: '\20';
	display: block;
	clear: both
}
#plist .btn-compare {
	float: left;
	height: 19px;
	padding: 0 9px;
	border: 1px solid #ddd;
	border-radius: 2px;
	margin: 0 4px 0 0;
	background: #F7F7F7;
	line-height: 18px;
	line-height: 19px\9;
	text-align: center;
	text-decoration: none;
	color: #333;
	background: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#f2f2f2));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2");
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2")"
}
#plist .btn-compare {
	position: relative;
	padding: 0 9px 0 25px;
	margin-right: 0;
	cursor: pointer
}
#plist .btn-compare span {
	position: absolute;
	left: 9px;
	top: 4px;
	width: 11px;
	height: 11px;
	margin-right: 0;
	background: url(../images/20130603A.png) no-repeat -68px -50px;
	font-size: 0
}
#plist .btn-compare:hover {
	border: 1px solid #ccc;
	box-shadow: 0 1px 1px rgba(0,1,1,.08);
	cursor: pointer;
	color: #333;
	background: -moz-linear-gradient(top, #f9f9f9, #f6f6f6);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f6f6f6));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#f6f6f6");
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#f6f6f6")"
}
.forelist .sup-list{
	margin-top:5px;
}